[2018-11-21 06:02] callum-p commented on #345
+1. Sometimes we put our tests in the same folder as the other source files to make imports easier. I need to exclude "test_*.py".

[2018-11-21 11:48] naglis opened #431 "Check for calls of functions susceptible to AST stack overflow"
**Is your feature request related to a problem? Please describe.**
It is possible to crash the Python interpreter by passing sufficiently large/complex string to `ast.literal_eval`, `ast.parse`, `compile`, `dbm.dumb.open`, `eval` or `exec` due to stack depth limitations in Python’s AST compiler.

My biggest issue is with `ast.literal_eval` which is recommended as a safe(r) alternative to `eval` by

[2018-11-27 16:08] ericwb commented on #426
Pip might be installing bandit to /usr/local/bin instead of /usr/bin. If so, ensure that /usr/local/bin is in your path.  But I'd generally recommend double checking whether the bandit executable is in your path.

[2018-11-27 16:34] ericwb commented on #409
I think you're running into this issue https://github.com/yaml/pyyaml/issues/126.  Probably the lower-constraints.txt should be bumped to 3.13

[2018-11-27 23:57] #406 closed

[2018-11-28 00:38] ericwb commented on #426
Also, if you're using Windows, you may not have the path to the scripts directory set in your path.

For example
C:\Users\testuser\AppData\Local\Programs\Python\Python37-32\Scripts

[2018-11-29 01:19] junDD opened #433 "Encounter "WARNING: Test 'XXXX' has no ID, skipping." when running own test plugin against example test file"
**Describe the bug**
I wrote my own test plugin and put it under bandit/plugins. There are some functions in the py file and I add a decorator @test.test_id('BXXX') for the main function

**To Reproduce**
Steps to reproduce the behavior:
1. Add my own test plugin under bandit/plugins with the decorator @test.test_id('BXXX') and @test.checks('Call')

2. Put the test py file in bandit/examples
3. Ru

[2018-11-29 12:01] stinovlas commented on #419
Can't you just use `allow_failure` on GitLab, `allow_failures` on Travis or similar option in other pipeline runners? This will produce failed job that won't break the whole build, which is IMHO much better solution, because you still get the warning in form of a failed job.

Also, if you really want zero exit code, can't you just use `bandit || true`?

It seems kind of pointless to me to build th

[2018-11-30 00:20] mchlnix commented on #319
Is there a timeline for this? I'd also support bandit flagging individual modules. This would even promote the use of the newer safer algorithms in pycryptodome.

[2018-11-30 00:58] #433 closed

[2018-12-02 05:49] #427 closed

[2018-12-03 17:48] jixson12 commented on #422
Any updates?

[2018-12-09 10:32] xuhcc commented on #318
There is a section in readme file which suggests using a `.bandit` file:

https://github.com/PyCQA/bandit/blob/master/README.rst#per-project-command-line-args

This sounds like `.bandit` is a default name for config file.

[2018-12-11 03:29] #426 closed

[2018-12-11 14:39] Poil opened #435 "defusedxml is deprecated (by his author)"
Hi,
In this issue the author said no more need of defusedxml but bandit still recommend it.

https://github.com/tiran/defusedxml/issues/25
`defusedxml.lxml is no longer needed and supported. Nowadays libxml2 has builtin limitation for entity expansion.`

What I can find about these vulnerabilities, libxml2 seems to have been patched in 2013, ref :
CVE-2013-1664
CVE-2013-1665

They have been patche

[2018-12-14 16:55] domanchi opened #437 "yaml.CSafeLoader is being flagged as false positive"
**Summary**
B506 allows the following invocations of safe loading:

[code]

However, `yaml.CSafeLoader` is still being flagged, despite it being a safe loader.

[2018-12-18 15:52] Plazmaz opened #438 "Massive reduction in performance after 1.5.0"
**Describe the bug**
After the 1.5.0 release, there appears to have been a significant reduction in performance. For instance, here is the output of `time bandit -r .` using 1.4.0:
[code]

And here it is with 1.5.0:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `time bandit -r .` within a medium to large-size project on 1.4.0
2. Note the time.
3. Run the same command again, but

[2018-12-18 15:58] Plazmaz commented on #438
Worth noting this is also an issue in 1.5.1

[2018-12-19 02:51] ericwb opened #439 "Add an auto-fix or auto-correct feature"
**Is your feature request related to a problem? Please describe.**
It's nice that Bandit flags lines of code that require attention, but it would be even more valuable to suggest fixes for problem lines.  Other linters such as ESLint provide a --fix command line option to automatically fix problems it finds.

See https://eslint.org/docs/user-guide/command-line-interface#options

**Describe the sol

[2018-12-19 18:13] lukehinds commented on #439
Nice idea. Would it give a generic example, or try to amend and suggest the flagged line of code from the project being scanned?

[2018-12-19 19:36] #383 closed

[2018-12-19 23:52] ericwb commented on #439
@lukehinds Yeah, I was thinking Bandit would output a new field of the suggested fix.  But it could also have a command line option to actually make the changes in the file automatically.  Similar to what ESLint offers.

[2018-12-23 15:39] lukehinds commented on #438
It might be worth us putting in some debug timers on each plugin call to see if its any in particular that are causing the issue.

[2018-12-24 18:54] ehooo commented on #366
I think that use or not use the exception variables are not a security issue.

Do you mean that always on except clause should define a var and use it on the body?
I suppose you talk about only for generic exceptions.

However, in any case, you could manage this error using the [log.exception on logging lib](https://docs.python.org/2/library/logging.html#logging.Logger.exception) or [traceback](ht

[2018-12-26 21:14] ehooo commented on #438
I don't see any possible solution to solve it.
If I'm not wrong the only changes was on:

For [call.py](https://github.com/PyCQA/bandit/blob/master/bandit/blacklists/calls.py) file
+ 'pickle', 'B301',
         - 'dill.loads',
         - 'dill.load',
         - 'dill.Unpickler'
+ 'md5', 'B303':
        - 'hashlib.sha1',
        - 'Crypto.Hash.SHA.new',
        - 'Cryptodome.Hash.MD2.new',
        -

[2019-01-08 22:47] mkbhanda opened #443 "Insecure URLs that leak api-keys, usernames, and passwords"
**Is your feature request related to a problem? Please describe.**
Get URLs that have parameters, whether http or https, leak sensitive information when they capture parameters such as API-Keys, usernames, and passwords. Browser extensions, bookmarks, history, and server log files capture these, even when operating in anonymous mode. Browser providers could share the information and log files need

[2019-01-09 07:31] lukehinds commented on #443
Good idea, I like it

Do you plan to work on this @mkbhanda ?

[2019-01-09 22:50] mkbhanda commented on #443
Happy New Year Luke! Am afraid I cannot get to it for another 3 weeks, but if someone has not knocked it off by Feb, will jump on it.
Sincerely,
Malini

From: Luke Hinds <notifications@github.com>
Reply-To: PyCQA/bandit <reply@reply.github.com>
Date: Tuesday, January 8, 2019 at 11:31 PM
To: PyCQA/bandit <bandit@noreply.github.com>
Cc: Malini Bhandaru <mbhandaru@vmware.com>, Mention <mention@norepl

[2019-01-10 06:47] lukehinds commented on #443
No need to have it right away @mkbhanda - I have assigned to you and if any problems, just comment or unassign yourself. thanks in advance for your contribution(s).

[2019-01-10 21:30] richardhanson opened #444 "PyYAML yaml.load safe after v4.2b2"
**Describe the bug**
`yaml.load` is not safe by default, but only until version 4.2b2. All versions >=4.2b2 should not trigger a bandit warning when using `yaml.load`.

**To Reproduce**
Steps to reproduce the behavior:

**test.py**
[code]
1. Install PyYAML `pip install PyYAML==4.2b2`
2. Run `bandit test.py`
3. See error

**Expected behavior**
No error is triggered.

**Bandit version**

[code]

**A

[2019-01-11 11:15] lukehinds commented on #444
I agree, let's wait until 4.2

In the meantime though, let's keep this open for discussion on what sort of call we should make to establish the current version of pyyaml imported into the scanned code base. Do we have any existing cases of a conditional around versions @ericwb ?

[2019-01-11 12:55] lukehinds commented on #438
Tracked down the issue to Python 2 and < Release 1.50

[code]

[2019-01-11 13:17] lukehinds commented on #422
For now @jixson12 , if possible change to python 3 and you should not see the performance issue. See comment: https://github.com/PyCQA/bandit/issues/438#issuecomment-453508385

[2019-01-11 15:50] jixson12 commented on #422
Ok, I'll close this issue as we're going to be upgrading to python 3 soon anyway, thanks.

[2019-01-11 15:50] #422 closed

[2019-01-11 20:02] lukehinds commented on #435
Reading into this more, its not defusedxml that has been depreciated, its the `defusedxml.lxml` function. Going to change this to invalid.

[2019-01-11 20:03] lukehinds commented on #435
Reading into this more, its not defusedxml that has been depreciated, its the `defusedxml.lxml` function. Going to change this to invalid.

[2019-01-11 20:03] #435 closed

[2019-01-14 19:00] Plazmaz commented on #438
@lukehinds unfortunately that's not currently an option in my scenario. The temp fix I've implemented scans a much smaller subset of files, but it's definitely sub-optimal. One thing I noticed was that calls to `re` seemed to be taking up a large amount of the execution time, so if there's anywhere that doesn't use precompiled regexes, that might be worth looking at.

[2019-01-14 21:41] ghugo commented on #438
Looks like this is the commit where performance tanks:
https://github.com/PyCQA/bandit/commit/85e5667ddbc271ff04d4233fb73d9ce16712e119

Commenting out the added blacklisted items brings performance back to being the original speedy self.

[code]
After commenting out:
[code]
[code]

[2019-01-16 13:20] cleder opened #445 "Report mutable class attributes as warning"
Mutable class attributes may lead to information leaking from one instance to another.

[code]

Mutable class attributes should be reported as potential security risks.
The logic same should apply for mutable default values of call parameters for functions

[2019-01-16 14:10] cleder commented on #445
Not sure if this should go in here or if https://github.com/PyCQA/flake8-bugbear/issues/57 is the more appropriate place to implement this

[2019-01-17 11:37] lukehinds commented on #438
nice find @ghugo

I wonder what is the factor that causes the performance variations between python 2&3, something.

[2019-01-17 12:07] ehooo commented on #438
I just check the function fnmatch on python core and it was changed:
https://github.com/python/cpython/blob/2.7/Lib/fnmatch.py#L69
https://github.com/python/cpython/blob/3.4/Lib/fnmatch.py#L64

Changed on the commit:
https://github.com/python/cpython/commit/5b0c1e07ca169feced6d6458f80c2b9ccc6227e0#diff-b62de5c6bce57a277ae7bc60324011ec

[2019-01-18 07:50] lukehinds commented on #438
In light of @ehooo's findings I recommend we go 'won't fix' , **but** update the README with a recommendation that folks use py3 if utilising the crypto plugins with a link to this issue. That way if they have a super need to run Bandit under py2 and with the crypto plugins, they can pursue the python code linked in [comment](https://github.com/PyCQA/bandit/issues/438#issuecomment-455149645)

[2019-01-21 22:47] cojoco commented on #220
With regards to this issue, just wanted to point out that the [Warnings-NG plugin](https://github.com/jenkinsci/warnings-ng-plugin) is out of beta, and they appear to be accepting pull requests to support new tools based on the README.

[2019-01-25 05:16] a-wakeel commented on #444
As per [**pyyaml**](https://pyyaml.org/wiki/PyYAMLDocumentation) docs:

isn't it valid to bring a warning on the usage of _**load()**_ function then?

[2019-01-25 07:46] lukehinds commented on #444
@a-wakeel as said by @richardhanson , as of version v4.2b2 yaml.load is aliaed to yaml.safe_load - so effectively its safe to use yaml.load after that release.

[2019-01-25 09:01] lukehinds commented on #214
@ehooo , will take a look.

[2019-01-25 09:11] lukehinds commented on #427
Hi @calvinli

I did not follow this issue to closely, but you're welcome to make a pull request if you like.

[2019-01-25 09:15] lukehinds commented on #428
@ehooo I think we can close this now? (fixed in #387)?

[2019-01-25 17:59] richardhanson commented on #444
Per the [messages from the maintainers yesterday](https://github.com/yaml/pyyaml/issues/193#issuecomment-457387449), this may be the default behavior forever

[2019-01-29 18:40] #386 closed

[2019-02-01 21:18] stefanfoulis opened #447 "Allow outputting the report in multiple formats"
**Is your feature request related to a problem? Please describe.**
In some cases, it is desirable to have the report in multiple different formats.

**Describe the solution you'd like**
Allow outputting the report in multiple formats with just one run.

**Describe alternatives you've considered**
Running the command multiple times for the different report formats can take very long on large codeba

[2019-02-02 12:10] ehooo opened #448 "Multiples index error on Context class"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a rule for 'Bytes', 'Str', 'ImportFrom', 'Import' or 'FunctionDef'
2. With the context call to `call_args` or `get_lineno_for_call_arg`

**Expected behavior**
No crack

**Bandit version**
[code]

**Additional context**
Also happens with `function_def_defaults_qual`

[2019-02-04 09:39] Poil commented on #435
Hi,

OK but today we have a warning on ```from lxml import etree```
If defusedxml.lxml is deprecated we should not have a warning on this, no ?

Best regards,

[2019-02-05 10:03] riconnon commented on #418
Would love to see this. Similar to how flake8 handles `# noqa`

[2019-02-06 10:32] gothraven commented on #345
is it possible ? or not yet ?

[2019-02-06 10:49] gothraven commented on #400
better use
[code]

[2019-02-06 11:26] thilp commented on #345
I'm also very eager to see this feature in Bandit, so I just created a PR to address this. Please review and support if you are interested!

[2019-02-09 17:14] pythonGalaxy opened #452 "xml.sax.saxutils.escape and quoteattr incorrectly flagged as insecure"
[code]

Are flagged as Severity: Low Confidence: High. Instructions are to use the equivalent defusedxml package.

1. I do not believe these imports to be insecure as they are simple text substitutions.
2. There is no defusedxml equivalent.

**Expected behavior**
Do not mark escape and quoteattr as vulnerable.

**Bandit version**
[code]

[2019-02-10 11:31] kinow opened #453 "False positive for jinja template with autoescape and select_autoescape"
**Describe the bug**

If a developer does not import `from jinja2 import select_autoescape`, but instead imports `import jinja2` and then use it as `autoescape=jinja2.autoescape`, it causes bandit to report it as an issue **B701:jinja2_autoescape_false**.

While working on [Cylc](https://github.com/cylc/cylc) started working on an [issue](https://github.com/cylc/cylc/pull/2945) to fix Codacy issue

[2019-02-12 13:57] michaltango opened #455 "Subprocess usage flagging"
**Describe the bug**

On
[code]

and

On

[code]

**Expected behavior**
Is that expected behaviour to flag import of subprocess module and also flag call function with shell=False ?

**Bandit version**

[code]

**Additional context**

[2019-02-20 02:17] ericwb commented on #448
Fixed with #449 449

[2019-02-20 02:17] #448 closed

[2019-02-22 21:16] Plazmaz commented on #438
Just wanted to add that there is still a significant reduction in performance with ANY of the tests under B303 enabled, not just the ones added in https://github.com/PyCQA/bandit/commit/85e5667ddbc271ff04d4233fb73d9ce16712e119. It seems to get better the more of those I comment out, but is still very slow in general.
With commented out lines in B303:
[code]

B303 Disabled:
[code]
Also, my original

[2019-02-28 07:36] andreas-h opened #457 "Skip configuration for certain paths only"
**Is your feature request related to a problem? Please describe.**
I'm a bit annoyed by the B101 assert_used warnings in my testing code, as pytest recommends (and I follow) using assert statements.  It's confusing that bandit complains about them.  On the other hand, I want to be warned about using assert in my non-test code.

**Describe the solution you'd like**
I'd like to be able to ignore pat

[2019-02-28 09:30] rooterkyberian commented on #318
I find it tremendously useful when a tool has a well known default config filename, since I can quickly see if project is using a particular tool, and what proves even more useful: search thru github repositories by filename (e.g. `filename:.bandit.yaml`) to see different, working configurations example.

[2019-02-28 09:45] lukehinds commented on #318
ok, if someone can make a patch making `bandit.yml` the default, please go ahead.

But it's imperative we keep the `-e` arg present for those who have already implemented their own config naming.

[2019-02-28 09:47] lukehinds commented on #457
sounds rationale to me @andreas-h , is this a patch you would like to work on?

[2019-02-28 23:13] bgrant opened #459 "`bandit -rf custom` only shows up to 3 warnings"
**Describe the bug**
Running `bandit` with `-rf custom` seems to output a maximum of three warnings (no matter how many there are).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone `bandit`
2. Run `bandit -rf custom examples` (on the provided `examples` directory)

**Output**
[code]

**Expected behavior**
I would expect to see all  security errors identified, in a one-per-line format.

[2019-03-01 16:54] demianbrecht commented on #459
It looks like this was fixed as a side effect of #380 (the actual issue seems to be due to @ericwb's comment). Not sure what your release schedule looks like, but this particular fix looks like it missed the 1.5.1 release by a few days. Any thoughts on when this might be released?

[2019-03-01 17:12] ehooo commented on #455
@michaltango in both cases call to subprocess.call has risk, the only difference is the level of the severity and confidence.

[2019-03-01 18:19] ericwb commented on #318
`.bandit` is for command line options.  It is a INI file format, not YAML.

`bandit.yml` or whatever `*.yml` a user passes to `-c` is for more extensive customization of test plugins.

Please do not try to combine or change the naming.  If anything, the documentation should be made more clear as evident by the comments in this issue.

[2019-03-01 23:24] rooterkyberian commented on #318
Whats is wrong with combining the two in single yml? as you can see it is confusing for the users (myself included) and trying to fix that with additional documentation when combining the two seems to be
* simpler (1 file, with a default name, instead of 2 with some loose naming recommendations)
  * default filename makes it much simpler to search for on github as well for "most common configurati

[2019-03-04 04:36] ericwb commented on #444
@lukehinds We have some existing cases like this.  The first that comes to mind is HTTPSConnection which used to be unsecure, but now has proper cert verification.  The problem for HTTPSConnection with conditional checking/warning is that we don't know what version of Python the code we're scanning will be run with.  The user may scan with one version and run with another.

But for 3rd party modul

[2019-03-06 14:40] rbernand opened #462 "B506: yaml_load not properly detected"
**Describe the bug**
In version bandit 1.1.0 the following line is properly detected as issue:
`from yaml import load`
Not anymore in upstream version.

**To Reproduce**
1. With a given file demo.py:
[code]
2. Then run `bandit demo.py`
[code]

**Expected behavior**
[code]

**Bandit version**
[code]

[2019-03-07 18:59] golightlyb commented on #384
Can I be cheeky and ask is there an ETA on the next pypi release including this? Many thanks

[2019-03-12 06:29] ehooo commented on #216
Hi @ericwb i will do this rule
What do you think must be the values of this rule?
I think severity=MEDIUM confidence=HIGH, what do you think?

[2019-03-14 10:43] bittner commented on #396
Why did you close this issue, @darakian?

The documentation for configuring the execution of Bandit is indeed sparse.

- And why is there [an `--ini` option](https://github.com/PyCQA/bandit#usage), but the docs [only refer to YAML](https://bandit.readthedocs.io/en/latest/config.html) as a configuration file format?
- How do I configure the targets in the ini file?

Can we reopen the issue?

[2019-03-14 11:13] bittner commented on #318
I'd prefer to see a `[bandit]` section read from my `tox.ini` file, as do other tools (like pytest, flake8, behave, etc.), which can help to reduce clutter in Python projects.

Also, the options available in a configuration file need to be fully documented, ideally also printed by the CLI `--help` option (or so). See also #396.

[2019-03-14 14:55] bittner commented on #457
Alternatively, can we make Bandit a bit smarter in a way that it recognizes when `assert` is used in a test module, and _not_ warn about it?

[2019-03-14 16:42] darakian commented on #396
You're welcome to reopen the issue, but solved my issue by using some bash to replace the include/exclude logic.

[2019-03-14 16:58] bittner commented on #396
I can't reopen it. Only you and project maintainers can. Thanks in advance! :+1:

[2019-03-14 17:16] darakian commented on #396
@bittner Whoops. Reopened for ya. If it helps the conversation here's the bash/git logic I ended up with
[code]
or in English
[code]
It's a bit of a hack, but it's been solid for build system. The static file is used to prevent bandit from failing in the event that the branch has no files which differ.

[2019-03-14 18:22] bittner commented on #396
Awesome hack! Yeah, it's _reeeeaally_ a hack! The `-iii` and `-lll` looks funny. :laughing: OMG, glad it works for you in production.

I have also solved "my" problem, which was finding out how to tell the bandit to steal all options from my `tox.ini` file -- and what to put in the mighty `[bandit]` section. Looks like this:

[code]
... which allows me to run simply `tox -e bandit`.

But that was

[2019-03-14 23:26] ehooo commented on #439
I think this is a great idea.
Maybe could be added on the Issue class a new optional field.

[2019-03-14 23:52] ehooo commented on #429
Maybe use the eye

[code]

[2019-03-20 18:39] sukantking opened #466 "bandit baseline does not report results"
**Describe the bug**
The results field of the output from a bandit-baseline execution does not contain the bandit issue for a positive test case and hence passes the bandit-baseline even though a bandit vulnerability is introduced.

**To Reproduce**
Steps to reproduce the behavior:

For demonstrating this case, I have chosen a file from openstack/horizon project and trying to introduce a B603 in a

[2019-03-21 08:57] bittner commented on #396
Looks like I overlooked the WARNING: Running Bandit with just the `--ini` option doesn't actually do what I want:
[code]
At least the `recursive` option is not recognized (as in: read from the configuration file), so the `-r` option must be provided from the command line. Which is a shame. :worried:

A successful call must look like this:
[code]
... or with a `.bandit` file in the local directory:

[2019-03-21 09:17] bittner commented on #419
Why would someone? If you don't use GitLab, if you don't use Travis, if you run things locally you're screwed with this solution.

I believe, it would be a good idea to align the use of CLI and configuration options with the other common tools in the Python tool chain (flake8 and Pylint, most importantly) to honor muscle memory. Both, [flake8](https://flake8.readthedocs.io/en/latest/internal/cli.h

[2019-03-21 09:36] bittner commented on #274
Why was this closed?

Both the optional target argument and the tox.ini file configuration section are valuable enhancements.

Can we reopen this issue?

[2019-03-21 09:46] bittner opened #467 "Use current directory unless explicitly specified"
**Is your feature request related to a problem? Please describe.**
A usability issue, not a technical problem. It's also about an alignment of the CLI handling with, e.g., flake8, to honor programmers' muscle memory.

**Describe the solution you'd like**
Bandit should assume to be meant to run against the current folder, ideally recursively. Hence, running just `bandit` would try to look up a conf

[2019-03-21 21:03] ericwb commented on #467
I do agree.  And it shouldn't cause any backwards capability issue that I can think of.  It would make the `-r` redundant, but that's okay.

[2019-03-25 22:43] ericwb commented on #274
@bittner This issue was transferred incorrectly from Launchpad in the openstack namespace.  The bug was fixed in LP.  See https://bugs.launchpad.net/bandit/+bug/1730307

[2019-03-26 07:25] simonfagerholm opened #468 "Create a new release with pre-commit support"
**Is your feature request related to a problem? Please describe.**
When using bandit as as pre-commit hook using [pre-commit](https://github.com/pre-commit/pre-commit) (introduced in bandit in #411) a big problem is that no current release supports it. This can be very confusing as the documentation in this repo suggest that a release tag should be used and always using master is not ideal in a pr

[2019-03-28 22:32] thanatos commented on #418
And _please_ use the english identifiers, e.g., `assert_used`; forcing someone to guess what `B101` means / forcing me to look it up is just annoying.

[2019-03-28 22:36] thanatos commented on #455
As a new user of `bandit`: the `.call` call, sure, but `import subprocess` is harmless, and dinging me twice for every use (and forcing me to `# nosec` both of them) just seems pointless. (And I've ended up just wholesale `--skip`'ing the `import subprocess` warning, since I don't think it adds anything.)

[2019-03-28 22:43] thanatos opened #469 "Allow # nosec on the preceeding line"
**Is your feature request related to a problem? Please describe.**
I've been asked/required to elaborate on the rationale for any `# nosec` comments in the codebase. (This is a good idea/practice, IMO.) However, generally, there's little room in the margin on the line on which a `# nosec` currently needs to be placed.

**Describe the solution you'd like**
I'd love it if I could place the `# nosec`

[2019-04-09 16:46] zachvalenta opened #471 "badge for Bandit itself"
Does Bandit have a badge of its own I could put in a README to indicate that I'm using it?

Thinking of something like [the badge for Black](https://github.com/ambv/black).

[2019-04-10 05:17] MVrachev opened #472 "Runtime error with screen formating"
**Describe the bug**
I am scanning many repositories with a single command
[code]
and I get this result:
![image](https://user-images.githubusercontent.com/16246778/55853182-9b324480-5b68-11e9-9353-7137582528f1.png)

**To Reproduce**
Steps to reproduce the behavior:
Not sure how to reproduce to be honest. :D
Maybe just do as I did scan a lot of repositories using the default output.

**Expected be

[2019-04-10 07:25] MVrachev commented on #472
I installed Bandit for python3 and again I get this:

![image](https://user-images.githubusercontent.com/16246778/55859518-ea817080-5b7a-11e9-8c45-a485462ae33a.png)

with this command:
[code]

[2019-04-10 12:43] lukehinds commented on #472
Is this within a `screen` session? It seems to be some issues with unicode rendering.

[2019-04-12 14:37] ericwb commented on #207
This issue came from Launchpad bugs where it was closed because a blueprint was opened instead to track it.  It should remain open on GitHub.

Launchpad Bug:
https://bugs.launchpad.net/bandit/+bug/1518270

Launchpad BP:
https://blueprints.launchpad.net/bandit/+spec/tarfile-check-plugin

[2019-04-12 14:39] ericwb opened #474 "Run checks in threads to speed up execution and analysis"
Source blueprint: https://blueprints.launchpad.net/bandit/+spec/use-threading-when-running-checks

Many static analysis tools offer parallelization of execution to make checking large amounts of code faster. Flake8, for example, added the -j flag so that files would be checked in parallel. When running bandit against large amounts of code, e.g., openstack/glance, the checks take quite a while. For

[2019-04-12 14:44] ericwb commented on #471
We don't currently have anything like this, but could consider it.  Would you like to work on this?

[2019-04-12 14:49] ericwb opened #475 "When logging to the console, we should use stderr"
From Bandit Launchpad blueprints:
https://blueprints.launchpad.net/bandit/+spec/log-to-stderr

As noted on https://review.openstack.org/#/c/167522/1/bandit/bandit.py, when we're logging to the console, we should choose to log to stderr instead of stdout. This allows users to collect the logging separately from the generated output. In the case of the review, when generating logs and formatting the

[2019-04-12 14:52] ericwb opened #476 "Can symtable provided additional capabilities?"
Transfer of OpenStack blueprint to GH issue:
https://blueprints.launchpad.net/bandit/+spec/use-symtable

Investigate if symtable can provide additional capabilities and improve accuracy of tests.

[2019-04-12 14:53] ericwb opened #477 "Add a plugin to detect os.join with input"
Transfer of OpenStack blueprint to GH issue:
https://blueprints.launchpad.net/bandit/+spec/add-os-join-plugin

If os.join is used with un-filtered user input it can lead to path traversal. A plugin that detects its use could be useful for pentesting.

[2019-04-12 14:55] ericwb opened #478 "Ensure that each #nosec usage has an accompanying explanation"
Transfer of OpenStack blueprint:
https://blueprints.launchpad.net/bandit/+spec/nosec-has-comment

#nosec tags should not just be used to make problems go away. Every time somebody uses #nosec it should be accompanied by an explanation for why this really isn't a security issue.

[2019-04-12 14:56] ericwb opened #479 "Allow a test to return more than one Issue"
Transfer of OpenStack blueprint:
https://blueprints.launchpad.net/bandit/+spec/return-multiple-issues

Modify tests and test runner so that instead of a test returning a single bandit.Issue as soon as it is detected, the test can complete and then potentially return a number of bandit.Issue objects.

[2019-04-12 14:58] ericwb opened #480 "Add security test to detect when sudo is being called in code."
Transfer of OpenStack blueprint:
https://blueprints.launchpad.net/bandit/+spec/detect-sudo-use

This could be quite noisy, but would be good to have. I think that now we have documentation we can add tests like this but have them disabled by default if they prove too noisy in practice.

[2019-04-12 14:59] ericwb opened #481 "Taint tracking"
Transfer of OpenStack blueprint:
https://blueprints.launchpad.net/bandit/+spec/taint-tracking

Perform static taint tracking. At first this would be within a function. Make a best effort to detect when input is being cleaned before being passed to dangerous functions. Detect when input is not being cleaned before being passed to dangerous functions.

[2019-04-12 15:49] #345 closed

[2019-04-13 14:50] zachvalenta commented on #471
Took a stab at it in this PR https://github.com/PyCQA/bandit/pull/482

Tried it out on a [personal project](https://github.com/zachvalenta/create-python-app) and looks pretty nice!

[2019-04-13 14:56] Garito opened #483 "Using bandit before eval"
Hi!
I'm programming a system where the user can add small python snippets like actions (notify, add_tag and things like this)

As this is a very dangerous situation, I was wondering if bandit could be a good way to pre-analize those scripts before putting them in a revision queue or rejecting them

How can I use bandit in this situation? Meaning how to call it from my code (I only can see command

[2019-04-17 23:26] MartinFalatic opened #484 "Time to process a long set/lists of strings increases exponentially with the number of strings"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Run bandit on any of the files attached in [Examples.zip](https://github.com/PyCQA/bandit/files/3091886/Examples.zip)

2. Notice how the run time increases exponentially (user time approximately quadruples as the number of strings in the set doubles.)

(This also occurs i

[2019-04-19 14:13] edkek commented on #447
I have a need for this feature, glancing at the CLI package would simply invoking
[code]
in a for loop, changing the `args.output_format` parameter with some form of list that's passed as an argument. Maybe `args.output_format` could always be treated as a comma separated list? That way people currently doing something like `-f csv` won't have to change anything, but people also have the option to

[2019-04-21 15:55] atugushev commented on #468
Thanks for raising the issue! Look forward to it. 🙏

[2019-04-22 10:23] raratiru commented on #373
Bandit reports this even when performing a self test:

[code]

[2019-04-23 14:57] ericwb opened #486 "No content on several links for plugins"
**Describe the bug**
The readthedocs page has 3 three links that have no content.  Namely:

https://bandit.readthedocs.io/en/latest/plugins/b610_django_extra_used.html
https://bandit.readthedocs.io/en/latest/plugins/b611_django_rawsql_used.html
https://bandit.readthedocs.io/en/latest/plugins/b703_django_mark_safe.html

**To Reproduce**
Steps to reproduce the behavior:
Go to https://bandit.readthed

[2019-04-25 04:13] atugushev commented on #468
Hey @ericwb! Thank you for your work on `bandit`. Is there anything that we can do to help with the release?

[2019-05-06 02:38] tomascassidy opened #487 "Bandit conflicts with pyflakes"
Bandit is conflicting with pyflakes when both are used together, due to how the monkeypatching of ast nodes is done by both projects.

The issue was diagnosed on the flake8 bug tracker at https://gitlab.com/pycqa/flake8/issues/536#note_166421843

Here's the test case provided by @asottile in the flake8 issue:

[code]

Can this please get fixed inside bandit?

[2019-05-06 20:22] tylerwince commented on #487
It looks like if bandit was to reverse the generic_visit function [here](https://github.com/PyCQA/bandit/blob/823138f418905a99fb7bbff8bb35b97f6dc9e5ab/bandit/core/node_visitor.py#L229-L254) after the analysis has been done (or at least remove all the parent attrs that were added), that would fix the issue.

@asottile - any thoughts on that plan of action? I can try to take a stab and implementing

[2019-05-06 20:28] tylerwince commented on #487
Ah -- looks like you may have fixed it here in [pyflakes](https://github.com/PyCQA/pyflakes/pulls) -- I can do the same here in bandit and we can just have both be namespaced (may be easier to push this PR through on bandit than pyflakes given the discussion on the PR about external dependency on the monkeypatching from pyflakes)

[2019-05-06 20:30] asottile commented on #487
@tylerwince yeah that would fix it, something like:

[code]

(needed in two spots it looks like)

that or to use a namespace like I'm doing in `pyflakes`

[2019-05-06 20:41] tylerwince commented on #487
I will take a stab at it today and submit a PR today. Hopefully we can get this closed out in the next day or two and fix the issues people are experiencing

[2019-05-06 20:48] tylerwince commented on #487
@ericwb -- Any qualms with the proposed solution above? If not, could you assign this issue to me and I will create a PR for it this evening since it is breaking CI pipelines for people using bandit via flake8

[2019-05-09 02:53] tylerwince commented on #487
Hi @ericwb - just wanted to ping you on this to see if you think the solution above looks reasonable before I submit a PR?

[2019-05-09 06:01] ericwb commented on #487
@tylerwince Probably using the namespace is a safer approach.  But you're welcome to create a PR.  I'll assign the issue you.

[2019-05-09 06:07] ericwb commented on #487
@tylerwince Doesn't appear I can assign until you put up a PR.

[2019-05-09 06:10] ericwb commented on #483
So bandit isn't designed to be a programmatic API.  The only stable interface is the CLI.  The actual code may change in future versions.  The only well defined interface is for written new plugins for formatters and testers.

[2019-05-09 06:10] #483 closed

[2019-05-09 07:18] ericwb commented on #468
1.6.0 has been released and published on PyPI.

[2019-05-09 07:18] #468 closed

[2019-05-09 07:30] ericwb commented on #326
Fixed with #348

[2019-05-09 07:30] #326 closed

[2019-05-09 07:40] ericwb commented on #366
Closing due to inactivity.  And I believe the problem reported is outside the scope of Bandit.

[2019-05-09 07:40] #366 closed

[2019-05-09 07:43] ericwb commented on #394
Fixed with #415

[2019-05-09 07:43] #394 closed

[2019-05-09 07:48] ericwb commented on #294
Fixed with #295

[2019-05-09 07:48] #294 closed

[2019-05-09 07:53] ericwb commented on #319
Fixed with https://github.com/PyCQA/bandit/pull/470

[2019-05-09 07:53] #319 closed

[2019-05-09 07:54] mattjegan opened #488 "Bandit 1.6.0 no longer respects excluded directories"
**Describe the bug**
Prior to the bandit 1.6.0 release, I was using bandit like so:
[code]

However, with bandit 1.6.0 the `./mymodule1/tests/` and `./mymodule2/tests/` directories are included in the results. I have confirmed that you can exclude individual files still, just not directories.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a directory with a vulnerability in it somewh

[2019-05-09 07:54] #375 closed, assigned to ericwb

[2019-05-09 07:59] ericwb commented on #488
Most likely a regression caused by https://github.com/PyCQA/bandit/pull/450

[2019-05-09 08:07] mattjegan commented on #488
Thanks, I can try fix it in a couple hours

[2019-05-09 08:10] ericwb commented on #346
Does #450 satisfy this feature request?

[2019-05-09 08:22] ericwb commented on #400
Looks like wrong path separator as mentioned.

[2019-05-09 08:22] #400 closed

[2019-05-09 09:39] Bobspadger commented on #488
I have also just run into this issue with 1.6.0 - my auto builds are now failing due to scanning excluded directories :)

[2019-05-09 10:21] guywillett commented on #488
Likewise I have found that `exclude: ./tests/` in my `.bandit` file no longer are respected.
I have tested several times with different paths and using `exclude_dirs:` instead of `exclude:` but to no avail.
A quick fix would be much appreciated! :-)

[2019-05-09 14:25] PeterHamilton commented on #488
Yep, I just encountered this as well. Glad to see there's already an issue filed and a fix in the works. I'll temporarily downgrade to 1.5.1 until 1.6.1 is out.

[2019-05-09 14:49] Bobspadger commented on #488
pinning to 1.5.1 worked out for me :)

keep up the good work!

[2019-05-09 17:07] gmr commented on #318
Would love to see support for setup.cfg as a configuration location.

[2019-05-09 19:40] besnik commented on #488
I confirm this bug.
Following works in 1.5 but fails with 1.6.0 (`tests` directory contains unit tests):
`bandit --exclude tests -r .`

[2019-05-10 16:24] bittner commented on #318
Come on, what does "distant future" mean? This request is going to die.

Please, do us a favor and

- either close this issue with "won't fix" if you don't want it in the code base,
- or say, "a PR is welcome if it implements (this and that)".

The former option is still 100 times better than putting a carrot on a stick in front of us that we will never be able to reach. Note that nobody is saying

[2019-05-13 13:40] codingjoe opened #490 "degraded performance in 1.6.0 release"
**Describe the bug**

I have seen a performance decrease in version 1.6.0. I a member of [FussyFox](https://fussyfox.github.io) and we run thousands of bandit checks a day. I see an increase in timeouts (200s limit) since I upgraded the stack to the 1.6.0 release.

My best guess, it's this commit 7c4b9fa8b8d980a27c53000eb1961d436da7b223
I will further investigate the issue.

![Screen Shot 2019-05-

[2019-05-13 13:48] codingjoe commented on #490
I believe those two lines cause the performance decrease: https://github.com/PyCQA/bandit/blob/7c4b9fa8b8d980a27c53000eb1961d436da7b223/bandit/formatters/text.py#L144-L146

I will further investigate.

[2019-05-13 17:38] tylerwince commented on #487
Please see PR #492 fixing this issue

[2019-05-14 00:18] tylerwince opened #494 "Fix errors from pipeline in Python3.8"
**Describe the bug**
Pipeline currently does not pass on Python3.8

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the builds running in Travis [here](https://travis-ci.org/PyCQA/bandit/jobs/519555153)

**Expected behavior**
Builds should pass on 3.8 as we move closer to beta and public release later this year.

**Bandit version**
all

[2019-05-14 03:35] cancan101 commented on #346
@ericwb can you elaborate on how you would use #450 to exclude the use of asserts just in the test files?

[2019-05-14 09:05] volans- commented on #488
Is there by any chance an ETA for the resolution of this regression?

[2019-05-14 09:08] mattjegan commented on #488
@volans- My PR (#489) is pending review

[2019-05-14 15:36] codingjoe commented on #490
@ericwb I am cc-ing you here too, since you released 1.6.0. Maybe you have another hint why the performance decreased so drastically. You can see in figure 1 how big the impact is, after the update.

[2019-05-14 17:18] #487 closed

[2019-05-14 18:19] ericwb commented on #494
Unfortunately, it's not a trivial fix due to changes in the AST, but work has started as part of https://github.com/PyCQA/bandit/pull/393.

[2019-05-14 18:36] tylerwince commented on #494
Bummer -- I may try to take a stab at working through this if you don't mind. Looks like the PR only has minimal changes so I could just apply them to a new branch

[2019-05-15 00:48] JuanHuaXu opened #495 "cannot seek stdin on pipe"
**Describe the bug**
There are couple bugs merged into one for stdin parsing

https://github.com/PyCQA/bandit/blob/master/bandit/core/manager.py#L249
self._parse_file('<stdin>', sys.stdin, new_files_list)

Note we are artificially changing the file name from '-' to '<stdin>', which doesn't exist in the new_file_list

https://github.com/PyCQA/bandit/blob/master/bandit/core/manager.py#L278
fdata.see

[2019-05-15 03:39] NLPDev commented on #400
I tried to exclude "tests" folder, but I can't.

[bandit]
exclude: /tests

How to fix this problem?

[2019-05-15 14:12] tylerwince commented on #495
Just so the trace is here in the ticket also, I was able to reproduce running `cat assert.py | bandit --debug -`

[code]

[2019-05-15 17:47] tylerwince commented on #495
Proposed fix is sitting in PR #496 --  @JuanHuaXu if you have any comments please feel free to make them and please test out this branch to ensure it fixes the behavior you are seeing.

[2019-05-15 18:08] JuanHuaXu commented on #495
Thanks for the quick fix, however this still doesn't fix the secondary issue where file name is reassigned for the file list. as soon as there is another general exception in that try catch block, it will throw unhandled stack trace again and halt the whole program. new_files_list variable need to be looked at and adjusted accordingly.

[2019-05-15 18:46] JuanHuaXu commented on #495
@tylerwince created list handling PR against your fork, please review

[2019-05-15 20:00] JuanHuaXu commented on #495
After running the patched code, looks like there is a minor bug associated with the way _execute_ast_visitor is implemented. It is handled by the try catch block in utils.py

What we see:
`[node_visitor]	INFO	Unable to find qualified name for module: <stdin>`

Cause:
Hard swap file name to '&lt;stdin&gt;'

Detail:
https://github.com/PyCQA/bandit/blob/master/bandit/core/manager.py#L289
_execute_ast

[2019-05-15 21:17] tylerwince commented on #495
I feel like this may be desired behavior has we are catching anything that doesn't have a file on disk and this is one of those cases. Unless @ericwb feels like it should be redesigned, I feel like this is a good solution to the problem once your change on my branch is merged @JuanHuaXu.

[2019-05-15 21:40] JuanHuaXu commented on #495
You are right, it is desired behavior. I'm only picking it up because SublimeLinter is picking up the exception as an error for bandit. Eric needs to address it either in the bandit end or the SublimeLinter end. Either way what we did is good enough as far as bandit is concerned standing alone

[2019-05-18 04:19] mohi7solanki opened #497 "Analysis too slow on Python 2 environment"
**There is a huge speed difference between python 2 and 3 almost 20 times slower**

Time taken by Python 3
~/.local/bin/bandit -r analytics ownership utils  3.28s user 0.06s system 99% cpu 3.354 total

for Python 2
bandit -r analytics ownership utils  58.24s user 0.10s system 99% cpu 58.653 total
**Bandit version**

[code]

[2019-05-19 16:37] asottile opened #498 "Changes in #387 (B105) introduce lots of false positives for code quality tools"
**Describe the bug**

The changes to [B105](https://bandit.readthedocs.io/en/latest/plugins/b105_hardcoded_password_string.html) introduced in #387 and released with 1.6.0 extend the matching of this check significantly.  A now very-common variable pattern (when used with tokenization) `token_*` is flagged by this check.  For example [this](https://github.com/PyCQA/flake8/blob/89b0bb87d75906ca0acc

[2019-05-20 13:18] Zlopez commented on #488
I tried to play a little with exclude directory in `1.6.0`.

After changing `bandit -r anitya/ anitya_schema/anitya_schema/ -x anitya/db/migrations -ll` to `bandit -r anitya/ anitya_schema/anitya_schema/ -x anitya/db/migrations/* -ll`, the excluded folders are no longer ignored.

So before `1.6.1` is out, you could use the above.

[2019-05-21 02:07] KelSolaar commented on #438
Hi,

I just came around this issue for similar problems, I'm extending the blacklists with more content and noticed that it the time skyrocketed, culprit being indeed the `fnmatch` definition and the calls to the `re` regex library:

![image](https://user-images.githubusercontent.com/99779/58063174-3ccd9c80-7bd1-11e9-8749-c5a73d6962a3.png)

Is there a strong rational for using regex here? Looking

[2019-05-21 02:14] KelSolaar commented on #438
A quick test I did was just changing

[code]
to

[code]

and I went from 14m48.641s to 0m20.871s while removing 1 false positive, given that it seems like regex matching should be optional and not the default? I will certainly monkey-patch the definition on our end.

[2019-05-21 11:44] wen96 commented on #400
Hi, I have the same problem only in version 1.6.0.

Running:
[code]
Ignores tests/ folder in version 1.5.1 but not in 1.6.0

[2019-05-21 12:05] ehooo commented on #400
@wen96 the new issue is https://github.com/PyCQA/bandit/issues/488

[2019-05-23 00:12] Plazmaz commented on #438
FWIW `fnmatch` is not regex matching. That'd be via the `re` library, which allows for precompiled regexes (which would likely improve performance)

[2019-05-23 01:37] KelSolaar commented on #438
@Plazmaz : I might misunderstood what you just said but `fnmatch` is definitely regex matching: https://github.com/python/cpython/blob/e42b705188271da108de42b55d9344642170aa2b/Lib/fnmatch.py#L39 and it is also quite clear from the profile screengrab I posted.

[2019-05-23 01:38] Plazmaz commented on #438
Ah my bad, I didn't notice it used regex internally. I was looking at https://docs.python.org/2/library/fnmatch.html and figured it was just glob matching.

[2019-05-23 01:42] KelSolaar commented on #438
Yeah, nah :) It explains why it is uber slow.

[2019-05-23 01:44] Plazmaz commented on #438
I mean, it could precompile those regexes and it would probably help a lot.

[2019-05-26 23:33] #488 closed

[2019-05-27 00:50] ericwb commented on #497
FYI, Python2 EOL is January 1, 2020 at which time Bandit will also drop Python2

[2019-05-28 18:48] pydolan opened #499 "Exclude paths in config file ignored if passing specific files to Bandit CLI"
**UPDATE:** please see my below comment for an updated description of the problem.

**Describe the bug**
When using the pre-commit hook, my excluded paths listed in .bandit are still processed by bandit.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a .bandit config file with exclusions. For example:
[code]
2. Run bandit via command line (`bandit -r .`), verify exclusions ignored.
3

[2019-05-28 19:38] vinicyusmacedo commented on #499
@pydolan I think it is a duplicate of https://github.com/PyCQA/bandit/issues/488

[2019-05-28 20:29] pydolan commented on #499
@vinicyusmacedo -- My issue is actually unrelated to #488 and exists in 1.5.1 as well.

After further investigation, what's actually happening is that the excluded paths in the config file are being ignored when passing specific files to bandit -- even though excluding from the CLI works:

**In v1.5.1:**
[code]

**In v1.6.0:**
[code]

I believe the two excluding methods should have consistent beha

[2019-05-28 20:33] vinicyusmacedo commented on #499
I noticed this as well on my environment. By using the config file,
exclusion is not working even if it is already as the workaround.

On Tue, May 28, 2019, 17:29 Dolan Antenucci <notifications@github.com>
wrote:

[2019-05-29 05:08] tylerwince opened #500 "Pledge to drop 2.7 support"
The https://python3statement.org/ pledge to drop support for Python2.7 when it hits end of life on January 1, 2020 should probably be taken up by this project. We could also add a test to check for any Py2 specific stuff and create a new error saying it is not longer receiving security updates and should be avoided.

Happy to make the PR on the py3statement project on behalf of bandit if this is s

[2019-05-29 15:35] ehooo commented on #490
Hi @codingjoe I just try to find the delay on the code and I cannot find any on the Text formatter.
are you sure that it is not related to issue #438 ?

Could you share more information in order to find the root cause?
Could you tell us the parameters using to run the report?

When I run the line_profile using the example directory it not take delay.
[code]

[2019-05-31 09:50] frispete commented on #319
Just a final note: this process much more document weaknesses in the bandit blacklist process than everything else!

[2019-05-31 19:14] dugdug36 opened #501 "Install bandit from source code"
Hello,
I would like compile from source code. When i try to compile on windows with : python setup.py install.

I have this error print :
Exception: Versioning for this project requires either an sdist tarball, or access to an upstream git repository. It's also possible that there is a mismatch between the package name in setup.cfg and the argument given to pbr.version.VersionInfo. Project name ba

[2019-06-09 09:35] codingjoe commented on #490
@ehooo I am not so sure, it's the same problem, since the spike in run time only happens since version 1.6.0 not 1.5.x

[2019-06-09 11:19] pshchelo opened #504 "hashlib_new_insecure_functions plugin fails to parse dynamic code"
**Describe the bug**
Running this plugin against a hashlib.new invocation that does accept the hashing algo dynamically from an inline function of a variable fails with
`AttributeError: 'NoneType' object has no attribute 'lower'`

**To Reproduce**
minimal repro module `test_hash_new.py`
[code]

Run `bandit >=1.5.0` against it (that's where that check plugin appeared first time)
[code]
Note that mo

[2019-06-09 15:56] fungi commented on #494
Worth noting, cpython v3.8.0b1 was tagged last week so an increasing number of folks are going to start trying to use it and running into this.

[2019-06-10 11:33] ehooo commented on #490
@codingjoe could you share more context to try to reproduce the issue?
Some project affected? the args used to run the report? the report format?, ...

[2019-06-10 14:48] codingjoe commented on #490
@ehooo no specific project, this seems to have affected all kinds of projects.
Bandit is invoked as follows https://github.com/FussyFox/bandit/blob/39772b3e6528ab1f062f7b4190a9993d5937e78d/main.py#L12-L15

[2019-06-12 23:50] bittner commented on #490
I am affected by this issue, too. It seem not to be a general performance issue, but really a bug that makes Bandit collect a large amount of files to inspect.

* When I run Bandit 1.5.1 over my project it takes a fraction of a second.
* When I run Bandit 1.6.0 over my project it counts something to almost 3000 and the CPU load goes up.

Example:
[code]

Could it be that for some reason the exclud

[2019-06-13 22:26] sk- opened #505 "Bandit is too slow to parse some files"
**Describe the bug**
Processing the following file is too slow, taking more than a minute.

[code]

[2019-06-19 09:23] gilbsgilbs commented on #435
Hi. @lukehinds could you please re-open or reply to @Poil? I am also affected by this and not sure what to do. Shouldn't lxml be whitelisted by bandit? Thanks!

[2019-06-22 17:31] #490 closed

[2019-06-24 12:44] mjpieters commented on #505
Well, you are asking an AST-based tool to analyse 1156 lines of string objects, producing a set with  6104 strings. That's going to take some time, about 65 seconds on my system. That's actually not *that* bad, at ~10ms per string.

The issue is really with that frozenset and how you construct it, in my opinion. I'd exclude that file from analysis, or move to a single string and split it at import

[2019-06-24 23:13] ehooo opened #506 "get_url returns different urls calling twice"
**Describe the bug**
The function get_url overwrite the info['id'] stored on extension_loader.MANAGER.blacklist_by_id

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Call to bid with same `bid` must return same url

**Bandit version**
[code]

[2019-06-25 22:12] tylerwince commented on #494
Tagging @ambv re:Conversation around the breaking change to `ast`

[2019-06-25 23:16] tylerwince commented on #494
#509  will fix this issue

[2019-06-27 15:51] sk- commented on #505
I don't get why it could be too slow, as some other tools, which also analyze the AST, like Pylint, are much faster.

Also, there's no way to know which file is taking too long, nor which are the checks that are taking much of the time. So that one can disable those.

[2019-06-27 19:40] mjpieters commented on #505
Creating the AST itself is not slow (it's done in C by the same code that compiles Python source code into bytecode), but you then need to traverse the resulting AST to implement the tool logic. PyLint does this differently from bandit.

The speed difference then lies there; PyLint is not interested in individual strings, but bandit *is*. Pylint is skipping those 6k string nodes, Bandit executes P

[2019-07-01 16:54] #494 closed

[2019-07-02 16:22] tylerwince commented on #495
@ericwb Can we get this slated for 1.6.3?

[2019-07-02 16:31] maciejstromich commented on #419
BTW, https://github.com/PyCQA/bandit/pull/510

[2019-07-04 07:49] serhiy-yevtushenko opened #511 "Baseline file has operation system dependent format"
The format of currently produced baseline file is dependent on the operation system on which it is produced.

If one produces first baseline file on Windows operating system, than relative pathes in baseline json file are using in path following separator: \\

If one tries then to use baseline file in build which is being run on Unix, than usage of this separators leads to existing files not being

[2019-07-04 07:53] serhiy-yevtushenko opened #512 "Bandit XML format should support working with baseline"
**Is your feature request related to a problem? Please describe.**

Bandit output XML format is useful for integration with CI systems.
For working with existing legacy code, starting with baseline is really of help, as one could not expect to initially fix all violations on legacy code.
Therefore, working with baseline is of great help.
But currently the XML report does not work with baseline - r

[2019-07-04 20:36] ehooo commented on #490
Hi again.

I was working trying to find the root cause for that issue, but i think is affected just for some kind of code.
I mean is run bandit with trying to find the bottleneck.

The following code was used:
[code]
The results:
1.5.1py27 102.7241
1.6.0py27 97.6364
1.6.1py27 95.4089
1.5.1py3.7 4.2379
1.6.0py37 4.5011
1.6.1py37 4.7639

On python 2.7 we could see the bottleneck on "fnmatchcase"
![1

[2019-07-05 14:56] codingjoe commented on #490
Thanks @ehooo for the in depth profiling. I upgraded @FussyFox two days ago from 1.5.1 to 1.6.2 and do NOT see an increase in real user time across a couple thousand executions across various code bases.

I guess case closed :)

[2019-07-05 15:00] codingjoe commented on #490
Nope, I was immaturely excited :/
https://github.com/FussyFox/fussyfox.github.io/issues/4#issuecomment-508712034
There still seems to be an issue with version 1.6.x
I am trying to figure out if there is another problem showing up in the logs. I do see a slightly elevated error rate since the new release.

[2019-07-05 15:00] codingjoe commented on #490
@ehooo can you run your fancy profiling on this commit?
https://github.com/jazzband/pip-tools/runs/162425348

[2019-07-07 04:19] ericwb commented on #506
Fixed with #507

[2019-07-07 04:19] #506 closed

[2019-07-07 04:29] ericwb commented on #511
Although I agree, it might be nice to have a platform agnostic format for the paths such that the output produced on windows would properly work on linux.  However, if the paths in output on windows are changed now, this very well might break some exploiters expecting windows format.

[2019-07-07 04:45] ericwb commented on #512
Actually several formats are missing: csv, custom, xml, and yaml

[2019-07-07 04:49] ericwb commented on #500
I agree, it would be good to indicate future dropping of Py27.  However for https://python3statement.org/, I would expect them to only take PRs on such statements from maintainers of Bandit.

In any case, we should make changes in Bandit to note the upcoming removal.  README and docs definitely.  Maybe even a runtime message.

[2019-07-07 21:21] tylerwince commented on #500
Probably the best thing would be to just note the 1.x series will be the last to support Py2.7 and make the changes in 2.0 to be 3 only

[2019-07-11 17:26] marichalloran opened #514 "Runtime error with output report"
Running into this error when executing:

`set -e

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
REPO_DIR="`realpath $DIR/../mypackage`"
EXCLUDES=$REPO_DIR/version.py

echo "Testing Python code security..."
bandit "$REPO_DIR" -ll -r -x "$EXCLUDES"
`

Output is

[main]  INFO    profile include tests: None
[main]  INFO    profile exclude tests: None
[main]  INFO    cli include tests: None
[

[2019-07-16 04:49] gaochua opened #515 "Failed detection in injection_sql plugin"
**Describe the bug**
`injection_sql.py` plugin fails to check `hardcoded_sql_expressions` on certain test cases.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `test.py` file with content:
[code]
2. Run bandit: `bandit test.py`
3. There are no detected issues in the console output

**Expected behavior**
The above `test.py` file should generate `hardcoded_sql_expressions` issue.

**Ba

[2019-07-16 10:15] gaochua opened #517 "Add plugin to detect Flask/Jinja2 template injection"
If `flask.render_template_string` is used incorrectly, it could lead to server-side template injection. A plugin that detect this issue could be useful.

[2019-07-23 11:34] Vadorequest opened #519 "Doc - Usage with Code Climate"
I've never used Bandit, but I saw there is an integration within Code Climate and I'm interested in giving it a try. https://docs.codeclimate.com/docs/bandit

I'm not quite sure what Bandit does with minimal configuration, here is my output during the CI build:
![image](https://user-images.githubusercontent.com/3807458/61708971-6c725f80-ad4e-11e9-9b5f-2bcec8d4ec31.png)

With the following `.codecl

[2019-07-23 13:37] nijel opened #520 "Fails with AttributeError: 'Call' object has no attribute 'elts'"
**Describe the bug**
When trying to run it on [Weblate](https://github.com/WeblateOrg/weblate/) I get an internal error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Get the file: https://github.com/WeblateOrg/weblate/blob/fa8cad19aec3e25170d28b35ebe9070cc92e183c/weblate/trans/templatetags/advertisement.py
2. Run bandit on it
3. See error

**Expected behavior**
No error

**Bandit

[2019-07-26 10:17] ehooo commented on #504
This is the PR https://github.com/PyCQA/bandit/pull/516

[2019-07-30 10:46] Vijay1216 opened #522 "Can we implement bandit with jenkins in CI/CD environment ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-30 12:02] Vijay1216 commented on #522
If anyone have implemented Bandit python security tool in Jenkins pipeline than please help me here.

[2019-07-30 14:39] lukehinds commented on #522
OpenStack use Bandit with jenkins, I don't have a great deal more info to share as its been awhile since I looked at it, but you could have a dig around there.

[2019-07-31 09:37] Vijay1216 commented on #522
Thanks Luke Any idea how I can get any details from Open stack that how I can implement Bandit in Jenkins pipeline.

[2019-07-31 10:31] lukehinds commented on #522
They use a tool called zuul to drive most CI stuff, but I don't know much about it.

You could take a look at:

https://vdwaa.nl/openstack-bandit-jenkins-integration.html

https://github.com/PyCQA/bandit/issues/220

[2019-08-01 08:06] nikhilgeo opened #523 "Support multiple format reports in same run"
**Is your feature request related to a problem? Please describe.**
I couldn't find a way to make bandit generate reports in multiple formats. Having reports in multiple formate is useful e.g for finding the unique issues, counting no of issues etc. cvs is best. But I would like to have HTML format when I triage the report.

**Describe the solution you'd like**
Provide option to generate multiple f

[2019-08-02 06:17] tomasbjerre commented on #220
The Warnings plugin is using [Violations Lib](https://github.com/tomasbjerre/violations-lib) which means you can do:
[code]
And use the `CLANG` parser in the Jenkins plugin.

There are more related tools (like commenting pull requests), also referenced from the README in [Violations Lib](https://github.com/tomasbjerre/violations-lib).

[2019-08-02 06:21] tomasbjerre commented on #522
There is [Violations Lib](https://github.com/tomasbjerre/violations-lib) that is used in these Jenkins plugins:

 * [Warnings Plugin](https://github.com/jenkinsci/warnings-plugin).
 * [Violation Comments to GitHub Jenkins Plugin](https://github.com/jenkinsci/violation-comments-to-github-plugin).
 * [Violation Comments to GitLab Jenkins Plugin](https://github.com/jenkinsci/violation-comments-to-git

[2019-08-03 09:04] ehooo commented on #519
I think you must to add on the .codeclimate.yml file at last the options "ini", "configfile" and "baseline" to help the on the project configurarion

[2019-08-07 15:25] graingert commented on #501
just grab the tarball here https://files.pythonhosted.org/packages/05/51/cbfd4b5a383d51a73a9e8cbf152037a212e0058ee8b329d4501f74cdddef/bandit-1.6.2.tar.gz

[2019-08-07 18:43] john-pastore commented on #220
Your suggestion didn't work for me.  It would log fine but the Warnings plugin wouldn't find any errors.  What worked for me was to use the format you posted to log, and then use a custom groovy parser.

I used the regex:

`(.+):(\d+): (\w+): (\D\d*): (.*)`

And this was the mapping script I used.

`import edu.hm.hafner.analysis.Severity

String message = matcher.group(5)
String category = matcher

[2019-08-07 18:49] tomasbjerre commented on #220
If you open an issue in violations-lib and attach your log-file, I can have a look.

[2019-08-07 19:01] ehooo opened #525 "TOX (code -11) failing on CI"
**Describe the bug**

[code]

**To Reproduce**
Run the CI over a PR

**Expected behavior**
Python 3.8dev must works or not be required for merge.

**Additional context**
I have check some PR (not just me own ones) and all the same error:
- https://travis-ci.org/PyCQA/bandit/jobs/563541361
- https://travis-ci.org/PyCQA/bandit/jobs/561584410
- https://travis-ci.org/PyCQA/bandit/jobs/559360165
- http

[2019-08-11 21:40] Aurel10 opened #526 "README.rst description Vulnerability Tests BanditResultStore"
**Is your feature request related to a problem? Please describe.**

BanditResultStore is still present on description Vulnerability Tests but in this commit

`commit ca68d805f8a1ffaa7b119a3ae8ff2e362ad792ba `

the changes have been made removing the class BanditResultStore and on other files

**Describe the solution you'd like**
Update test results and how they are maintained and aggregated on the

[2019-08-12 18:06] ericwb commented on #526
@Aurel10 Would you like to put up a PR to correct the docs?

[2019-08-12 20:08] kgraves opened #527 "GitPython dropped py2 support again, which breaks bandit's py2.7 support"
**Describe the bug**
Bandit's README says it supports py2, but out of the box no longer does. This is because GitPython is not pinned, nor specifies a version range ([GitPython just made a major version release](https://github.com/gitpython-developers/GitPython/blob/master/doc/source/changes.rst#300---remove-python-2-support) in the last day that officially drops py2 support)

**To Reproduce**
1.

[2019-08-14 15:18] sirosen opened #528 "Documentation of configuration is confusing / misleading regarding `exclude` vs `exclude_dirs`"
Reading the docs for the first time, I struggled to correctly formulate my desired `.bandit.yaml`.

The readme doc shows the use of `exclude: /test` , but the readthedocs site does not mention `exclude` or `exclude_dirs`.
I was writing a yaml doc with
[code]
and finding that files in my various `_build/` directories (a project-specific packaging process) were still being scanned.

**Essential**

I

[2019-08-17 20:25] scop opened #529 "False yaml.load positive with Loader=*SafeLoader subclass"
**Describe the bug**

Related to #143 which deals with SafeLoader and CSafeLoader, the false positive still exists when yaml.load is being used with their subclasses.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2019-08-18 22:17] ericwb commented on #525
Appears fix in latest builds

[2019-08-18 22:17] #525 closed

[2019-08-20 17:28] sirosen opened #531 "Cannot pass a baseline file to pre-commit hook (baseline does not apply when filename is given as target)"
**Describe the bug**

After creating bandit config and a baseline such that `bandit -c .bandit.yaml -b .bandit_baseline.json -r .` passes, I added my desired pre-commit configuration:
[code]

and ran `pre-commit run --all-files --show-diff-on-failure` expecting it to pass.
However, it appears that the baseline does not apply when a file is passed to `bandit` (`pre-commit` works by passing staged f

[2019-08-21 16:08] maciejstromich commented on #419
@ericwb this can be closed since my PR got merged.

[2019-08-21 17:53] #419 closed

[2019-08-21 17:54] jaipradeesh commented on #419
Thank you @maciejstromich

[2019-08-23 08:21] spaceone commented on #477
It's acutally `os.path.join`!
The vulnerability here is that ```
user_input = '/tmp/foo'
os.path.join('/var/cache/', user_input)``` will result in `user_input`.

[2019-08-23 08:24] spaceone commented on #418
I would like to see it as well, but I prefer the short-cuts e.g.: `# nosec: B101,B102`

[2019-08-23 08:28] spaceone commented on #309
I would like to see this as well!
`filter = '(&(objectClass=person)(uid=%s)' % (username,)` is vulnerable.
Instead `ldap.filter.filter_format('(&(objectClass=person)(uid=%s)' , [username])` can be used to escape filters.

`dn = 'uid=%s,cn=users,dc=base' % (username,)` ist vulnerable. Instead  ` 'uid=%s,cn=users,dc=base` % (ldap.dn.escape_dn_chars(username),)` can be used to escape DN's.

[2019-08-27 21:57] Aurel10 commented on #526
I can try to fix the documentation file `README.rst` on Vulnerability Tests and Extending Bandit sections

[2019-09-03 04:58] ericwb opened #536 "Add Bandit to PyCQA’s Meta Documentation"
**Is your feature request related to a problem? Please describe.**
n/a

**Describe the solution you'd like**
The PyCQA official documentation here: http://meta.pycqa.org/en/latest/ should have a link to bandit. In particular, under sections:
- http://meta.pycqa.org/en/latest/history.html
- http://meta.pycqa.org/en/latest/management.html#project-management
- http://meta.pycqa.org/en/latest/introduc

[2019-09-03 15:13] munframed opened #537 "cannot run bandit on codes in a folder using *.py"
**Describe the bug**
Not sure if it's a bug, but I can run bandit on each file in a folder, however when I try to use /folder/*.py, it says

How should I fix this? I'm on Anaconda (latest version) on Windows 10.

[2019-09-09 14:49] prashanth-balaboina commented on #121
@ericwb Do we know how to avoid the false positives on PyCrypto if people are installing PyCryptodome ?

[2019-09-09 18:04] sirosen commented on #531
In case anyone else is trying to figure this out, I've found that this can make `bandit` work with pre-commit:
[code]
(where your excludes may not match mine)

This ensures that the paths are passed to bandit in a similar manner to what `pre-commit` will do, and easily excludes untracked virtualenvs and the like.

You could also use `find . -type f | sed 's:\./::'` or the like and expand the exclu

[2019-09-20 06:12] asottile commented on #527
sounds like your version of virtualenv / pip is too old, you need at least pip 9b to understand python_requires

[2019-09-22 23:02] ericwb commented on #522
Closing since a variety of options has been provided.

[2019-09-22 23:02] #522 closed

[2019-09-22 23:06] ericwb commented on #527
The requirements.txt specifies `GitPython>=1.0.1`.  We do build and test on Python 2.7. Pip will fetch the latest Py2 compatible version of GitPython.  So maybe as @asottile says, you need to update your pip.

[2019-09-22 23:06] #527 closed

[2019-09-22 23:12] ericwb commented on #497
We intend to drop Python2 support with its EOL on 1-1-2020. Therefore, I'll close this as not fix.

[2019-09-22 23:12] #497 closed

[2019-09-23 01:53] ericwb commented on #537
By default Bandit scans directories for *.py.  So there is no need to enter `*.py` part of  `/folder/`

[2019-09-23 01:53] #537 closed

[2019-09-23 23:54] #504 closed

[2019-09-30 07:45] ericwb commented on #536
Created: https://github.com/PyCQA/meta/pull/32

[2019-10-03 09:26] calve commented on #435
From my understanding, users shall not use the deprecated `defused.lxml` module but can call `lxml` parse functions with the `resolve_entities=False` argument: https://lxml.de/FAQ.html#how-do-i-use-lxml-safely-as-a-web-service-endpoint

As in; `lxml.etree.iterparse(stream, schema, resolve_entities=False)`

[2019-10-06 11:11] ehooo commented on #529
@lukehinds I'm not sure if this is a bug.

The rule only will not be trigger if the Loader class is SafeLoader.
Because bandit will not resolve the any type (only if is or not SafeLoader) the rule will be trigger.

To solve this kind of issues the system (bandit) will require resolve the types before trigger the rule.
In the same way that the following code will be also trigger the rule.
[code]

@

[2019-10-07 06:39] ericwb opened #543 "Ignore virtualenv and __pycache__ directories"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
When a project that has made use of virtualenv or tox, there is usually a directory named `.venv`, `.tox` or the like.  As a result when bandit scans this project, it automatically scans all of the virtualenv site-packages.  This can be many many python files that don't need to be scanned.

[2019-10-09 12:39] kamathe opened #545 "IndexError: list index out of range"
**Bandit version**

(bandit) [root@test BD]# bandit --version
bandit 1.6.2
  python version = 2.7.5 (default, Jun 11 2019, 12:19:05) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]
(bandit) [root@test BD]#

**Actual error**

[code]

[2019-10-10 03:43] sonrohan commented on #545
Can you print out the output of `key_type`  before this line? https://github.com/PyCQA/bandit/blob/master/bandit/plugins/weak_cryptographic_key.py#L115

[2019-10-10 08:29] bittner commented on #490
Why is this issue still closed? Shouldn't we reopen it?

I'm still pinning Bandit to <1.6, because `bandit -r .` scans `.tox` (and presumably similar folders such as `.git`) since 1.6.0 even though I use the `--exclude .tox, ...` option. This obviously takes significantly longer to complete as that folder typically contains several virtualenvs with a load full of Python packages downloaded from Py

[2019-10-10 08:42] bittner commented on #488
Can anyone confirm this bug has been fixed?

I still run `bandit<1.6` as the latest Bandit from PyPI scans the `.tox/` folder. Here is an example that uses an absolute directory path to rule out location translation issues.

[code]

[2019-10-10 08:56] bittner commented on #488
Interestingly, specifying an absolute target path combined with absolute exclusion paths seems to work:

[code]

Also, specifying _all absolute paths_ in a Tox target, a section in `tox.ini`, "fixes" the issue:

[code]
[code]

Looks like there is still some hidden issue that needs fixing.

[2019-10-10 13:12] kamathe commented on #545
@sonrohan Check highlighted text below

(bandit) [root@test BD]# bandit ansible/lib/ansible/modules/crypto/openssl_privatekey.py
[main]	INFO	profile include tests: None
[main]	INFO	profile exclude tests: None
[main]	INFO	cli include tests: None
[main]	INFO	cli exclude tests: None
[main]	INFO	running on Python 2.7.5
**-----------------------------
key_type : EC
-----------------------------**
[test

[2019-10-11 00:57] KevinHock opened #546 "False-positive when Loader= not used in `yaml.load(foo, yaml.SafeLoader)`"
# Summary

In the fix for #437, we forgot to handle positional arguments, it seems `context.get_call_arg_at_position` [1] can resolve this. PR #436 has all the related code one needs to edit.

`yaml.load(foo, yaml.SafeLoader)`, note no `Loader=` keyword argument, we will alert off of it.

p.s. Labels: `good first issue`, `accuracy`

[1] https://github.com/PyCQA/bandit/blob/09b0207e2b1a2e17c0f68aee

[2019-10-12 03:57] micknoy commented on #526
Hello! Was this bug resolved?

[2019-10-12 20:54] ericwb commented on #526
@micknoy Yep, closing.

[2019-10-12 20:54] #526 closed

[2019-10-13 03:51] ericwb commented on #121
@prashanth-balaboina You can either use `# nosec` as indicated here https://github.com/PyCQA/bandit#exclusions or reconfigure the check https://bandit.readthedocs.io/en/latest/config.html

[2019-10-26 16:00] Glyphack commented on #517
@gaochua Do you mean the case that user uses string formatting feature of python instead of {{}} to evaluate value in template?

[2019-10-26 17:29] Glyphack opened #548 "Add contribtuing.md file."
**Is your feature request related to a problem? Please describe.**
For new comers it can be hard to find out what should be done in order to add a new test or plugin.There should be CONTRIBUTING.md file including the pull request process.

**Describe the solution you'd like**
Adding a CONTRIBUTING.md

**Additional context**
CONTRIBUING.md file must contain steps of adding a new feature or fixing a

[2019-10-27 06:00] MartinThoma commented on #212
I would like this to behave similar to flake8:

[code]

I would expect this to:

1. Set the target to "foo_directory".
2. Execute all B3XX tests, except for B311.

[2019-11-12 08:06] skwashd commented on #373
@ericwb can you provide some guidance on how this issue should be resolved? This is blocking our rollout of bandit on a couple of projects. I have a developer who can work on the fix, but it would help if you can point them in the right direction.

[2019-11-17 19:42] a-recknagel opened #550 "Support for pyproject.toml as config file format"
[PEP 518](https://www.python.org/dev/peps/pep-0518/) specifies a config format that can be exploited by dev tools through designated sections, given their pyPI domain. The toml format is very basic and should allow a simple 1 to 1 mapping of the existing config, since it is more on the minimal side. Given the following `.bandit` file:

[code]

Its section in a pyproject.toml would look like this:

[2019-11-19 16:25] stephen-dexda commented on #418
Duplicate of #211.

[2019-11-19 20:56] ericwb commented on #418
Thanks @stephen-dexda .  Closing as Duplicate of #211

[2019-11-19 20:56] #418 closed

[2019-11-20 01:00] ericwb commented on #550
Note, there is a PR in progress: https://github.com/PyCQA/bandit/pull/401

[2019-11-20 07:16] a-recknagel commented on #550
Thanks for pointing it out, I only searched the issues. Since it just extends the yaml config (that I wasn't even aware of), it should handle the example I proposed and much more, so it would close this issue satisfactorily.

[2019-11-24 07:22] yogendra1911 opened #551 "False Negative under Python 3, reported if scanned under python 2.7"
Project being scanned:

https://github.com/portantier/vulpy

The project is python 3 project.

Under https://github.com/portantier/vulpy/blob/master/bad/vulpy.py, line 16
 `app.config['SECRET_KEY'] = 'aaaaaaa'`

should be reported under test_id B105 hardcoded_password_string.

The issue is being reported if the project is scanned under python 2.7 environment.

**To Reproduce**
Run Bandit under pyt

[2019-12-04 13:06] stephen-dexda commented on #455
There's an additional problem with flagging the import, namely that using `# nosec` on the import also disables warnings for any subsequent *uses* of the module.

This means that if I can either:

* `# nosec` the import, and not be warned about *any* subsequent use of the module; or
* not `# nosec` the import, and have a linting error.

The former is a problem because code may be a mix of legacy/b

[2019-12-05 08:38] ehooo commented on #455
@stephen-dexda I think for CI/CD is better option use --baseline to remove the hits on the code.

[2019-12-19 08:59] exhuma opened #553 "Add documentation for the "nosec" comment"
Currently the `# nosec` comment is only visible in the `--help` output and is really easy to miss.

Adding a small section in the documentation on how to suppress single lines would make this easier to find.

[2019-12-19 12:08] lukehinds commented on #553
do you plan on putting a PR together for this @exhuma ?

[2019-12-19 18:47] exhuma commented on #553
Done 😄

Note that I did not see a really good place to add it so I added it as a suggestion into the "config" section. I did not see a point creating a whole new document for this small section. Let me know if that works for you.

I was also probably a bit verbose with the text. I am open for any suggestion if you want me to change something. I'm also fine with squashing any future commits on the

[2019-12-23 16:17] #471 closed

[2020-01-01 12:19] simonkowallik commented on #455
CI/CD is one thing but to me the added security risk by not detecting new and potentially unsafe uses of subprocess is the critical point here.
I'll live with the module import warning and `# nosec` the specific finding.

[2020-01-01 16:56] amacfie commented on #332
Duplicate of https://github.com/PyCQA/bandit/issues/333

[2020-01-01 16:56] amacfie commented on #373
Duplicate of https://github.com/PyCQA/bandit/issues/333

[2020-01-01 17:13] amacfie commented on #484
If user time quadruples as the number of strings in the set doubles then the running time would be quadratic.

Interesting that this happens as the AST gets wider but not deeper.

[2020-01-01 21:15] amacfie commented on #545
Bandit assumes if your code calls [this function](https://cryptography.io/en/latest/hazmat/primitives/asymmetric/ec/#cryptography.hazmat.primitives.asymmetric.ec.generate_private_key) you are supplying the positional argument `curve`. If not you get this error.

[2020-01-01 22:17] amacfie commented on #499
In this scenario the `.bandit` file is completely ignored. Bandit only looks for config files where the target is, or recursively in subdirectories.

The relevant code is `bandit.cli.main._get_options_from_ini`.

[2020-01-01 22:27] amacfie commented on #499
Actually, if the target is a file, Bandit doesn't look for a `.bandit` file anywhere; see #332.

[2020-01-01 22:32] amacfie commented on #332
Bandit only looks for config files if the target is a directory. The relevant code is in
`bandit.cli.main._get_options_from_ini`.

[2020-01-01 23:06] amacfie commented on #333
It would be easy to change the test to be like `django_sql_injection.django_rawsql_used` which doesn't generate an issue if the argument is a string literal.

[2020-01-04 23:00] #486 closed

[2020-01-07 03:38] ericwb commented on #553
Fixed with #554

[2020-01-07 03:38] #553 closed

[2020-01-07 18:43] ericwb opened #559 "B324: hashlib_new not included in help docs"
**Describe the bug**
The doc for B324 hashlib_new is not included as part of:
https://bandit.readthedocs.io/en/latest/plugins/index.html

This may be because 3xx is for blacklist, yet this is a plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. Go tohttps://bandit.readthedocs.io/en/latest/plugins/index.html
2. Notice B324 is missing in the list of plugins

Note, it is not listed here ei

[2020-01-07 18:45] ericwb opened #560 "B324: hashlib_new not checking for SHA1"
**Describe the bug**
SHA1 has known weaknesses and a proven exploit.  We already include SHA1 as a blacklisted call from hashlib, but it's not part of hashlib_new plugin (B324)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/PyCQA/bandit/blob/master/bandit/plugins/hashlib_new_insecure_functions.py#L47
2. Notice it only checks MD4 and MD5

**Expected behavior**
Should

[2020-01-09 10:06] lukehinds opened #562 "Implement stalebot"
Might be worth us implementing [stalebot](https://github.com/apps/stale) - we are getting towards 100 issue open now, and stalebot will trim down the list by checking if the issues are abandoned or not.

Let me know you thoughts @ericwb and would this fit in with the  PyCQA plan of things @sigmavirus24 ?

[2020-01-09 13:10] sigmavirus24 commented on #562
I'd be happy to approve the app for PyCQA but GitHub doesn't send notifications for those requests as of the last time y'all wanted to add something so just give me a ping if/when you do so.

[2020-01-09 22:31] JStyle21 opened #563 "recommendations for found issues"
Hi,

This is actually a question but you don't have a question template, does bandit provide recommendations for the issues found?

[2020-01-09 22:35] ericwb commented on #563
@JStyle21 Not currently, but there is an enhancement issue opened on this very topic.  See https://github.com/PyCQA/bandit/issues/439

[2020-01-09 22:35] #563 closed

[2020-01-15 09:27] lukehinds commented on #562
Sorry for late reply, had a bit of PTO

I am not sure what GH would not send notifications, do you have any ideas @sigmavirus24 , from what I have seen it just posts a comment to the issue and the standard GH notification system posts out that a comment has been added to an issue (as with any user making a comment).

You can see an example here:

https://github.com/keylime/keylime/issues/199

We c

[2020-01-15 11:26] sigmavirus24 commented on #562
@lukehinds sorry, I wasn't sufficiently clear.

GitHub in the past hasn't sent Organization Owners notifications about people's requests to enable a GitHub App. That, however, seems like it may have _finally_ changed. I was just asking for a head's up before y'all try to add the stalebot app.

[2020-01-20 10:09] #543 closed

[2020-01-20 13:19] lukehinds commented on #548
Do you want to work on this @Glyphack ?

[2020-01-25 15:24] Glyphack commented on #548
@lukehinds Yes, indeed I would have worked on this if I knew more about the project structure. I start working on it.

[2020-01-26 10:19] LefterisJP commented on #488
I am trying to use bandit 1.6.2 and excluded directories are not respected. This issue does not appear to be fixed.

[2020-01-31 04:32] tonybaloney opened #569 "general_bad_file_permissions permits most dangerous flag"
The logic in `general_bad_file_permissions` seems to ignore `stat.S_IXOTH` (execute by others), which is the most dangerous of all the POSIX file flags.

It raises a high severity issue for `S_IWOTH` (write by others) and it raises a medium severity issue for `S_IXGRP` (execute by group).

The following test raises no issues:

[code]

The guide referenced in the file documents why it is bad to hav

[2020-02-04 15:17] bittner commented on #119
Were you able to solve the issue?

[2020-02-04 15:27] bittner commented on #119
I had a [Bandit job fail](https://travis-ci.org/Organice/djangocms-maps/jobs/645989184) on Travis CI for Python 3.8, but it passes for Python 3.7.

[2020-02-04 17:25] ericwb commented on #119
@bittner I believe the above issue was old (running py3.3) and fixed.

Bandit is tested with python 3.8, but there may be something missed in the unit tests for your case.  Can you please open a separate issue?  Better yet if you can detail how it's not being caught in our current unit tests, that would be great.  Thanks

[2020-02-06 22:35] Enrico204 commented on #488
@LefterisJP I'm using bandit 1.6.2 and it works, however it depends on how you specify all paths. I'm using all full relative paths (eg. `bandit -x './tests' -r .`). If I omit `./` at the beginning of the exclude directory, that directory is not considered in the exclusion. It seems also that this behavior is the same with the full path, as stated by @bittner . There is definitively an issue on pa

[2020-02-09 10:58] jugmac00 commented on #499
Is there a current workaround? bandit is unusable at the moment as all test files are marked as false positives because of the usage of `assert`.

[2020-02-11 21:03] bittner commented on #119
I figured that this is related to only `bandit<1.6`, which I use generally as it doesn't have the known performance defect (when running with `-r .` in a repo with version control).

When I run `bandit -r my_module` with version <1.6 the `AttributeError` shows up (without `bandit` faliing):
[code]
With the latest version of `bandit` and Python 3.8.0 the error doesn't show up.

[2020-02-14 15:52] flyinbutrs opened #573 "Skipping tests via args in .pre-commit-config.yaml does not work."
**Describe the bug**
When attempting to skip tests via args in `.pre-commit-config.yaml`, bandit fails.

**To Reproduce**
Add this to your `.pre-commit-config.yaml`.

[code]

**output**
[code]

**Expected behavior**
Bandit should skip B404,B603 tests.

**Bandit version**
[code]

[2020-02-14 15:54] flyinbutrs commented on #573
I'll leave it for posterity, but of course as soon as I submitted I figured out the right syntax:

[code]

[2020-02-14 15:54] #573 closed

[2020-02-19 19:52] darakian opened #574 "'NoneType' object has no attribute 'id'Traceback in django_mark_safe"
**Describe the bug**
While running bandit 1.6.2 I get the following output

[code]

**Expected behavior**
Not seeing a stack trace.

**Bandit version**

[code]

[2020-02-20 14:38] FreifunkerEZ opened #575 "missing directories should be cause for alarm"
**Describe the bug**
`bandit` does not consider missing items to be a problem. That means that renaming a directory without adjusting the CI-scripts will take it off the radar with zero complaint. It will even "fix" all of your old security problems.

**To Reproduce**
tell bandit to scan a directory which does not exist.
`bandit fnord`
and it will tell you that everything is okay (exit-code 0).
wh

[2020-02-24 05:06] ericwb commented on #119
@bittner Thank you for verifying on latest version.

[2020-02-26 21:18] lukehinds commented on #569
OK, I think there is a fair inclusion. Pycharm also marks the same for

https://pycharm-security.readthedocs.io/en/latest/checks/OS100.html

What do you think of adding `stat.S_IWGRP` *group users can write* as well @tonybaloney ?

[2020-02-26 21:24] lukehinds commented on #575
I agree, this should fail CI. Thanks for the issue @FreifunkerEZ

[2020-02-26 21:25] lukehinds commented on #574
hi @darakian

can you let us know the exact args you use to call Bandit and if the project you are scanning is available, the github repo url please

[2020-02-26 21:36] tonybaloney commented on #569
Yes, I think `stat.S_IWGRP` should be included as well.

I can update #570 to have:
- S_IXGRP or S_IWGRP = medium
- S_IXOTH or S_IWOTH = high

[2020-02-26 21:38] lukehinds commented on #569
sounds good, thanks @tonybaloney

[2020-02-26 23:12] darakian commented on #574
Sure thing. First the args are `-iii -llll` with the full command looking like (in my case)
[code]
The project is the django web framework and I'm using this file in particular
https://github.com/django/django/blob/stable/1.11.x/django/template/base.py

[2020-02-27 13:16] #548 closed

[2020-02-27 13:21] lukehinds opened #576 "Small corrected needed for contributors.md"
Issue for @Glyphack

A couple of spelling and grammar issues

Spelling mistake "existsing"

Add a comma `,` between "the issue is still open" and "in that case you can add"

change to "improvement of **the** Bandit project, ":

[2020-02-27 22:59] adambenali opened #580 "Importing bandit messes up console output on Windows."
**Describe the bug**
Importing bandit module changes the formatting on Windows console. This is because in one of the files, Colorama is imported and initialized without being deinitialized.

**To Reproduce**
0. Use Windows
1. Install bandit
2. Install colorama
3. print `'\033[4mHello, World!\033[0m'` before and after importing `bandit`.

**Expected behavior**
One should not be forced to use `Colo

[2020-03-06 11:51] #501 closed

[2020-03-07 18:21] #576 closed

[2020-03-07 18:24] lukehinds opened #584 "Deprecate Python 2"
We need to Deprecate Python 2, this issue can be for lodging possible impacts and discussing approaches we take.

I expect this will need to be a major release (2.x) as we will no longer have backwards compatibility to Python 2.

[2020-03-07 18:26] lukehinds commented on #584
any thoughts @sigmavirus24  / @ericwb , do you agree we should go ahead or you see some reason to keep python 2 code?

[2020-03-07 22:49] sigmavirus24 commented on #584
Let's kill it off. :fire:

[2020-03-07 23:01] ericwb commented on #584
Related to #500

[2020-03-07 23:03] ericwb commented on #584
Also, now that we use GitHub Actions for CI, we have till April 6th till we lose py27 Actions support.

https://github.blog/changelog/2020-02-27-github-actions-breaking-change-python-2-being-removed-from-all-virtual-environments/

[2020-03-07 23:53] ericwb commented on #584
I suggest release 1.6.3 be the last of the Python 2.7.  Then we version master to 2.x

[2020-03-08 06:27] lukehinds commented on #584
As we are going to do a major release to 2.0 are there any other non backwards compat changes we want to make, perhaps pep-518 or of that ilk?

[2020-03-10 01:11] dosisod opened #587 "CVE in pyyaml"
Hi! There has been an arbitrary code execution bug found in pyyaml: https://app.snyk.io/vuln/SNYK-PYTHON-PYYAML-559098

It has yet to be fixed, though an active pull request is waiting to be merged: https://github.com/yaml/pyyaml/pull/386

Pyyaml is currently on version `5.3`, but bandit uses `>=3.13`, so when it is merged I will put in a PR to bump it to the newest version!

[2020-03-10 09:07] lukehinds commented on #587
thanks @dosisod , please tag me when you see the merge happen.

[2020-03-10 09:18] #580 closed

[2020-03-10 15:10] sobolevn opened #589 "Find catastrophic `re` expressions"
**Is your feature request related to a problem? Please describe.**
Some `re` expressions might cause DoS. See: https://www.regular-expressions.info/catastrophic.html

**Describe the solution you'd like**
I would like to have a linting rule for this. If `bandit` sees a regex that might cause DoS, it should raise an error.

**Describe alternatives you've considered**
I have considered using `dlint`,

[2020-03-17 18:25] dosisod commented on #587
@lukehinds 5.3.1 Has been merged (yaml/pyyaml#386), once it is uploaded to pypi I merge #588.

[2020-03-19 04:30] #587 closed

[2020-03-25 14:53] chinskiy opened #592 "B703 and B308 check passed if mark_safe used as a decorator"
**Describe the bug**
According to [docs](https://docs.djangoproject.com/en/dev/ref/utils/#django.utils.safestring.mark_safe) mark_safe can also be used as a decorator.

B703 and B308 checks in this case passed.

**To Reproduce**

When mark_safe used as a function:

example.py
[code]

Output
[code]

When as a decorator

example.py
[code]
Output
[code]

**Expected behavior**
Same issues will be show

[2020-03-30 08:09] roniemartinez opened #593 "Incorrect documentation links"
**Describe the bug**
bandit CLI generates incorrect links

**To Reproduce**
1. Write code with `lxml.etree.fromstring` call and run bandit CLI
2. Verify that the output link/reference in command line is not correct (using a browser). Check output below:
[code]

**Expected behavior**
Should generate links to https://bandit.readthedocs.io/en/latest/blacklists/blacklist_calls.html#b313-b320-xml inste

[2020-03-30 13:45] GLeurquin opened #595 "Ini file settings ignored"
**Describe the bug**
Adding excluded files, output format or output file in `.bandit` is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `.bandit` with:
[code]

2. Run `bandit --ini .bandit`
3. See that it uses command line arg for exclude, output format and output file instead of the ini file.
[code]
**Expected behavior**
I expected the format used to be the one from the .ba

[2020-03-30 15:39] bsolomon1124 commented on #318
Was there ever a PR that implemented this?

As of 8127716355048540e4baf6e1f9735583008c8714, looks like no:

    # https://github.com/PyCQA/bandit/blob/8127716355048540e4baf6e1f9735583008c8714/bandit/cli/main.py#L158
    parser.add_argument(
        '-c', '--configfile', dest='config_file',
        action='store', default=None, type=str,
        help='optional config file to use for selecting plugi

[2020-03-31 12:11] roniemartinez opened #596 "input() should not be detected as an issue in Python 3"
**Describe the bug**
[code]

**To Reproduce**
Just use `input()` in your Python 3 code.

**Expected behavior**
Since we are using Python 3 as also shown in the bandit command line output, `input()` should be considered safe.
[code]

**Bandit version**

[code]

[2020-04-01 19:33] bsolomon1124 commented on #488
This issue still exists nearly one year later on Bandit 1.6.2.

While it makes very little sense, `-x` or `--exclude` seems to require an absolute path or `./`-prefaced relative path.

E.g. if you have a `venv` in your current directory:

[code]

will work as intended whereas

[code]

Will attempt to scan all of `venv/`.

[2020-04-10 22:35] jshields commented on #574
I am having this issue as well. I can't share the full example since it's part of a closed source codebase, but basically here's what's happening:
bandit 1.6.2
python 3.6.9
[code]

The line has the issue:
[code]

Workaround is to move `mark_safe` onto the line where `msg` is defined:
[code]

[2020-04-13 04:58] ericwb commented on #596
This is something additional to drop when dropping support for Python2 @lukehinds

[2020-04-13 06:29] lukehinds commented on #574
@ehooo I can see this is your code, do you mind taking a look?

[2020-04-15 13:18] Niccolum opened #599 "Not found SQL injection"
**Describe the bug**
I create file with some SQL injection like code
[code]

but bandit find only assert

**To Reproduce**
1. Run bandit my_code.py
2. Find only assert (B101)

**Expected behavior**
Find all SQL injection (B608)

$ pip list | grep bandit
bandit                      1.6.2
$ python -V
Python 3.8.2
$ uname -a
Linux niccolum-HP-ProBook-650-G3 4.15.0-88-generic #88-Ubuntu SMP Tue Feb 11

[2020-04-15 17:50] SanketDG commented on #599
I can replicate the same with `1.6.2`, I am not sure why it doesn't seem to work. From a shallow look, there's no change in the file since the last release. But this does seem to work from master.

Can you try and fetch the latest master and then pip install that and see if it works?

[2020-04-15 18:02] Niccolum commented on #599
@SanketDG
Yep, with master all is OK on 3.8

[2020-04-15 18:04] Niccolum commented on #599
Seems like i will waiting new version from master on PYPI)

[2020-04-15 18:34] pawamoy opened #600 "Option to force colors even if not a TTY"
**Is your feature request related to a problem? Please describe.**
I'm writing a simple Python script that captures the output of a command to print its output only if it failed ([failprint](https://github.com/pawamoy/failprint)). Since I'm using `subprocess.PIPE`, bandit detects that it's not a TTY and disables the colors.

**Describe the solution you'd like**
I'd like bandit to provide an option

[2020-04-16 07:10] Cielquan commented on #499
I do not use a config file but have also regarding problems with pre-commit.

When I run `bandit -x "./.tox/*,./.eggs/*,./tests/*" -r .` it works just fine.

When I run bandit with pre-commit I get an "error" in the output:
`--exclude ./.tox/*,./.eggs/*,./tests/* (No such file or directory)`

pre-commit-config.yaml:
[code]

I also tried `args: ["--exclude .tox,.eggs,tests"]` without success.

And

[2020-04-17 04:41] ericwb commented on #574
Fixed with #598

[2020-04-17 04:41] #574 closed

[2020-04-17 07:01] Flauschbaellchen commented on #333
Is there a timeline when this bug will be fixed?
IMHO, the check would be very useful but the bug renders it completely useless and frustrating.

[2020-04-17 08:55] SanketDG commented on #333
How does this help here?

The best way seems to lower its confidence down to `LOW`, as there is no definite way of knowing that a `input` is truly secure.

[2020-04-17 14:13] Wintersmith opened #602 "from xml.etree.ElementTree import Element Flagged"
[code]
Is flagged as Severity: Low and Confidence: High.  Solution advises to use defusedxml, except the defusedxml package does not contain Element.

**Expected behavior**
Do not mark Element as vulnerable.

**Bandit version**
[code]

[2020-04-18 04:17] SanketDG commented on #602
The purpose is to use a safer alternative.

Why not just use https://github.com/PyCQA/bandit#exclusions?

[2020-04-19 12:56] Wintersmith commented on #602
Except there isn't a safer alternative.  I'm already using defusedxml for the parsing, but Element isn't part of it, presumably as it's a type, and not used for processing.  Excluding it from Bandit seems a bit counterproductive....

[2020-04-22 09:18] bittner opened #603 "Document how to use Bandit"
There are several issues open that suggest that it is unclear how Bandit is meant to be executed. In fact, there are no usage instructions at all in the [Bandit docs](https://bandit.readthedocs.io/en/latest/).

**Describe the solution you'd like**

There should be simple, crisp, usage instructions in the Bandit docs, e.g.

(Obviously, the instructions above don't work for the current version 1.6.2

[2020-04-22 11:01] gggal123 opened #604 "When using -n and -f (json) flags, -n flag is ignored"
**Describe the bug**
When using Bandit and adding -n (context lines number flags) and -f (output format) json flag, -n flag is ignored and the returned result always contain 3 lines of code (the default).

**To Reproduce**
Steps to reproduce the behavior:
Take a python file with few lines of code and run bandit against it. I ran test B605.
My python file cotent:
[code]

The command I ran with -f f

[2020-04-25 15:11] maxcountryman commented on #346
@ericwb I'd also be curious to know how #450 can be used to address this?

[2020-04-26 00:11] wtkm11 commented on #412
Hi @Changaco! I was considering picking up this issue as a way to contribute but it looks like these cases would be covered by `B608:hardcoded_sql_expressions` (see [injection_sql.py](https://github.com/PyCQA/bandit/blob/master/bandit/plugins/injection_sql.py)). Two instances of hardcoded sql expressions were detected in this snippet of code:

[code]
Is there another variation of this issue involv

[2020-04-26 09:43] Changaco commented on #412
@wtkm11 bandit still doesn't detect calling the SQL constructor with a non-literal. For example in a function that receives a table name as an argument, using `sql.SQL(table_name)` would be unsafe, it should be `sql.Identifier(table_name)` instead.

[code]

[2020-04-27 08:13] defsprite opened #605 "False negative for hardcoded credendtials (B105) using python 3.8"
**Describe the bug**
bandit 1.6.2 reports a false negative using python 3.8 versus 3.7 for hardcoded credentials.

Possibly a duplicate of #551

**To Reproduce**
Given an example file `foo.py` like:
[code]

**Expected behavior**
Bandit should have the same output as it has with 3.7:

[code]

versus

[code]

**Bandit version**
[code]

[2020-04-28 01:44] sachfer commented on #515
In order to fix this bug, an additional module needs to be added to the code which checks the string on the left from the add operator to contain a keyword (SELECT) followed by a random string (an attribute name) and the string to the right to contain a keyword (FROM).

And also, the query ("SELECT a " + "FROM " + vuln) needs to be added in their example scripts to be more informative to the users

[2020-04-28 10:26] lietu opened #606 "Usage needlessly complicated"
**Is your feature request related to a problem? Please describe.**
When setting up Bandit the usage is needlessly complicated. This is made even worse when I want to use things like [pre-commit](https://pre-commit.com) or otherwise get colleagues to use the same tools, as the configuration files are a mess.

1. There is no example that I can find for the `-c` config file. I tried to use the only f

[2020-04-28 10:56] lietu commented on #606
Actually one more thing just popped in my mind, that would make this better: the only reason I skip tests at all is `B101`, which probably should be enabled for most of the project, but I don't want every test to cause warnings, nor am I going to `#nosec` every `assert`.

It would probably be nice if we could set `B101` to be skipped on `**/tests`, or do a file level `# banditskip B101` or somethi

[2020-04-29 03:58] aregm opened #607 "Failed to run on xarray"
**Describe the bug**
When running bandit on xarray on Windows conda environment, Python 3.8.1, bandit fails with error

Traceback (most recent call last):
  File "c:\apps\miniconda\envs\modin\lib\site-packages\bandit\core\manager.py", line 168, in output_results
    report_func(self, fileobj=output_file, sev_level=sev_level,
  File "c:\apps\miniconda\envs\modin\lib\site-packages\bandit\formatters\

[2020-04-30 15:41] cc-stjm commented on #606
Agree with all of the above, but I think that just dealing with #346 nicely would solve your need for configuration, and mine too...

[2020-04-30 15:42] cc-stjm commented on #457
See also #346 - B101 in tests is a big pain.

[2020-05-01 02:29] wtkm11 commented on #412
I wrote a plugin test to detect situations like this:

[code]

However, I feel that in this case the confidence should be `LOW` rather than `MEDIUM`. What do you think?

[2020-05-02 08:05] Changaco commented on #412
I don't see why it should be low confidence, and I think it would make the test useless because in my experience low confidence alerts are numerous and have to be silenced by default.

[2020-05-04 15:58] brianjmurrell opened #609 "Detect /bin/bash -c "end-run" around Shell=True checking"
**Is your feature request related to a problem? Please describe.**
Bandit successfully finds use of `Shell=True` in `subprocess` (and other) methods.

But of course, `Shell=False` can be defeated by providing one's command wrapped in `bash -c ""`.

**Describe the solution you'd like**
Bandit should check for the use of shells in the same class of commands.

[2020-05-06 14:20] StianOvrevage opened #611 "Do a release"
I installed bandit with `pip install bandit` which installs 1.6.2, which is also the latest tagged release on GitHub. However it looks like that happened 9+ months ago. For example `--exit-zero` is not included in the latest release.

Would it be an idea to do a release soon?

[2020-05-06 14:27] StianOvrevage commented on #611
After hitting the same problem on other tools I found that you can use `bandit -r mymodule || true` in the Dockerfile to not have it break builds.

[2020-05-07 11:47] lukehinds commented on #611
Hi @StianOvrevage , should be happening very soon (2.x) I just need to finish deprecation of Py2.

[2020-05-07 11:50] lukehinds commented on #609
Could you describe a little more on how would wrap, perhaps a code example.

First thoughts are that this might be a little challenging to find, as we use AST to walk through the code looking for patterns.

[2020-05-07 12:55] brianjmurrell commented on #609
[code]

Now, I am not saying that anyone would intentionally, understanding the risks, do the above, but somebody who is ignorant as to why Bandit is complaining about `shell=True` might think the above is an acceptable way to satisfy Bandit.

[2020-05-10 01:50] ericwb commented on #611
Correct, we really want Py2 dropped in next release as it's end-of-life.

[2020-05-13 20:37] julianthome opened #612 "Include CWE mappings for all bandit issues"
**Is your feature request related to a problem? Please describe.**
The internal vulnerability identifiers/issues used by bandit cannot be mapped to commonly used vulnerability metrics such as CWE. Some environments may require CWEs to be used as a standard for categorizing vulnerabilities. In addition, CWE mappings are very useful to consolidate vulnerability reports produced by different tools.

[2020-05-13 20:38] julianthome commented on #612
Just opened up a PR for this issue: https://github.com/PyCQA/bandit/pull/613

[2020-05-14 05:09] shashim22 opened #614 "Bandit is not differentiating between pyCrypto and pyCryptodome import"
**Describe the bug**
Bandit is blacklisting import from pyCryptodome thinking it is an import from pyCrypto.

blacklist: The pyCrypto library and its module AES are no longer actively maintained and have been deprecated. Consider using pyca/cryptography library.
Test ID: B413
Severity: HIGH
Confidence: HIGH

More info: https://bandit.readthedocs.io/en/latest/blacklists/blacklist_imports.html#b413-

[2020-05-18 05:07] #584 closed

[2020-05-18 05:09] ericwb commented on #612
Please reference this feature in your PR

[2020-05-18 05:11] ericwb commented on #612
I'd like to also see a parameter in the metadata for a link to the http://cwe.mitre.org/ site with the referenced ID.

[2020-05-23 11:22] GadgetSteve opened #617 "Documentation: Add licence plus source & tracker links"
**Is your feature request related to a problem? Please describe.**
Currently find out the licence or to get from the documents to the bug tracker you have to know how to get from readthedocs.io to the correct repo on github. Often the people who would need to review the license would not know how to do this.

**Describe the solution you'd like**

1. An actual copy of the licence in an appendix, li

[2020-06-03 08:01] julianthome commented on #612
Thanks again @ericwb. I addressed your comments in the PR 👍

[2020-06-07 17:53] n-batalha commented on #332
@amacfie a use case (for me) is as follows, say I want bandit to ignore use of asserts in the tests folder. I configured `.bandit` to ignore that folder but this is ignored in editors like VSCode where it seems run bandit for individual files when they are being edited. So I cannot rely on `.bandit` but everyone needs to configure their IDE to manually exclude the tests folder via `-x tests`.

I a

[2020-06-11 19:59] Dreamsorcerer opened #619 "create_subprocess_exec/shell"
Not sure if you want to handle this case as well. But, when writing code with asyncio, instead of using the subprocess module, people are likely to use create_subprocess_exec():
https://docs.python.org/3/library/asyncio-subprocess.html#asyncio.create_subprocess_exec

So, maybe should catch those uses as well?

[2020-06-14 20:51] acharles7 opened #620 "Enhancement remove redundant code using list comprehension"
**Is your feature request related to a problem? Please describe.**
Currently, In [bandit/blacklists/imports.py](https://github.com/PyCQA/bandit/blob/master/bandit/blacklists/imports.py#L234) There is redundant appending code for every blacklist items, that we can easily remove using list comprehension. i.e. appending blacklists items `dict` to `list` i.e

[code]

**Describe the solution you'd like

[2020-06-23 14:52] Niccolum opened #622 "New release"
Hello

When you decide to release a new stable version of bandit? The old version on PYPI works correctly only on python 3.7 (know several issues about it). I want to use newer python (at least 3.8) and use all new features.

Thanks

[2020-06-24 07:34] nachiketrss opened #623 "#nosec is not working for multiline assert."
**Describe the bug**
#nosec is not working for multiline assert.

**To Reproduce**
I have a multiline assert like the following:

assert 10<20, 'display a very' \
            'long multiline message' \
            'for this assert'

When I add #nosec, and run bandir -r, it does not exclude the error.

**Expected behavior**
Adding #nosec should exclude the error

**Bandit version**

[code]

[2020-06-24 19:03] pawamoy commented on #600
I don't think it's worth it anymore. I'd have to patch a lot of tools using `isatty` :sweat_smile:

Feel free to reopen :slightly_smiling_face:

[2020-06-24 19:03] #600 closed

[2020-06-24 21:04] loikein commented on #346
Does this not work anymore?

[2020-06-26 09:21] nicobbg opened #624 "B108 harcoded tmp detection does not work"
B108 harcoded tmp detection does not work

It was working with my python3.7 env but not anymore on my python3.8 env.
I have this piece of code:

[code]

[test_set]	DEBUG	added function hardcoded_tmp_directory (B108) targeting Str
...
Test results:
	No issues identified.

Code scanned:
	Total lines of code: 2
	Total lines skipped (#nosec): 0

Run metrics:
	Total issues (by severity):
		Undefined: 0

[2020-06-26 13:05] nicobbg commented on #624
I've just check with Python3.7.7 and it's working.
I did not see at first glance that 3.8 was not supported yet. I'll rollback to python3.7

[2020-06-26 13:05] #624 closed

[2020-06-26 19:14] davidknise opened #625 "Inclusive terminology"
**Is your feature request related to a problem? Please describe.**
Inclusive terminology

**Describe the solution you'd like**
Change the terminology of blacklist to either denylist or blocklist.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
Hey bandit team,

I'm from a Microsoft team that runs a static analysis engine that installs, configures, runs, and pr

[2020-07-01 17:07] sillyfatcat opened #626 "Neat way to call bandit natively in python without relying on the CLI"
**Is your feature request related to a problem? Please describe.**
I'm trying to integrate Bandit into a python tool that I have but I don't want to shell out or rely on subprocess to call bandit this way:

`subprocess.Popen(['bandit', '-r', full_path], stdout=subprocess.PIPE)`

**Describe the solution you'd like**
It would be beneficial if we could do something like:

    from bandit import bandi

[2020-07-02 19:17] davidknise commented on #625
https://bandit.readthedocs.io/en/latest/blacklists/index.html

Closing as infeasible.

[2020-07-02 19:17] #625 closed

[2020-07-31 07:26] downfall109 opened #628 "New release?"
In master you have the --exit-zero flag available, and other new features, but no release for over a year. Is it possible to just release an up to date version?

Thanks!

[2020-08-19 16:21] roalexan opened #634 "support outputting to junit-xml format"
Several build tools require that the output files from various code analysis tools be in the junit-xml format. I can see how to output to xml using bandit, but not to junit xml format. Is there support for this?

[2020-08-20 16:01] roalexan commented on #634
actually, the problem I'm hitting is not that it's not in junit-xml format, but rather that the file is missing some elements on a successful run. For example, I'm getting:

	<?xml version='1.0' encoding='utf-8'?>
	<testsuite name="bandit" tests="0" />

whereas I think it needs to look something like:

	<?xml version="1.0" encoding="utf-8"?>
	<testsuite errors="0" failures="0" name="bandit" skips=

[2020-08-20 16:39] roalexan commented on #634
actually, for now I'm going to replace the file with this (less than ideal):

	<?xml version='1.0' encoding='utf-8'?>
	<testsuite name="bandit" tests="0" errors="0" failures="0" skipped="0" tests="1">
	<testcase classname="bandit" name="bandit">
	</testcase>
	</testsuite>

[2020-08-26 22:06] fniessink opened #636 "Bandit shows progress indicator even when passing --quiet"
**Describe the bug**
Bandit shows a progress indicator when the number of files is greater than 50, even though the --quiet flag is passed

**To Reproduce**
Steps to reproduce the behavior:
Run "bandit --quiet src" on a folder with more than 50 files.

**Expected behavior**
Bandit should not show a progress indicator when --quiet is passed

**Bandit version**
[code]

**Additional context**
I'd be

[2020-09-02 14:11] thomas-nilsson-irfu commented on #628
This looks to me to be a duplicate of #611.

(ps. I am also interested in a new release but the maintainers should perhaps not be bothered by a lot of duplicate issues. ds.).

[2020-09-02 14:12] thomas-nilsson-irfu commented on #622
This looks to me to be a duplicate of #611.

(ps. I am also interested in a new release but the maintainers should perhaps not be bothered by a lot of duplicate issues. ds.).

[2020-09-02 14:33] Niccolum commented on #622
Ok, close ticket because of duplicate

[2020-09-02 14:33] #622 closed

[2020-09-03 14:12] williams-brian commented on #362
I recently scanned this again with Bandit 1.6.2 and it is no longer and issue.

[code]

[2020-09-07 23:28] jvanderaa opened #639 "When Using Python >= 3.8.0 Bandit fails to detect password"
**Describe the bug**
When running Python3.8.5 Bandit fails to detect the following code as having issues:

[code]

But when running in Python3.7.7 it detects it just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate Python3.7.7 environment via container or via Pyenv on mac
2. Execute bandit `bandit cli.py`
3. See expected metrics of failure
4. Activate Python3.8.5 environment vi

[2020-09-17 14:34] TheTechRobo commented on #332
This is actually really bad for CodeFactor, because I don't think it runs Bandit on a directory. I feel like it should _always_ look for a config file, unless there is a **very good reason** not to. Thoughts?

[2020-09-17 21:19] kbasgall opened #640 "More control over exit code"
In Azure Pipelines, the exit code of a command determines the success or failure of a task.  If any task in the pipeline fails, the entire pipeline run shows as a failure.  We would like our Bandit task (and therefore the build) to fail if high severity and high confidence warnings are found, however we want the task (and the build) to succeed if there are low or medium severity warnings.

We woul

[2020-09-30 10:34] szuliq commented on #545
Why does it need to be positional? It's perfectly valid Python code to supply it as keyword argument. Therefore I claim this is a bug in `bandit`, do you agree?

[2020-10-02 14:42] jugmac00 commented on #395
Just in case, there is a third way. You can specify a configuration file with a skips section.

[code]

[2020-10-05 10:40] oriash93 commented on #636
I believe this is the cause of the issue:

https://github.com/PyCQA/bandit/blob/b78c938c0bd03d201932570f5e054261e10c5750/bandit/core/manager.py#L223-L225

While passing the `--quiet` flag just sets the logging level to `WARN`:
https://github.com/PyCQA/bandit/blob/c6b1302e7b1ab1ad78799264d8ca7222f2c3d428/bandit/cli/main.py#L415-L416

@fniessink let me know if you haven't started yet, I'd like to ta

[2020-10-05 17:41] oriash93 commented on #636
I am not a maintainer so it's not up to me to decide. I would have used the logger.

[2020-10-06 20:18] df-seagate opened #642 "hardcoded_password_string is not triggerend when using python typing"
**Describe the bug**
When using python typing the hardcoded_password_string issue is not produced

**To Reproduce**
class MyConfig:
    my_password**: str** = 'password'

**Expected behavior**
The code above should produce a [B105:hardcoded_password_string] issue

**Bandit version**

[code]

**Additional context**
Add any other context about the problem here.

[2020-10-09 14:22] dugdug36 opened #643 "How to exclude .bandit inside folder scan ?"
I would like make massive scanning in many repos, some repos have .bandit file (its scanning profile).
How to exclude this profile like --ignore-nosec do it ?.

[2020-10-14 20:11] dave-shawley commented on #623
For posterity, I ran into this on the SQL injection check for calculated SQL and I could `# nosec` the multi-line string literal.

[2020-10-15 22:16] DrGFreeman opened #644 "# noqa rendered in documentation"
**Describe the bug**
`# noqa` applied inside docstrings is rendered in documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://bandit.readthedocs.io/en/latest/plugins/b103_set_bad_file_permissions.html
1. Scroll down to "See Also" section
1. Notice the **# noqa** rendered at the end of the first line (screenshot below):

![image](https://user-images.githubusercontent.com

[2020-10-15 22:18] DrGFreeman commented on #644
The solution is simple and consists of moving the `# noqa` tag at the end of the docstring.

I will look for all instance and submit a PR with the changes shortly.

[2020-10-19 20:16] pandorazboxx commented on #472
I'm getting a similar issue using Git Bash on Windows 10. With Python 3.7.3 and Release 1.6.2 of bandit.

[code]

I also ran this on Ubuntu 18.04LTS (WSL) with Python 3.7.5 and it seemed to work fine.

[2020-10-19 20:24] pandorazboxx commented on #472
Interestingly.... this works just fine in powershell. So, there's a workaround for anyone on Windows running into the same problem.

[2020-10-30 01:30] jvanderaa commented on #639
This is also an issue on Python 3.9.0 image

[2020-11-10 04:02] #498 closed

[2020-11-12 15:40] MarcSkovMadsen commented on #596
I just experienced this also. Would be nice to have removed.

[2020-11-19 17:54] #644 closed

[2020-11-20 03:42] abhaybhargav opened #646 "Support for the SARIF (Static Analysis Results Interchange Format)"
**Is your feature request related to a problem? Please describe.**
I think integration is the name of the game today and the SARIF format (https://github.com/oasis-tcs/sarif-spec) is a standard that most static analysis tools have embraced. It would be great if Bandit could have that as well. Simply because this integrates with Github, Vulnerability Management Tools and makes results consistent

*

[2020-11-23 16:24] andren commented on #478
@ericwb my team has an interest in this feature and I'm willing to contribute if we can agree on a format and if you would accept it of course.

Regarding formats
---
1. [Suppressing Individual Lines](https://bandit.readthedocs.io/en/latest/config.html?highlight=nosec#suppressing-individual-lines):
[code]

2. [nosec-has-comment](https://blueprints.launchpad.net/bandit/+spec/nosec-has-comment) prop

[2020-11-25 09:31] #636 closed

[2020-11-26 05:24] arpanetus commented on #643
damn, I even managed to curse my teammate for bandit
this is how you do it:
`exclude: /tests,/venv`
don't put any spaces after `,`, seems like parser just splits the string by `,`

@dugdug36

[2020-11-26 16:50] sometimescasey commented on #596
+1, still experiencing - ty

[2020-11-27 18:08] jwstein3400 opened #647 "Inclusive terminology"
**Is your feature request related to a problem? Please describe.**
In the bandit repository there are currently 27 instances of [blacklist](https://github.com/PyCQA/bandit/search?q=blacklist), 1 instance of [whitelist](https://github.com/PyCQA/bandit/search?q=whitelist), and 6 instances of [master](https://github.com/PyCQA/bandit/search?q=master).

These terms while not intentionally are negative

[2020-11-27 19:53] lukehinds commented on #647
+1

Do you want to make this change, or just let me know and I can.

[2020-11-27 20:29] jwstein3400 commented on #647
1. I can submit a change for blacklist/s to blocklist/s.

1. The whitelist reference is in the [tox.ini](https://tox.readthedocs.io/en/latest/config.html#conf-allowlist_externals) and would require an upgrade to 3.18 or later.

1. Of the master references I can change 1 of them, while 3 are associated with the default branch and 2 are [Sphinx configurations](https://www.sphinx-doc.org/en/master/us

[2020-11-30 10:48] #346 closed

[2020-12-04 05:34] MartinThoma commented on #212
https://bandit.readthedocs.io/en/latest/config.html :

You need to pass the YAML-config file path explicitly with `-c your.config.yaml`. It might look like this:

[code]

[2020-12-05 14:40] KOLANICH opened #649 "blacklist getattr calls"
**Is your feature request related to a problem? Please describe.**
One of use cases for `bandit` is a backdoor detection. It doesn't fit it well though, since for proper backdoor detection intermodule and runtime interactions must be addressed, i.e. with tajnt analysis (and the fact it can be easily bypassed must be clearly stated in bold big red font).

It can detect very crude backdoors with exp

[2020-12-06 02:09] ericwb commented on #639
Hmm, I don't see this issue when running bandit under py39 on [hardcoded-passwords.py](https://github.com/PyCQA/bandit/blob/master/examples/hardcoded-passwords.py)

However, I do see an issue in Py3.9 detecting the following:
d["password"] = "blerg"

[2020-12-06 20:52] ericwb commented on #628
1.6.3 is out on PyPI. Thanks!

[2020-12-06 20:52] #628 closed

[2020-12-06 20:52] ericwb commented on #611
1.6.3 is out on PyPI. Thanks!

[2020-12-06 20:52] #611 closed

[2020-12-06 21:00] ericwb commented on #500
1.6.3 is out on PyPI which includes drop of Py2.7 Thanks!

[2020-12-06 21:00] #500 closed

[2020-12-06 23:25] ericwb opened #654 "Wheel artifact no longer universal"
**Describe the bug**
The python package getting published is shown as bandit-1.6.3-py2.py3-none-any.whl on PyPI even thought Py2 support has been dropped.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pypi.org/project/bandit/#files
2. Notice the filename of bandit-1.6.3-py2.py3-none-any.whl

**Expected behavior**
Since as of 1.6.3, Bandit is Py3 only.  So I would expect the p

[2020-12-07 08:55] #654 closed

[2020-12-07 09:12] ralphje commented on #596
This issue has been cropping up in 1.6.3 more prominently, at least in our build process on Python 3.8.6, while it was running fine in Bandit 1.6.2.

[2020-12-07 10:35] adideutsch opened #656 "Undetected issues B104, B608"
**Describe the bug**
Issues B104, B608 were **not detected** on 1.6.2 and **suddenly detected** on 1.6.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Python 3.8.4
2. pip install bandit=1.6.2 / pip install bandit=1.6.3
3. bandit -l -r src/ (src contains files with issues B104/B608 **recursively**)
4. See the difference between running on 1.6.2 and 1.6.3

**Expected behavior**
Issu

[2020-12-07 12:32] andrey-semakin commented on #595
May be caused by https://github.com/PyCQA/bandit/pull/508.

[2020-12-07 12:37] budgester opened #657 "Bandit 1.6.3 does not respect excluded paths from .bandit file"
With a .bandit file with the contents
`
[bandit]
exclude: ./.tox,./tests
`

1.6.2 gives
`
$ bandit -r -ll -ii .
[main]	INFO	Found project level .bandit file: ./.bandit
[main]	INFO	Using ini file for excluded paths
[main]	INFO	Using command line arg for selected targets
[main]	INFO	profile include tests: None
[main]	INFO	profile exclude tests: None
[main]	INFO	cli include tests: None
[main]	INFO	cl

[2020-12-07 14:43] Stannislav opened #658 "#nosec not working for multi-line strings in python 3.8"
# The Problem
Starting `python3.8` adding `#nosec` after a multi-line string has no effect. This was not the case in python 3.6 (and I think also 3.7)

# How to Reproduce
## Prepare two sample python source files
`success.py`:
[code]

`fail.py`
[code]

## Set up `python3.6` and `python3.8` environments
[code]

## Run bandit using `python3.6`
[code]
Run bandin on `success.py` -- no issues.
[code]
R

[2020-12-07 20:20] rjb3977 commented on #657
To perhaps save a maintainer a couple minutes of searching, it looks to me like [this](https://github.com/PyCQA/bandit/commit/5ac8b8bf0a364a5222080db7c7e1951c0901e7a2) is most likely the change that causes the breaking behavior.

[2020-12-07 22:53] xuhdev commented on #657
I can also reproduce this issue.

[2020-12-09 08:07] #596 closed

[2020-12-09 13:44] kratsg opened #663 "bandit 1.6.3 is getting picked up on python 2.7 installs"
**Describe the bug**

When running using python 2.7, a `pip install bandit` picks up 1.6.3.

**To Reproduce**

[code]

It's been uploaded as a "universal wheel" which I think is the issue.

**Expected behavior**

An older version of bandit is picked up.

[2020-12-09 15:42] yoctozepto commented on #663
Yes, this has broken OpenStack CIs for Py2.7

[2020-12-09 16:34] tipabu commented on #663
See also https://github.com/PyCQA/bandit/issues/654. Not sure how amenable PyPI is to updating busted artifacts, but I also wouldn't want to force a return of py2 support. Unpublishing may be the least-bad option?

[2020-12-09 16:54] yoctozepto commented on #663
Agreed. Publish 1.6.4 as non-universal (or best yet, just publish 1.7.0 at least) and unpublish 1.6.3. That would help.

[2020-12-11 12:08] fthiery opened #664 "No colored output in docker"
**Describe the bug**

I am running bandit from gitlab-ci using docker, with the following ; it works fine but the color output seems botched, for example:

`>> Issue: [B607:start_process_with_partial_path] Starting a process with a partial executable path`

**To Reproduce**

Dockerfile:
[code]
test.py file:
[code]

`docker build -t test . && docker run test`

![Capture d’écran de 2020-12-11 13-07-

[2020-12-13 04:05] ericwb commented on #663
1.7.0 is published, but need to track down a PyPI user with Owner role to yank 1.6.3

[2020-12-13 04:18] ericwb commented on #663
1.6.3 yanked.  Thanks everyone

[2020-12-13 04:18] #663 closed

[2020-12-13 10:14] yoctozepto opened #665 "Bandit 1.7.0 still picked up by Python 2"
**Describe the bug**

https://github.com/PyCQA/bandit/issues/663 again but with wheels disabled. Now the source tarball is being picked up.

It seems that, indeed, bandit does not include the ``data-requires-python="&gt;=3.5"`` on its deliverables:
view-source:https://pypi.org/simple/bandit/

[2020-12-13 13:20] Dreamsorcerer opened #666 "B404 Consider possible security implications associated with DEVNULL module."
`from subprocess import DEVNULL, PIPE`

produces `B404 Consider possible security implications associated with DEVNULL module.`

That's awfully confusing. I think it's meant to say 'subprocess module'.

[2020-12-13 16:53] Dreamsorcerer commented on #666
On a related note, it seems to miss the fact that I'm using `asyncio.create_subprocess_exec()`. I'd expect to get some warning for that.

[2020-12-13 18:00] ericwb commented on #665
The PKG-INFO does contain: `Requires-Python: >=3.5`

Which is a result of setting in setup.py:
[code]
What else might I be missing?  Could you provide a way to recreate?  Thanks

[2020-12-13 20:49] yoctozepto commented on #665
My best bet is that the PyPI tooling did not look into setup.py but setup.cfg and did not find it (Requires-Python) there, hence skipped.

[2020-12-13 20:49] yoctozepto commented on #665
The failure happen, so pip sees it obviously. Only the index got it wrong.

[2020-12-14 00:45] ericwb commented on #666
Please open a separate issue for the `asyncio.create_subprocess_exec()`. Thanks

[2020-12-14 04:47] ericwb commented on #666
Actually #619 already captures the asyncio bit.

[2020-12-14 05:00] #362 closed

[2020-12-14 07:56] sirkonst commented on #657
Still broken in 1.7.0 :-(

[2020-12-14 09:49] lennybe opened #668 "AttributeError: 'Tuple' object has no attribute 'id'"
During Bandit run on Python project I've faced the error below.

#bandit --version
bandit 1.6.2
  python version = 2.7.5 (default, Aug  7 2019, 00:51:29) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

Can't provide a way to reproduce.

865 [0.. 50.. 100.. 150.. 200.. 250.. 300.. 350.. 400.. 450.. 500.. [tester]	ERROR	Bandit internal error running: hardcoded_password_default on file ./gvvm/srvmng/AgentMn

[2020-12-14 10:30] lennybe commented on #668
not reproduced with
# bandit --version
bandit 1.7.0
  python version = 3.6.8 (default, Aug  7 2019, 17:28:10) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

[2020-12-14 12:17] Dreamsorcerer commented on #666
Forgot I already opened that. :P

This error should therefore probably not appear at all, as I've only imported a couple of flags, there shouldn't be any security considerations for that.

[2020-12-14 12:17] syphar commented on #657
We also ran into this issue when upgrading from `1.6.2` to `1.7.0`

what could be a proposed fix? I don't know the codebase (yet), but could help

[2020-12-15 10:23] codingjoe commented on #657
I believe this commit has broken things:
https://github.com/PyCQA/bandit/commit/ca6d28356947d2c1ccb5eb92ec77fc8e3fcab515

What's interesting though, `skips` works just fine, thought it seems implemented the same way.

[2020-12-15 15:03] rjb3977 commented on #657
I'm still pretty sure that 5ac8b8bf0a364a5222080db7c7e1951c0901e7a2 is the culprit. It added a default value for the excluded paths command line argument. That argument overrides the configuration file's excluded paths, rather than merging with it, like the documentation / help message suggests. So now, the excluded paths in the configuration file are always overridden.

[2020-12-15 15:21] codingjoe commented on #657
Yes, you are right, the default seems to be the problem. It needs to be added at a later point.

[2020-12-15 16:24] rjb3977 commented on #657
Or it could be made so that the command line argument does in fact merge with the config file's exclusions. The help text for that argument says "note that these are in addition to the excluded paths provided in the config file", which is incorrect.

[2020-12-15 18:14] andrey-semakin commented on #595
Seems to be duplicated by #657.

[2020-12-15 19:00] codingjoe commented on #657
No, I wouldn't do that. That would be backwards incompatible, and we won't see a fix released until kingdom come.

[2020-12-17 05:38] #666 closed

[2020-12-17 07:32] ericwb opened #672 "HTML formatter is missing line number"
**Describe the bug**
When using HTML output format, the output doesn't contain the line number of occurance.

**To Reproduce**
Steps to reproduce the behavior:
1. bandit examples/yaml_load.py -f html > output.html
2. open output.html with a browser
3. Notice there is no line number indicator

**Expected behavior**
I'd expect a field for line number or at least appended to end of file name

**Bandi

[2020-12-17 07:36] ericwb commented on #672
Appears that the XML formatter is also missing line number info

[2020-12-18 09:04] ericwb opened #675 "Remove B325: tempnam"
**Describe the bug**
In Python 3.0, the functions os.tmpnam(), os.tempnam() and os.tmpfile() were removed in favor of the tempfile module.  As a result, we no longer need to have a check for them in Blacklist.calls

https://docs.python.org/3/whatsnew/3.0.html?highlight=tempnam

**To Reproduce**
Steps to reproduce the behavior:
1. Read https://docs.python.org/3/whatsnew/3.0.html?highlight=tempnam

[2020-12-21 03:38] ericwb commented on #668
This is fixed in 1.7.0+ since Python 2 has been dropped due to its EOL.

[2020-12-21 03:38] #668 closed

[2020-12-22 03:04] ericwb opened #678 "Conform more to command line standards"
**Is your feature request related to a problem? Please describe.**
A nicely written standard around command lines is available.. Bandit should strive to conform to these standards where possible.

For more info, see: https://clig.dev/

TODOs:

- [x] Display help text when passed no options, the -h flag, or the --help flag. #814
- [ ] Display a concise help text by default.
- [ ] Provide a support

[2020-12-25 23:13] aludwin1 commented on #672
@ericwb I noticed in the code that line number should be included following the filename. Is it actually not appearing or is just not clear that it's the line number?

`      text = 'Test ID: %s Severity: %s Confidence: %s\n%s\nLocation %s:%s'
        text = text % (issue.test_id, issue.severity, issue.confidence,
                       issue.text, issue.fname, issue.lineno)`

It's right after the

[2020-12-27 05:15] #672 closed

[2020-12-30 22:21] kiwiz commented on #646
For reference, it looks like Microsoft wrote a converter here: https://github.com/microsoft/bandit-sarif-formatter

[2021-01-09 13:57] HilitOreny opened #687 "Please add support for Windows OS"
According to Bandit's PYPI project page, Bandit only supports MacOS and Linux operating systems.

Please add support for Windows operating system.

Many Python developers use Windows operating system, exclusively or along other operating systems. If Bandit supports Windows OS, then more people will be able to use Bandit and to improve it.

[2021-01-09 20:30] ericwb commented on #687
In my opinion, we should only claim supported OSes that match what environments we test on.  Currently, we only have unit testing via GitHub Actions being performed on Linux.  So even declaring macOS support is not accurate.

That being said, I know there have been PRs merged to support running Bandit on Windows, but because it's not tested regularly, I don't know if its currently broken or will b

[2021-01-13 19:10] loscil06 commented on #495
Still having this problem as of 1.7.0, is there any temporary workaround I can do?

[2021-01-14 21:58] ML-Chen commented on #402
This was resolved for me when I updated from Bandit 1.6 to 1.7.

[2021-01-24 22:18] Barkhat26 commented on #687
I don't quite understand what @HilitOreny meant when she said about the lack of support for Windows OS, but I can run bandit via Windows command line.

[2021-01-26 22:13] jdrowne commented on #318
Bump. As of this writing, documentation does not say the config file must be explicitly set via `-c`.

[2021-02-02 10:50] MartinThoma commented on #589
More information about ReDoS: https://owasp.org/www-community/attacks/Regular_expression_Denial_of_Service_-_ReDoS

[2021-02-08 02:10] mfalkner commented on #426
I had the same problem and somehow managed to correct it. Not all of the below may be relevant but it is my story.

I originally installed using:

pip install bandit

I got two warnings. One directed me add the scripts folder to PATH as mentioned by ericwb above. I did that.
The other said I was using pip version 20.2.3 but version 21.0.1 was available, so I upgraded with:

...\bandit-env\scripts\

[2021-02-08 11:17] KayleeTheMech commented on #488
Still having this issue in 1.7.0. For gitlab reasons I had to include the virtualenv inside the project_root and bandit ignores all attempts to ignore that folder...

[2021-02-10 19:20] ranjan-osaro commented on #529
Any update on this?

[2021-02-11 16:15] jvanderaa commented on #639
Looks like this is now closed in Bandit 1.7. Closing the issue.

[2021-02-11 16:15] #639 closed

[2021-02-15 08:59] RobGThai opened #693 "ini "exclude" config is ignored"
**Describe the bug**
**exclude** configuration inside **.bandit** ini file is always ignored due to default cli argument.

**To Reproduce**
Steps to reproduce the behavior:
1. Create . bandit file with the following.

[code]

2. Run CLI with `bandit --ini .bandit -r` in a directory with **.bandit** file.
3. You should now see that Bandit is prefer CLI argument for **exclude** over ini.

[code]

**

[2021-02-23 16:14] mkielar opened #694 "Bandit fails when using importlib with named arguments"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Save this code in a `test.py` file
[code]
2. Run:
[code]
3. Observe the error

**Expected behavior**
I'd expect it to scan the file with no errors.

**Bandit version**

[code]

**Additional context**
This line: https://github.com/PyCQA/bandit/blob/master/bandit/core/blackl

[2021-02-28 00:57] adamwojt commented on #499
ini file for dir exclusion don't work with `-r`option. It's super confusing.

My `.bandit`
[code]
[code]
Tests dirs and files are not ignored but everything works file with  `bandit -x "test_*.py,./venv/,./env/,./node_modules/,./cacheback/,./.env,./.venv,migrations,tests" -r .`

I am confused.

[2021-03-01 19:03] bsolomon1124 commented on #693
Yep, `_log_option_source()` is broken. It will early-return if it gets a "truthy" `arg_val`. A command line default satisfies that.

https://github.com/PyCQA/bandit/blob/6765a57254a6563a26c946e94321d8d447c094fe/bandit/cli/main.py#L83

[2021-03-01 19:07] bsolomon1124 commented on #693
Coupled with https://github.com/PyCQA/bandit/issues/595, https://github.com/PyCQA/bandit/issues/657, and https://github.com/PyCQA/bandit/issues/488 (unceremoniously closed for no reason), I'd venture to say 'exclude' is pretty much nonfunctional at this point.

[2021-03-01 19:10] bsolomon1124 commented on #693
https://github.com/PyCQA/bandit/commit/5ac8b8bf0a364a5222080db7c7e1951c0901e7a2 is the commit that introduced this. (Looks like Bandit 1.6.3 + 1.7.0.)

[2021-03-03 05:37] RobGThai commented on #693
From what I can understand, `_log_option_source` early return is because it finds the default value supplied via CLI instead of the ini configuration. I'm not sure what should take precedent between CLI and ini. I felt like allowing CLI to override the ini rule. can be useful but I digress. If the CLI should take precedent over CLI then `_log_option_source` is working as intended. Without early re

[2021-03-03 15:02] DrakezulsMinimalism commented on #511
@ericwb
Could we maybe add some kind of path normalization to the baseline comparison instead? This would preserve the system specific paths but enable baseline comparisons.

[2021-03-09 22:04] robertlagrant opened #696 "Control report severity level separately to exit code"
**Is your feature request related to a problem? Please describe.**
Currently in bandit the minimum severity for reporting and for triggering an exit code of 1 is always the same - controlled by `-l`, `-ll` and `-lll`. This means, for example, that I cannot run bandit in CI with all vulnerabilities going into a report, while failing the CI job on more severe issues.

**Describe the solution you'd l

[2021-03-13 19:58] pzelnip opened #697 "Official Dockerhub image"
**Is your feature request related to a problem? Please describe.**

For CI pipelines it can be convenient to run a linting/checking tool from a Docker image.  For example, Pyup provides their `safety` tool as a Docker image that you can run in a CI pipeline with:

[code]

This is useful so that instead of ensuring that `safety` is installed on a CI worker, you just pull the image and run.

It woul

[2021-03-14 17:22] pzelnip commented on #697
For those looking for something in the interim before this issue is addressed, In the absence of an official PyCQA endorsed image, this one works: https://github.com/cytopia/docker-bandit

[2021-03-16 09:48] openedhardware opened #698 "skips in .bandit file are ignored"
**Bandit version**
[code]

**.bandit file**
[code]

But I am still seeing B404 and all other issues:
[code]
Any idea why `skips` are completely ignored?

[2021-03-16 12:53] benvdh commented on #693
@RobGThai in case it helps to get started: Bandit has pretty good contribution guidelines, which might help you to get started:

https://github.com/PyCQA/bandit/blob/master/CONTRIBUTING.md#your-first-code-contribution

I'm not a bandit dev, but I have made some opensource contributions over the years, and CONTRIBUTING.md is usually where I start.

[2021-03-17 09:07] exhuma commented on #499
I just ran into the same issue. Which makes this pretty bad for me right now is that bandit is executed via a CI-pipeline defined by a centrally configured GitLab instance. This *always* runs bandit using `bandit -r <package_name>` and I don't have direct control over this in the project.

In my project I have some files that I want to exclude and wrote them into `.bandit`

Yet, the pipeline still

[2021-03-22 16:08] jamercee opened #700 "It would be useful to declare skips at module-level"
It would be useful to be able to specify skips at module-level.

The present skip options are either skipping the test entirely in the bandit.ini file or decorating a specific line with `# nosec`. But often, a pattern of warnings occurs together in the same module.  For example, we use `xml.etree.ElementTree.fromstring()` to communicate with our internal restful API.    We collect together all API

[2021-03-23 02:36] ceteri commented on #499
@Cielquan, you probably need to use the following instead:
[code]

[2021-03-23 08:14] Cielquan commented on #499
Yeah, I think that could be the case.
In the meantime I change from directly running bandit to running it via flake8-bandit and running flake8 via flakehell which enables you to customize the behavior auf every single flake8 extension for each and very file for example.

[2021-03-25 01:47] openedhardware commented on #698
Any update here?

[2021-03-27 09:29] lukehinds commented on #697
Good idea @pzelnip , I will look into this.

[2021-03-27 11:35] dlorenc commented on #697
Let me know if you want help @lukehinds!

[2021-03-31 12:30] m-aciek commented on #531
@sirosen So you've created a custom pre-commit script and use it instead of
[code]
?

[2021-03-31 13:11] sirosen commented on #531
No, I've changed how the baseline is generated. The sample I provided passes filenames for the baseline exactly the way that pre-commit will pass them to the hook.

[2021-04-01 07:51] openedhardware commented on #698
I have found the reason.

`.bandit` file should be located in `src` directory.

[2021-04-01 07:51] #698 closed

[2021-04-09 20:08] Adarsh-Pradeep-vineti commented on #665
any update on this issue?

[2021-04-09 20:09] tigerey3 commented on #665
any update on this?

[2021-04-10 20:50] maciejstromich commented on #640
As the author of --exit-zero PR I can implement this enhancement fairly easy. I've few questions though.

1. should this maybe be implemented in a way that choosing medium level is also choosing lower level results implicitly (--exit-zero-severity m would mean that both low and medium level results are considered)? or should this be explicit (to choose low and medium severity results --exit-zero-s

[2021-04-10 20:58] maciejstromich commented on #696
dup of #640?

[2021-04-12 22:20] kbasgall commented on #640
Hello, thanks for the reply! To answer your questions:
1. I really could go either way here.  Choosing lower level results implicitly would be perfect for our use case.  However, the extra level of customization might not be a bad thing.
2. No.  I want to be able to enter just `--exit-zero-severity l` and use default confidence exit behavior.  I think `--exit-zero-severity` would be more used than

[2021-04-14 05:46] desecho opened #706 "Python 3.9 support"

[2021-04-15 11:38] vanschelven opened #708 "Error message refers to "defusedxml.defuse_stdlib()" but calling that does not silence bandit"
When importing one of many XML packages, one is presented with the following message:

However, it does not seem that calling `defusedxml.defuse_stdlib()` actually shuts bandit up.

It is also not entirely clear that bandit really should shut up, given the following piece of
defusedxml documentation:

Nor is it clear how to generally call `defuse_stdlib()` in such a way that the monkey patching pr

[2021-04-15 11:44] vanschelven opened #709 "B405 complains about any xml.etree.ElementTree import, not just parse-related ones"
B405 complains about any xml.etree.ElementTree import, not just parse-related ones

Importing like so

[code]
gives a bandit error (B405).

This error talks about parsing (which is indeed unsafe); but the imported thing is not related to parsing. At the same time, the suggested remedy (`defusedxml`) exclusively provides alternatives for parsing-related functions, in particular for `parse`, `iterpa

[2021-04-16 15:30] sdatko commented on #665
The decorator package had similar issue recently: https://github.com/micheles/decorator/issues/102
Maybe the same actions shall be taken for bandit package?

[2021-04-20 14:02] seanmceligot commented on #709
Just to add to this. It's important if you are using type hints
[code]

[2021-05-05 13:41] fjsj commented on #693
Any easy workaround instead of passing all excludes as a CLI argument?
This issue broke several of my CIs.

[2021-05-06 13:03] whitespots commented on #214
Will be a lot more easy to develop a custom plugin with this feature of topicstarter

[2021-05-12 08:30] moon-bits commented on #550
@ericwb I'm sorry to say that: But this is getting ridiculous.

There is a pending PR https://github.com/PyCQA/bandit/pull/401 since October 2018, and you waste the time of the poor guy that still maintains the branch to keep it free from merge conflicts.

Just merge it and please don't block it unnecessarily. We wait since 2 years for that feature that has been already implemented.

[2021-05-14 14:32] sblancov commented on #523
https://github.com/PyCQA/bandit/issues/447

Duplicated?

[2021-05-14 14:33] sblancov commented on #447
Please, if this works, merge please, it is tremendously useful in CI.

I want to see the log and get HTML reports at the same time.

The horrible workaround is executing this tool twice :(

[2021-05-18 03:08] paw-lu opened #711 "B701 false positive when using `jinja2.select_autoescape()` instead of `select_autoescape()`"
**Describe the bug**

When using `select_autoescape` from the `jinja2` namespace directly (`jinja2.select_autoescape()`), a false positive s701 is raised.

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

[code]

[code]

**Expected behavior**

I expect both of the above files to pass and not raise s701. I expect bandit to accept `jinja2.select_autoescape()` as a valid safe argume

[2021-05-18 15:14] paw-lu commented on #711
Missed this the first time, but looks like this is a duplicate of #453

[2021-05-18 17:08] StykMartin opened #712 "XML (JUnit) output is not recognized by Bamboo JUnit parser"
**Describe the bug**
Bandit's XML/Junit output is not recognized by the Bamboo Junit parser when there is no violation.
The reason is that the Junit parser is expecting at least one TC, which kinda makes sense.

Exact error
[code]

**To Reproduce**
Steps to reproduce the behavior:

Create a report without any finding
For example
[code]
Pass this result to the JUnit parser in Atlassian Bamboo.

**E

[2021-05-25 13:28] jackton1 commented on #333
+1 Waiting for the timeline on this issue, Since it's not helpful to have to introduce `# nosec` each time for both `B602` and `B404`

[2021-05-27 09:45] frenzymadness commented on #693
And moreover, it seems that it's not possible to use exclude in pre-commit because there is no straightforward way to set CLI arguments in pre-commit-config.yaml :disappointed:

[2021-06-01 14:21] Dreamsorcerer opened #714 "Possible hardcoded password: ''"
It would be nice to tweak the check here to not give a warning when the 'password' is an empty string.

[2021-06-08 12:51] scott-nordicwi commented on #488
Just confirming that this issue still persists in 1.7

[2021-06-08 14:09] KayleeTheMech commented on #488
Coming back here include my workaround.

Using absolute paths has worked, but since that wasn't an option for gitlab i found that

`bandit  --exclude ./.pipenv/* -r -ll .`

seems to respect the excluded folder.

[2021-06-09 12:00] bsolomon1124 commented on #488
@ericwb please reopen based on ample evidence above.

[2021-06-11 09:34] tobias-feil-by commented on #499
How did you even find out about the possibility of mentioning args in the config file? The [docs](https://bandit.readthedocs.io/en/latest/config.html) don't mention this

[2021-06-11 09:42] jugmac00 commented on #499
This refers to `pre-commit` - not to `bandit` - for those you do not run `bandit` directly, but via `pre-commit` - highly recommended to run linters.

[2021-06-12 18:46] maciejstromich commented on #640
https://github.com/PyCQA/bandit/pull/715

[2021-06-16 23:46] xuhdev commented on #657
Is there a conclusion to this issue?

[2021-06-21 13:20] icemac opened #716 "B410: lxml.cssselect has no equivalent in defusedxml"
**Describe the bug**
The message for B410 ("Using lxml.cssselect to parse untrusted XML data is known to be vulnerable to XML attacks. Replace lxml.cssselect with the equivalent defusedxml package.") is misleading: There is no equivalent in the `defusedxml` package. According to https://github.com/tiran/defusedxml/blob/9ca12a2cd3faf4554b30ac7d380a4ea393469c72/defusedxml/lxml.py#L26-L29 `defusedxml

[2021-06-22 19:44] derek-miller commented on #550
Any update here? Can you either merge the PR or reject it? Nearly all other linting related packages have support for `pyproject.toml` at this point and a shame users still need to use multiple configuration files for a solved problem.

[2021-06-25 08:16] aastashov commented on #592
A have the same problem with `format_html`

Error:
[code]

example:
[code]

[2021-07-01 16:11] ericwb opened #721 "TEST"
### Describe the bug

this is not a bug, this is a test

### Reproduction steps

[code]

### Expected behavior

to test

### Bandit version

1.6.3

### Python version

3.6

### Additional context

_No response_

[2021-07-01 16:21] #721 closed

[2021-07-05 08:06] syl-ms commented on #646
@ericwb Hi Eric. My team is planning to modify either bandit or the converter provided above so that the SARIF output includes suppression information. I see you've added this enhancement for 2.0.0 - is someone already working on this? How could we contribute? Thanks.

[2021-07-08 09:07] dolfinus commented on #488
I've faced just the same issue on 1.7. This command is hanging for several minutes:
[code]
as well as this one:
[code]
but this one works just as expected:
[code]

[2021-07-17 15:22] grizz commented on #550
Seriously... please? :)

[2021-08-02 02:51] L1ghtn1ng commented on #706
Can we get a new release that has this in as it has been checked in the master branch to support py3.9 @ericwb and there has not been tagged a new release since end of last year

[2021-08-03 19:19] shawaj opened #726 "B607 false positive with sed command?"
### Describe the bug

Running bandit on the following code, where reset_pin is a number give a false positive B607 error:

[code]

Here is the full error message:
[code]

### Reproduction steps

[code]

### Expected behavior

I am not using any partial paths in the above code. However I think bandit is interpreting the `../` in the gpioResetSED variable as a relative path incorrectly - when it is

[2021-08-03 22:36] shawaj commented on #726
Just realised I'm a numpty and the "partial path" is referring to sed...

🤦

[2021-08-03 22:36] #726 closed

[2021-08-07 13:01] Dreamsorcerer opened #727 "SQL Injection flagged when concatenating strings"
### Describe the bug

It seems that when concatenating strings in a `cur.execute()` call, it flags up sql injection possibilities, even though all the string arguments are being passed into the execute() call. So, this looks safe to me.

### Reproduction steps

[code]

### Expected behavior

No errors from concatenating string literals.

### Bandit version

1.7.0 (Default)

### Python version

3.7

[2021-08-11 09:41] stuertz commented on #693
As a workaoround I call `bandit -x ""` So that `_log_option_source` doesn't get the defaults. Or for `.pre-commit-config.yaml`:

[code]

[2021-08-11 13:05] soltanoff commented on #693
@stuertz, thank you! It's work

[2021-08-11 19:23] kasium commented on #550
Guys, this feature is really requested. We have already a finished PR by @orsinium. Can you please finally decide on this?

[2021-08-12 11:10] mmngreco commented on #447
Any update on this? I could check on the PR that it's almost done! :+1:

[2021-08-16 10:02] dromer commented on #488
The help output says that it excludes `.tox` by default, but my tox-dir is still scanned which is quite useless.

This is certainly not resolved and needs to be reopened.

[2021-08-23 04:03] jooeji opened #729 "Any chance of supporting sonarqube?"
We use sonarqube to do static code detection in the ci/cd process, so expect to support sonarqube.

[2021-08-24 02:15] #212 closed

[2021-08-24 02:15] #550 closed

[2021-08-29 08:14] efimk-lu opened #730 "Bandit fails when running as part of pre-commit"
### Describe the bug

I'm using the following configuration in pre-commit:
[code]
While running `pre-commit run -a` we are getting the following errors:
[code]

### Reproduction steps

[code]

### Expected behavior

To succeed

### Bandit version

1.7.0 (Default)

### Python version

3.7

### Additional context

_No response_

[2021-08-29 09:57] mr-c commented on #730
I'm getting the same failure while running bandit in my regular CI: https://github.com/common-workflow-language/cwltool/pull/1482/checks?check_run_id=3454232416#step:9:50

[2021-08-29 10:05] mr-c commented on #730
Here's the source: https://github.com/python/importlib_metadata/pull/339
workaround: install version  4.7.1  of `importlib_metadata` (or add `importlib_metadata != 4.7.2` to your installation lines)

[2021-08-31 05:18] bhuvi11 commented on #612
Hello Team,

Is this enhancement already done ? Can someone help me on this?

[2021-09-02 10:19] edgarriba opened #733 "Error parsing pyproject.tml"
### Describe the bug

Hi ! I'm following the documentation** to provide a custom setup for bandit to exclude some tests (B101) in our testing framework but I get the following error:

[code]

Where the ppyproject.toml is the following
[code]

**https://bandit.readthedocs.io/en/latest/config.html

### Reproduction steps

[code]

### Expected behavior

Not crash

### Bandit version

1.7.0 (Default)

[2021-09-02 16:01] amrishparmar commented on #733
I had the same problem when I was attempting to implement Bandit recently, but it's due to the fact that the `latest` docs are actually what's currently on `master`. The docs for the current 1.7.0 are more in line with `stable`, i.e. https://bandit.readthedocs.io/en/stable/config.html

Until Bandit gets a new release you'll have to use a `.bandit.yml` file to configure it.

[2021-09-03 06:02] edgarriba commented on #733
@amrishparmar thanks so much , I’ll keep in mind

[2021-09-06 03:11] bhuvi11 opened #734 "Weakness information"
### Describe the bug

Hello Team,

I see that there is no information about CWE/CVE in the output.
Is there a plan to include them in the output?

### Reproduction steps

[code]

### Expected behavior

I am expecting to see CWE information in the result

### Bandit version

1.7.0 (Default)

### Python version

3.9 (Default)

### Additional context

_No response_

[2021-09-08 11:44] WayneLambert commented on #550
Like others, I agree that it would be really great if a new release was on PyPI so that the Python community can benefit from the work that @orsinium and the other contributors/maintainers have done.

[2021-09-09 12:31] kulikjak opened #735 "Pbr is unexpectedly required during runtime"
### Describe the bug

When running bandit without pbr installed, it breaks with:

    Traceback (most recent call last):
      File "/usr/bin/bandit", line 6, in <module>
        from bandit.cli.main import main
      File "/usr/lib/python3.7/vendor-packages/bandit/__init__.py", line 17, in
    <module>
        import pbr.version
    ModuleNotFoundError: No module named 'pbr'

but pbr is not liste

[2021-09-09 12:52] okainov opened #736 "Add config via setup.cfg"
**Is your feature request related to a problem? Please describe.**

I'd like to use single `setup.cfg` file for many different linters/plugins/style checkers. Currently bandit requires to have special config for it and is not able to read `setup.cfg`.

**Describe the solution you'd like**
1. Check multiple different paths for config file by default
2. Implement proper parsing of `setup.cfg` (which

[2021-09-09 12:53] okainov commented on #212
Not sure why this was closed as it's still valid.

[2021-09-16 07:40] Peterl777 commented on #658
Confirming it's also a problem on 3.9.7 on Windows
[code]

[2021-09-16 09:43] syl-ms opened #737 "Option to output violation information of skipped tests/lines"
**Problem to Solve**
Without the complete violation information, we cannot know whether certain tests or lines are being skipped reasonably. This option allows us to make more informed judgements.

**Proposed Solution**
1. Our team works with the SARIF output format. Therefore, it's desirable if Bandit could output to SARIF directly when used with the flag `-f sarif`.
2. When Bandit is executed wi

[2021-09-29 06:43] 1n40 commented on #727
Please check this example: https://github.com/1n40/bandit/blob/master/examples/sql_statements-py36.py
According to this example, concatenation is a bad practice and the query should not be concatenated.

[2021-09-29 14:29] jlost commented on #706
+1, would also like pyproject support in a tagged release.

[2021-09-29 16:39] Dreamsorcerer commented on #727
@1n40 Not sure what I'm looking for in that example. I don't see any that match what I've said or back up your claim that concatenation is bad practice...

[2021-09-29 16:48] asears commented on #736
Would it make more sense to use pyproject.toml for this effort as part of modernization?
See #550 which is awaiting some publish.

[2021-09-29 17:37] 1n40 commented on #727
In the above mentioned example, at line number 21,  under "Bad" formats, there is this line:
  `cur.execute("SELECT * FROM foo WHERE id = '" + identifier + "'")`

This might mean that string concatenation is considered a bad practice by the program.
Your program  https://github.com/aio-libs/aiohttp-session/blob/master/examples/postgres_storage.py#L68 shows similar type of string concatenation and

[2021-09-29 17:51] Dreamsorcerer commented on #727
No, the use of a variable in the string is a possible vulnerability.

Concatenating string literals is not a vulnerability.

If the program is checking purely for concatenation, then it is wrong, hence why this is a bug report.

[2021-09-29 17:58] Dreamsorcerer commented on #727
It might get a little more tricky on whether it can detect literals assigned to variables, with something like:
[code]

Which should ideally still pass. But, at the very least it should allow literals to be concatenated:
[code]

[2021-09-30 09:49] okainov commented on #736
@asears yes and no :) From one side I'm all for supporting different formats, if it makes some folks happy, why not, more is not less. From the other side, in our projects we do use `setup.cfg` with a lot of different tools and plugins and even if we would like to migrate to something (and we probably are not really into that for now), it wouldn't be so trivial and fast. And so far Bandit is the o

[2021-10-04 13:05] oliver-sanders commented on #658
Confirmed with 3.8 & 3.9 on Linux.

It looks like the line number of the error is being reported as the first line of the multi line string (where we cannot put a nosec comment) whereas before it was the last line.

Using the report above as an example:

[code]

[2021-10-04 16:23] PabloLec commented on #550
Same here, given the age of the last release and the number of updates pending I think a new version should already be out.

[2021-10-05 06:26] orsinium commented on #550
I did the PR 4 Hacktoberfest's ago, since then I have changed 3 cities, 2 countries, and 4 jobs, built a house, created 50+ small projects. So, be patient and just don't make expectations about the release date 😉

[2021-10-05 08:51] PabloLec commented on #550
Ok, I guess I'll focus on building a house too and come back later :wink:

[2021-10-23 23:54] mschfh opened #744 "Python >= 3.6 tests failing due to PyYAML 6.0"
### Describe the bug

PyYAML 6.0 was recently released for Python 3.6 and up, which causes tests for these versions to fail due to a breaking change:
https://github.com/yaml/pyyaml/blob/8cdff2c80573b8be8e8ad28929264a913a63aa33/CHANGES#L17

log:

[code]

requirements.txt specifies `PyYAML>=5.3.1`, replacing it with `PyYAML>=5.3.1, <6.0` resolves the problem

### Reproduction steps

[code]

### Expe

[2021-10-24 18:09] #744 closed, assigned to ericwb

[2021-10-26 13:49] BenjaminJanes opened #747 "standard code suggestion from psycopg gets errors"
### Describe the bug

Hi,
We use pscopg2 and have the following query:
[code]

However it a fails bandit security. The code above fails on the first assignment where there is no parameterization at all
[code]
Further the lines with %s are following the guidelines from psycopg2 as how to do parameterized queries. and need exceptions
[code]

### Reproduction steps

[code]

### Expected behavior

Exp

[2021-10-27 21:06] HairyFotr opened #748 "Lower the severity of insecure hash functions (B303) for hashlib if usedforsecurity=False"
hashlib supports setting the usedforsecurity=False when hashing or creating a hash function:
[code]

I suggest bandit could lower the severity, if usedforsecurity=False is present, since this is quite explicit.

But I would advise against ignoring such cases completely, since it says in the docs ( https://docs.python.org/3/library/hashlib.html#hash-algorithms ), that setting it to False enables th

[2021-11-04 10:18] CarliJoy opened #749 "Add check for potential misuse of unicode"
**Is your feature request related to a problem? Please describe.**
Recently some possible misuses of unicode characters were described.
See [PEP 672](https://www.python.org/dev/peps/pep-0672/) for a description.

**Describe the solution you'd like**
It would be nice to have some Bandit rules that can be configured:

- An optional filter that enforces ASCII - only (excluding `\u[0-9a-f]+`, `\b`, `\

[2021-11-04 13:40] Lucas-C opened #750 "[Trojan Source Attacks] New feature: ban the use of text directionality control characters"
**Is your feature request related to a problem? Please describe.**
The vulnerability is detailed here: https://trojansource.codes

**Describe the solution you'd like**
Could a new check be added to `bandit` to detect those characters?

**Describe alternatives you've considered**
Using a language-agnostic linter tool detecting this vulnerability,
but I do not know any existing one so far.

**Additi

[2021-11-04 14:02] kleph commented on #750
May be a bit less strict, as the article mention, _unterminated_ bidirectionnal control character ?

I still haven't use those type of character, but I presume they are usefull for right to left languages. I assume banning all control chars would prevent writing comment in those languages ?

It's probably harder to implement though.

Appart from that, I think it's a great idea to implent those che

[2021-11-05 08:06] Lucas-C commented on #750
It is recommended as part of the [PDF white paper](https://trojansource.codes/trojan-source.pdf), section "VII. F - Defenses":

[2021-11-09 08:53] CarliJoy commented on #750
Please note #749 where I already opened an issue for the same topic.

[2021-11-09 10:52] Lucas-C commented on #750
Indeed, those issues are duplicates.
I'm closing this as it came after yours @CarliJoy

[2021-11-09 10:52] #750 closed

[2021-11-09 10:54] Lucas-C commented on #749
The vulnerability is detailed here: http://trojansource.codes

Extract from [the PDF white paper](https://trojansource.codes/trojan-source.pdf), section "VII. F - Defenses":

[2021-11-10 03:01] Yiwei-Ding commented on #737
Hi @ericwb , we are good to contribute to this feature😊. And we could provide more details about our goals and designs if needed. Please let us know if there are any concerns or feedbacks.

[2021-11-10 14:08] GliderGeek commented on #623
im having a similiar problem where i cannot use nose on the following code:

[code]

- i cannot put the comment on line 1 or line 2
- putting it on line3 does not work

context:
- bandit 1.7.0
- linux

[2021-11-10 16:04] GliderGeek commented on #623
i found a workaround which is not super pretty but work: tuple (un)packing

[code]

[2021-11-11 08:21] GliderGeek commented on #623
might be dup of https://github.com/PyCQA/bandit/issues/658

[2021-11-11 19:59] #499 closed

[2021-11-11 20:53] devNan0 commented on #499
Nice. Could we get a release for this? @sigmavirus24

[2021-11-11 21:50] sigmavirus24 commented on #499
That's my plan, yes

[2021-11-12 16:28] upcFrost opened #753 "Excluded paths from the .ini file ignored if -x flag is set"
### Describe the bug

Bandit 1.7.1 no longer appends CLI-provided excluded paths to those provided in the `.ini` file, which contradicts the doc: `note that these are in addition to the excluded paths provided in the config file`

### Reproduction steps

[code]

2. Run bandit with both ini file and `-x` flags provided: `bandit --ini .config -x 'test'`
[code]

[2021-11-15 16:12] lukegil commented on #693
This workaround appears to have been broken by https://github.com/PyCQA/bandit/issues/753 . Using 1.7.1, you need to remove the `-x ""` options

[2021-11-16 19:55] diegovalenzuelaiturra commented on #346
Based on [this comment][1],

The following configuration should solve your problem:

[code]

[1]: https://github.com/PyCQA/bandit/pull/450#issuecomment-724777229

[2021-11-16 20:04] diegovalenzuelaiturra commented on #606
Based on [this comment][1],

I think the following configuration should work (by providing the path to the `YAML` configuration file by using the `--configfile` argument)

[code]

[1]: https://github.com/PyCQA/bandit/pull/450#issuecomment-724777229

[2021-11-16 21:08] kinoute opened #758 "Release with pyproject support"
Hello,

Would it be possible to get a new release? The last one is from Dec 2020. The `pyproject.toml` support is a really nice feature and it would be cool if we could use it.

Thanks!

[2021-11-17 01:40] diegovalenzuelaiturra commented on #603
Hi, I think this may be helpful here.

Here is my current approach to configure `bandit` to avoid raising `B101 assert_used` warnings on python tests.

- Use the [`Bandit Config Generator`](https://bandit.readthedocs.io/en/latest/config.html#generating-a-config) to generate an optional profile and save it to a `YAML` file

[code]

- Edit the generated profile configuration file
    - `bandit.yml`

[2021-11-17 01:49] diegovalenzuelaiturra commented on #457
Hi, the following may be helpful to configure `bandit` to avoid raising `B101 assert_used` warnings on python tests.
- https://github.com/PyCQA/bandit/issues/603#issuecomment-971057519

[2021-11-17 01:50] diegovalenzuelaiturra commented on #528
Hi, the following may be helpful to configure `bandit` to avoid raising `B101 assert_used` warnings on python tests.
- https://github.com/PyCQA/bandit/issues/603#issuecomment-971057519

[2021-11-17 01:54] diegovalenzuelaiturra commented on #531
Hi, the following may be helpful to configure `bandit`, for example, to avoid raising `B101 assert_used` warnings on python tests
- https://github.com/PyCQA/bandit/issues/603#issuecomment-971057519

[2021-11-17 01:55] diegovalenzuelaiturra commented on #396
Hi, the following may be helpful to configure `bandit`, for example, to avoid raising `B101 assert_used` warnings on python tests
- https://github.com/PyCQA/bandit/issues/603#issuecomment-971057519

[2021-11-17 01:56] diegovalenzuelaiturra commented on #317
Hi, the following may be helpful to configure `bandit`, for example, to avoid raising `B101 assert_used` warnings on python tests
- https://github.com/PyCQA/bandit/issues/603#issuecomment-971057519

[2021-11-17 17:14] diegovalenzuelaiturra commented on #332
Hi, the following may be helpful to configure `bandit`, for example, to avoid raising `B101 assert_used` warnings on python tests
- https://github.com/PyCQA/bandit/issues/603#issuecomment-971057519

---

If you are using VSCode, you can include the following in your `settings.json` .

- It assumes your `.bandit` and `bandit.yml` configuration files are located on the workspace folder.
    - See ht

[2021-11-17 17:28] mcdonnnj commented on #758
@kinoute The last GitHub release is `1.7.0`, but the last tag (and release on pypi) is `1.7.1` on 2021-11-12. I'm not sure why they haven't done an official release on GitHub, but you can compare between the two tags with https://github.com/PyCQA/bandit/compare/1.7.0...1.7.1 to see the included changes.

[2021-11-19 14:26] yoerankaniok opened #759 "Check for class attributes"
**Is your feature request related to a problem? Please describe.**
Bandit does not throw an error for self.password = "12123123" but does so for password = "12123123"

**Describe the solution you'd like**
Make it so B105:hardcoded_password_string also checks class attributes

[2021-11-21 12:20] elfring opened #760 "Convert three assignments to augmented source code"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-25 15:55] GliderGeek commented on #758
would be great if an official github release is added. not that i need that particularly, but that seems to be the only location where a changelog is kept?

[2021-11-26 14:52] anneFly opened #762 "cannot silence issue in multi-line string"
### Describe the bug

Since bandit 1.7.1 I have problems silencing isues for multi-line strings with SQL statements.

I want to silence this flag "Issue: [B608:hardcoded_sql_expressions] Possible SQL injection vector through string-based query construction." in my code.
But I have trouble finding the place where I can put `# nosec` in order to silence it.

### Reproduction steps
In bandit 1.6.2 th

[2021-11-30 18:17] JRemitz commented on #528
I had no idea that we could use `exclude_dirs`. We've been incorrectly using `exclude` within our yaml file for ages.  Just noticed given our tests in CI were taking a fairly long amount of time.

[2021-12-07 00:28] syl-ms commented on #737
Hi @ericwb. Please find below our design document for the change. We will carry on with this design if no objection. Thank you.
----------
# Problem
## Bandit
Bandit is a tool designed to find common security issues in Python code. To do this, Bandit processes each .py file, builds an AST from it, and runs appropriate plugins against the AST nodes. Once Bandit has finished scanning all the files i

[2021-12-08 19:41] jstankaitis-argus opened #763 "Library _ast does not have Num or any other literal property"
### Describe the bug

Using any bandit version from 1.5.0 to latest uses the wrong library in bandit/core/context.py. _ast does not contain any litteraly properties, ast does.

### Reproduction steps

[code]

### Expected behavior

-

### Bandit version

1.7.0 (Default)

### Python version

3.8

### Additional context

_No response_

[2021-12-08 19:47] #763 closed

[2021-12-13 21:21] kevinmarsh opened #764 "Django's `RawSQL` raises error if you use kwargs rather than args"
### Describe the bug

An `IndexError: list index out of range` error is raised if you try to run bandit `RawSQL` with keyword arguments:
[code]

but runs as expected on positional args:
[code]

### Reproduction steps

[code]

### Expected behavior

Positional args and keyword args should both be supported

### Bandit version

1.7.1 (Default)

### Python version

3.9 (Default)

### Additional conte

[2021-12-16 11:27] sv-atoslav commented on #735
additional context
[code]

[2021-12-17 04:38] noliverio commented on #762
Hi, I tried to reproduce this bug using your code sample. Using Bandit 1.6.2 and python 3.9 the string was skipped regardless of if `# nosec` was there or not for me. It looked like it might have been a bug that was patched in 3d08246

[2021-12-17 05:30] noliverio commented on #759
Hi, I think this makes sense, and it seem like those should be included in the check.

Unless anyone has any objections I'd like to take this and run with it.

[2021-12-23 13:13] damiencarol commented on #646
any news on this issue?

[2021-12-28 19:54] bguggs commented on #623
This workaround can still be a problem if using black, as it will try to be helpful and reformat the multiline with parens back to the following which still breaks:

[code]

[2021-12-31 03:05] amacfie commented on #474
Workaround: run a command for each file with [GNU parallel](https://www.gnu.org/software/parallel/)

[2022-01-03 00:11] mwichmann opened #767 "lxml guidance is not useful"
### Describe the bug

Just so this is recorded somewhere, it's certainly not a show-stopper bug:

If your program uses lxml, it's going to get warnings like this:
[code]
Except that the defusedxml.lxml package was never really real, it was intended as an example, and to stop people from using it as-is it's now deprecated and planned for removal.  Probably bandit should not be suggesting that?  The

[2022-01-04 10:16] Torxed opened #768 "--config pyproject.toml gives "expected '<document start>', but found '<scalar>'""
### Describe the bug

I've got the following `pyproject.toml` file:
[code]

Which errors out when running bandit:
[code]
And if I read the config parser code correctly, this should trigger this block: https://github.com/orsinium-forks/bandit/blob/d8fce0dcd84b2b1aca7d2be8d469458ea83c0bbe/bandit/core/config.py#L39-L46

If I put a comment on line 2, it complains on line 3, and so on.
And I can't say

[2022-01-06 14:13] CodePint commented on #649
Blanket blacklisting `getattr` is a misguided sledge hammer approach to security.  They are not a code smell when used appropriately, go ask any ruby developer. The scenario above is obviously a security risk but `getattr` calls not implicitly unsafe and are widely used in metaprogramming often replacing verbose factory patterns.

Whilst I would caution against the use of getattr using arguments f

[2022-01-06 19:51] KOLANICH commented on #649
Why to do such things instead of using a collection, which should be much easier?

[2022-01-06 20:22] mrkovalchuk commented on #768
Hi! As I can see, pyproject.toml support was not included in 1.7.0 version. Relevant MR was merged last year august: #401

[2022-01-06 21:00] Torxed commented on #768
Ah, I just took for granted that Bandit was updated at least within a year or so.
But I now see that the latest stable release was Dec 13, 2020.

Looks like the latest changes in `master` is becoming [pretty big](https://github.com/PyCQA/bandit/compare/1.7.0...master), is there any plans on releasing v1.7.1 ish soon? Would be nice to include bandit in some projects but I'd like to avoid having dif

[2022-01-06 22:09] mrkovalchuk commented on #768
I am so sorry! 1.7.1 has been released! #758 Try to upgrade.

[2022-01-06 22:17] Torxed commented on #768
Ah, yesterday as well heh.
I'm sure that solves it otherwise I'll re-open this. *(accidental re-open)*

[2022-01-06 22:17] #768 closed

[2022-01-07 08:13] anneFly commented on #762
@noliverio thanks for checking. You are correct. In 1.6.2 the issue is not reported no matter if there is a nosec or not. It starts being reported with 1.6.3. Sorry, for the unclear bug report.

But then for met he issue remains. Starting with version 1.6.3 I don't know how I can `# nosec` this specific line so that the issue is not reported for only this string. Do you have any idea?

[2022-01-13 22:40] ericwb opened #772 "`--confidence` should accept a value: LOW, MEDIUM, HIGH."
### Discussed in https://github.com/PyCQA/bandit/discussions/691

<div type='discussions-op-text'>

<sup>Originally posted by **JulienPalard** January 18, 2021</sup>
I find it strange that `--confidence` has `acount="count"`, I don't want to have:

    bandit --confidence --confidence --confidence

It make no sense to the reader and even perturbs users: https://github.com/PyCQA/bandit/issues/178

[2022-01-18 01:28] brent-stone commented on #573
Can we please add this example to the main readme. Pre-commit triggered Bandit is often going to be included with Pytest which revolves around assert statements (triggering B101).

[2022-01-21 02:32] ericwb commented on #646
Since Microsoft has already created a Bandit formatter and sarif library, I don't think there's any reason for Bandit duplicate the effort. Instead, maybe we can look at an easier way to make use of 3rd party plugins such as this.

[2022-01-21 10:32] damiencarol commented on #646
@ericwb like add something in the documentation? Because I tested the MS plugin but it was not very easy to find this module and use it.
Maybe just a link to the MS repo could by enough to help users

[2022-01-22 00:57] ericwb opened #775 "Add a link or badge to Discord for discussions"
**Is your feature request related to a problem? Please describe.**
Now that we have a Discord channel setup for Bandit, we should provide a link to it in our documentation. A badge might be a nice way to do it.

**Describe the solution you'd like**
Badge or link in the README

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-01-22 01:01] ericwb opened #776 "1.7.1 released on PyPI, but GitHub only shows 1.7.0"
### Describe the bug

We have a mismatch on the released versions. GitHub shows 1.7.0, yet PyPI shows 1.7.1.  I believe this is a result of releasing only on PyPI.

### Reproduction steps

[code]

### Expected behavior

Expect to see the same version of 1.7.1 in both locations.

### Bandit version

1.7.0 (Default)

### Python version

3.9 (Default)

### Additional context

_No response_

[2022-01-24 18:01] rgontarek commented on #658
My workaround:

`"""# nosec"""; table = "my_table"
query = f"""
SELECT *
FROM {table}
""" `

[2022-01-24 19:01] amalrajdiversio commented on #395
You can use a comment  `# nosec` next to that line
eg: `mark_safe(url) # nosec`

[2022-01-25 04:24] ericwb commented on #776
Fixed with https://github.com/PyCQA/bandit/releases/tag/1.7.1

[2022-01-25 04:24] #776 closed

[2022-01-25 06:23] ericwb commented on #706
Python 3.9 support was added with https://github.com/PyCQA/bandit/releases/tag/1.7.1

[2022-01-25 06:23] #706 closed

[2022-01-26 01:51] ericwb commented on #758
I know it's been quite a wait, but release 1.7.2 went out today.

https://github.com/PyCQA/bandit/releases/tag/1.7.2

[2022-01-26 01:51] #758 closed

[2022-01-28 04:23] ericwb opened #782 "Publish to Test PyPI fails"
### Describe the bug

Publish to Test PyPI fails with the following error:

[code]

### Reproduction steps

[code]
[code]

[2022-01-29 17:06] ericwb commented on #782
Fixed with #784 and #785

[2022-01-29 17:06] #782 closed

[2022-01-30 17:48] #603 closed

[2022-01-30 23:26] #612 closed

[2022-02-01 03:31] iflament commented on #657
running into this issue as well - has there been a fix?

[2022-02-03 06:04] ericwb opened #790 "snmp_security_check plugin lacks test"
### Describe the bug

Each plugin should be exercising a test to ensure it works build to build.  The newly introduced snmp_security_check
has https://github.com/PyCQA/bandit/blob/master/examples/snmp.py, but the test_functional.py isn't running on it.

### Reproduction steps

[code]

### Expected behavior

Every plugin needs to run a functional test to ensure its quality.

### Bandit version

1.7

[2022-02-04 04:41] ericwb opened #792 "Setuptools warnings in output when running tox"
### Describe the bug

When running `tox -e py39`, you will see the following:

[code]

### Reproduction steps

[code]

### Expected behavior

Ideally should be warning free

### Bandit version

1.7.2 (Default)

### Python version

3.9

### Additional context

_No response_

[2022-02-04 08:32] anneFly commented on #762
In the end I figured I can change my code a little to silence the issue:
Instead of
[code]
I can do
[code]

Feel obvious now :facepalm:
I'll close the issue since I have a workaround.

[2022-02-04 08:32] #762 closed

[2022-02-04 13:20] #792 closed

[2022-02-04 13:23] #790 closed

[2022-02-04 13:26] #211 closed

[2022-02-04 17:52] ericwb commented on #214
Creating 3rd party plugins is already possible via Stevedore. One such example is https://github.com/microsoft/bandit-sarif-formatter

[2022-02-04 17:52] #214 closed

[2022-02-04 17:53] #297 closed

[2022-02-04 17:57] #355 closed

[2022-02-05 09:33] owillebo opened #796 "baseline not working"
**Is your feature request related to a problem? Please describe.**
The baseline file generated by bandit uses relative paths as it should. This way the code can be moved to another location.
However bandit takes these paths relative to the current working folder. Bandit can therefore only be executed in the folder that it was in when the baseline was generated. This is very confusing. Using the ba

[2022-02-05 09:38] owillebo opened #797 "fail over non-existing files"
**Is your feature request related to a problem? Please describe.**
bandit does not fail over non-existing files. It does print a message but this is invisible with -q option. Its exit code is 0 indicating success.

**Describe the solution you'd like**
bandit must fail (with an appropriate message and exit code != 0) when given non-existing files.

**Describe alternatives you've considered**
-

**A

[2022-02-06 19:20] ericwb opened #799 "Add plugin to check for insecure usage of jwt"
**Is your feature request related to a problem? Please describe.**
The documentation of PyJWT warns about various insecure usage of the module. It would be
great to incorporate checks into bandit for it.

https://pyjwt.readthedocs.io/en/stable/api.html

**Describe the solution you'd like**
See https://pyjwt.readthedocs.io/en/stable/api.html and apply bandit checks.

**Describe alternatives you've

[2022-02-06 19:25] ericwb opened #800 "Remove Python 3.6 specific code in test_functional.py"
### Describe the bug

Python 3.6 support was dropped since 3.6 is end-of-life. Yet test_functional.py still has conditional logic based
on Python 3.6. See https://github.com/PyCQA/bandit/blob/master/tests/functional/test_functional.py#L389

### Reproduction steps

[code]

### Expected behavior

No longer necessary to support Python 3.6 conditional code.

### Bandit version

1.7.2 (Default)

### Py

[2022-02-06 19:28] ericwb opened #801 "Translation of output messages"
**Is your feature request related to a problem? Please describe.**
It may be useful to translate our strings. Not every user of Bandit necessarily has English as their first language.
So support more languages for the output might help adoption and usefulness in the community.

**Describe the solution you'd like**
All output strings to use standard standard Python ways of internationalization.

**

[2022-02-07 04:17] #748 closed

[2022-02-07 07:05] #800 closed

[2022-02-07 17:34] #356 closed

[2022-02-08 04:50] ericwb commented on #775
See https://meta.pycqa.org/getting-in-touch.html for example on PyCQA

[2022-02-08 22:04] waltertschwe commented on #658
very nice.

[2022-02-10 16:02] CarliJoy commented on #658
A black compatible workaround
[code]

Still please fix. Especially using black this can be a pain in the ass ;-)

[2022-02-11 19:52] ericwb commented on #729
https://docs.sonarqube.org/latest/analysis/generic-issue/

[2022-02-12 02:45] ericwb commented on #734
Resolved with PR https://github.com/PyCQA/bandit/pull/613. Will be available in version 1.7.3

[2022-02-12 02:45] #734 closed

[2022-02-12 03:04] ericwb commented on #694
Appears to be fixed with #701

[2022-02-12 03:04] #694 closed

[2022-02-12 03:10] ericwb commented on #529
Unfortunately this is a difficult issue to resolve. The problem lies in the fact that Python is a dynamically typed language and you really don't have much information about type until runtime. The AST doesn't give us this info. I investigated using PyCQA/astroid to infer type, but in my experiments it didn't help with issues like this.

I'm open to suggestions on an approach to fix this.

[2022-02-12 03:50] ericwb commented on #444
PyYAML is at version 6.0 now. I think we can close this one.

[2022-02-12 03:50] #444 closed

[2022-02-13 02:42] ericwb commented on #439
I investigated this some. The ast includes a NodeTransformer that enables rewriting the tree. And in Python 3.9 and later, ast can do an unparse in addition to parse. So in effect, you can create a suggested fix and even automatically fix the code.

However, Python's ast is not a CST (comcrete syntax tree) and therefore doesn't include things like trailing comments. The undesirable effect is that

[2022-02-13 02:57] ericwb commented on #299
Bandit has a docs site at https://bandit.readthedocs.io/en/latest/ which seems sufficient.

[2022-02-13 02:57] #299 closed

[2022-02-13 03:08] ericwb opened #808 "Blacklist calls and imports lack more_info links"
**Is your feature request related to a problem? Please describe.**
It's highly useful to include more information links to assist the user to resolve the issue. This is
harder with the blacklisting since it doesn't have such links.

**Describe the solution you'd like**
At a bare minimum the more_info should link to our documentation.

**Describe alternatives you've considered**
n/a

**Additional c

[2022-02-13 17:55] ericwb commented on #439
Here's a short example using libcst to auto-correct a problem in code, all while preserving the comments.

[code]

[2022-02-13 23:12] ericwb commented on #808
Actually, I was incorrect about this. For example:

[code]

[2022-02-13 23:12] #808 closed

[2022-02-16 06:05] ericwb opened #816 "Auto create a URL to file an issue when encountering an error"
**Is your feature request related to a problem? Please describe.**
When exceptions in Bandit occur as a result of bugs, the easier we make it to get bugs reported, the better.

**Describe the solution you'd like**
So when an exception is encountered in Bandit, instead of just logging the issue, provide a custom URL to the user
for them to open an issue on GitHub with much of the relevant informati

[2022-02-18 12:10] #405 closed

[2022-02-21 18:08] lcnittl commented on #318
Also jumping in here: What is the default name for YAML style supposed to be?

- is it `.bandit` as (still) suggested in the [official docs](https://bandit.readthedocs.io/en/1.7.2/config.html) (time of writing `v1.7.2`)?
- is it `bandit.yml` as in https://github.com/PyCQA/bandit/issues/318#issuecomment-468760279
- is it another `*.yml` file as mentioned in https://github.com/PyCQA/bandit/issues/31

[2022-02-22 23:50] ericwb opened #820 "Line range incorrect for a mult-line call (Python 3.7 only)"
### Describe the bug

The end line number of an issue in a multi-line call is off by 1.  It's reporting one less than actual end line number.

### Reproduction steps

[code]

1. Create a file no_host_key_verification.py using code above
2. Run `bandit no_host_key_verification.py`
3. Notice in the output of the first issue:
   `Location: examples/no_host_key_verification.py:6:8`

   The 6 is the st

[2022-02-22 23:56] ericwb commented on #820
It seems to give the correct results if there is just one argument. Which is odd.

Note: Python 3.8 `ast` module added a `end_lineno` of a node in addition to the existing `lineno`.
https://docs.python.org/3.8/library/ast.html#ast.AST.end_lineno

[2022-02-25 05:47] ericwb opened #826 "Use .gitignore as basis of default excludes"
**Is your feature request related to a problem? Please describe.**
Currently, constants.py defines some standard excludes hardcoded in a file. While this hasn't generally been an issue thus far, it does get complicated if someone wishes to override those values.

**Describe the solution you'd like**
Rather than hardcode in Bandit source, make use of a project's defined .gitignore file instead. It'

[2022-02-26 20:56] #462 closed

[2022-02-27 08:52] calliecameron commented on #318
Trying out a few things, looks like the current behaviour is:

- if you specify a file to check e.g. `bandit foo.py`, no default config is used.
- if you specify a folder to check e.g. `bandit -r .`, it uses `.bandit` in the specified directory, which it expects to be an INI file.

But the docs say `.bandit` is supposed to be a YAML file, and don't mention INI files at all.

Would be good to use `

[2022-02-27 18:04] bittner commented on #318
According to the source code there are two different files in play:

1. An INI-style confiiguration file (see [bandit.cli.main, lines 50+](https://github.com/PyCQA/bandit/blob/main/bandit/cli/main.py#L53-L73)), which defaults to `.bandit`. It handles the [general CLI options](https://github.com/PyCQA/bandit/blob/main/bandit/cli/main.py#L464-L594) (skipped and included tests, targets, recursive, pr

[2022-02-27 19:14] mkniewallner opened #828 "Replace `toml` dependency with `tomli`"
**Is your feature request related to a problem? Please describe.**
Support for defining bandit options in `pyproject.toml` was added in https://github.com/PyCQA/bandit/pull/401, using `toml` library.

`toml` contributions [have been stagnating](https://github.com/uiri/toml/graphs/contributors), and the last commit dates back (at the time of writing) to [November 1st, 2020](https://github.com/uiri/

[2022-02-28 04:07] ericwb opened #832 "hashlib_insecure_functions raising KeyError"
### Describe the bug

[code]

### Reproduction steps

[code]

### Expected behavior

Shouldn't see any tracebacks from Bandit unless there are errors in the Bandit code itself.

### Bandit version

1.7.3

### Python version

3.9

### Additional context

_No response_

[2022-02-28 07:39] Crocmagnon opened #835 "BanditNodeVisitor.__init__() missing 1 required positional argument: 'metrics'"
### Describe the bug

Using the latest version from bandit (in our case in pre-commit with flake8-bandit) fails as of today with the following traceback:

[code]

`flake8-bandit` hasn't been updated recently.

### Reproduction steps

I sadly wasn't able to produce a MWE. Here's our relevant pre-commit config though:

[code]

### Expected behavior

The exception isn't raised and the check doesn't f

[2022-02-28 07:50] Crocmagnon commented on #835
Doesn't happen when running with `flakeheaven` instead of `flakehell`, I'm closing this bug report.

[2022-02-28 07:51] #835 closed

[2022-02-28 09:40] sscherfke commented on #835
This is also an issue with flake8-bandit: https://github.com/tylerwince/flake8-bandit/issues/21

[2022-02-28 11:06] #832 closed

[2022-02-28 16:28] DrakezulsMinimalism commented on #658
I also just experienced this in my pipeline.
Checked with python:
- 3.7.12 working
- 3.8.10 not working
- 3.9.10 not working

[2022-02-28 18:39] ghrusu opened #836 "multiline docstrings exclusion"
### Describe the bug

the following  line can't be excluded using # nosec as mentioned in the [documentation ](https://bandit.readthedocs.io/en/latest/config.html#exclusions)

[code]

this is happening only with the recent version of bandit 1.7.3, the previous version 1.7.2 works perfect.

I explained the issue using the documentation example.  In "reality" I have long sql queries for which I can'

[2022-02-28 20:25] darless opened #837 "1.7.3 broke support for flake8-bandit"
### Describe the bug

The latest release for bandit broke flake8-bandit. I'll file a bug in flake8-bandit as well, but the core issue is with bandit. With the latest version there is an error that is displayed when trying to run flake8-bandit:

docker python:3.9

[code]

# Workaround
[code]

### Reproduction steps

[code]

### Expected behavior

No output with a blank python file

### Bandit versi

[2022-02-28 20:31] schlenk opened #838 "1.7.3 breaks on hashlib.sha256() with Python 3.9, works ok with hashlib.new("sha256")"
### Describe the bug

Using Python 3.9 and bandit 1.7.3 the code throws a traceback when trying to parse:

`hashlib.sha256()`

It works correctly with Python 3.8.

[code]

### Reproduction steps

1. Install Python 3.9
2. Install bandit 1.7.3
3. Create trivial file:

[code]

4. Run bandit and get a traceback

### Expected behavior

No traceback. It should work with both `hashlib.sha256` and `hashli

[2022-02-28 20:38] ericwb commented on #838
Fixed with https://github.com/PyCQA/bandit/pull/834

[2022-02-28 20:38] #838 closed

[2022-02-28 22:44] ericwb commented on #837
BanditNodeVisitor is not intended as a public interface, so if a 3rd party application calls into it directly, they run the risk of issues like this. The change to BanditNodeVisitor was necessary to fix an issue of using stdin instead of a file as input to the scan. Please seek a chnage with flake8-bandit to resolve this. Thanks

[2022-02-28 22:44] #837 closed

[2022-03-01 12:40] cjolowicz opened #839 "Remove pbr runtime dependency in favor of importlib.metadata?"
**Is your feature request related to a problem? Please describe.**
This project depends on pbr to compute its `__version__` attribute at runtime. For Python >= 3.8, this dependency could be dropped using importlib.metadata. For older Pythons, we could use the importlib_metadata backport.

Apart from reducing runtime dependencies and (arguably) following best practices, this switch would also preve

[2022-03-01 21:03] ericwb commented on #839
Pbr is also used in the docs build. So switching to importlib_metadata might not resolving everything.

[2022-03-02 10:19] yannikschaelte opened #841 "TypeError: __init__() missing 1 required positional argument: 'metrics' with bandit 1.7.3"
### Describe the bug

`flake8 {repo}` gives

[code]

### Reproduction steps

[code]

### Expected behavior

Works

### Bandit version

1.7.3 (Default)

### Python version

3.9

### Additional context

_No response_

[2022-03-02 11:18] sigmavirus24 commented on #839
There's a lot of context on the psf discourse site and this org but the importlib family of libraries have not been stable and are still considered not stable by the maintainer by their own comments. Unfortunately setuptools has also taken in a mission of destabilizing the python community but that's no fault of pbr whose stability has far exceeded the other libraries mentioned here, not to mentio

[2022-03-02 15:26] #841 closed

[2022-03-02 17:03] mpibpc-mroose commented on #841
same for me

[2022-03-02 20:06] Segelzwerg opened #842 "False positive on 'Bearer'"
### Describe the bug

We have an access token class, that wraps a token string and it's type.

[code]

For the moment we only support `Bearer` type. Creating a token with a hard coded type raises hard coded password.

[code]

### Reproduction steps

[code]

### Expected behavior

I my opinion this should not be raised as it is a token type not and a password.

### Bandit version

1.7.3 (Default)

[2022-03-03 02:04] jshcodes opened #843 "False positive on token_fail_reason"
### Describe the bug

Up until this latest release, our bandit workflows have delivered passing results without issue. With our latest commit, 1.7.3 was installed and our unit testing failed with the following:

[code]

**Impacted code block**

[code]

### Reproduction steps

[code]

### Expected behavior

I don't believe there is a problem with the code above.

### Bandit version

1.7.3 (Default)

[2022-03-03 04:13] ericwb commented on #843
Looks like a false positive as a result of #766 which now examines function calls with attributes that have the word "token" within them.

The hardcoded password/token/etc check tends to have a lower confidence to detect guaranteed cases of a hardcoded secret.  You can always add # nosec comment to ignore this instance.

[2022-03-03 06:44] gawdzer opened #844 "Bandit fails with "Bandit internal error running: hashlib on file <file>""
### Describe the bug

When running bandit on a local folder, a runtime exception is thrown and a report is not being produced.

### Reproduction steps

[code]

### Expected behavior

an HTML report is being generated

### Bandit version

1.7.3 (Default)

### Python version

3.9

### Additional context

python 3.9.5

[2022-03-03 13:15] sgelis commented on #844
I can confirm this :+1::

[code]

[2022-03-04 01:25] ericwb commented on #844
Duplicate of https://github.com/PyCQA/bandit/issues/832

[2022-03-04 01:25] #844 closed

[2022-03-04 09:28] cjolowicz commented on #839
Thanks @ericwb for taking a stab at this, and @sigmavirus24 for providing your thoughts.

To be clear, my goal here is to ensure that Bandit will continue to work when installed in an environment without setuptools. Adding setuptools to Bandit's dependencies would also solve this.

I'm aware of the controversy around `importlib.metadata` (and `importlib.resources`). Has `importlib.metadata.version

[2022-03-04 09:40] michiel-nwa commented on #658
I'm not able to get any of the mentioned workarounds to work.   Only thing that worked for me for now was downgrading back to bandit 1.6.2.

[2022-03-04 09:47] cjolowicz commented on #839
Here's the repro for this issue:

[code]

[2022-03-04 14:24] sigmavirus24 commented on #839
I'm not Google. In discussions of the impact of the very real instability, the maintainer who often merges changes without going through code review said they wouldn't hesitate to break the API in another minor version of Python (I'm paraphrasing) so regardless of what the stability is documented as, it's not the intent of the maintainer to uphold that. The backports are also insufficient as it pr

[2022-03-05 14:15] cjolowicz commented on #839
I don't know what this relates to, but I'm going to bow out of this for now.

Please consider this issue a friendly heads up that Bandit will be affected if/when packaging tools stop provisioning virtualenvs with setuptools. It certainly wasn't my intent to push this project to adopt a dependency it doesn't want.

[2022-03-07 10:42] chmyaf commented on #837
How can I know that this is not a public API if it has a public name and is in a public package?

[2022-03-07 17:23] darkdragon-001 opened #852 "Provide deterministic URLs with description of tests"
**Is your feature request related to a problem? Please describe.**
I would like to make it easier for users to fix encountered warnings.

**Describe the solution you'd like**
Provide documentation of tests with deterministic URLs based on the ID.
This could be `https://bandit.readthedocs.io/en/latest/blacklists/index.html#complete-plugin-listing#Bxxx`.

Current URLs like `https://bandit.readthedoc

[2022-03-10 06:46] demberto commented on #488
Can confirm here than it still doesn't work when I add exclude tests to `pyproject.toml`

[code]

[2022-03-10 06:47] demberto commented on #573
@brent-stone Absolutely agree, I tried this and wondered why it didn't work:

[code]