[2022-03-16 18:21] Rogergonzalez21 commented on #614
I'm still finding the same bug almost two years later 😞 I'm using the following workaround:

[code]

I just have to manually confirm that `pyCrypto` is not installed on my project, which works but kinda defeats the purpose of using bandit in the first place.

[2022-03-17 23:56] acdha commented on #318
@bittner Thank you for digging into that — I had wasted a bit of time on the YAML-formatted `.bandit` the documentation misleadingly refers to, found #401 but missed that `pyproject.toml` is ignored by default, and then realized that my INI-formatted `.bandit` settings were being overwritten because GitLab SaST tool adds the `-x` flag using an environmental variable (`SAST_BANDIT_EXCLUDED_PATHS`).

[2022-03-18 04:43] ericwb opened #857 "Blacklist call B309 not relevant any longer"
### Describe the bug

B309 blacklist call checks for HTTPSConnection usage which was insecure in Python version prior to 2.7.9 and 3.4.3 because it didn't check certificate or hostnames. However, Bandit only supports a minimum of Python 3.7 now.

https://docs.python.org/3.5/library/http.client.html#http.client.HTTPSConnection

### Reproduction steps

[code]

### Expected behavior

I expect there i

[2022-03-18 10:21] bittner commented on #318
@acdha As a side note, if you have a GitLab Ultimate license I recommend using GitLab's SAST integration. Their scanning container that has Bandit on board does a parsing and transformation of Bandit's scan report. Only this way GitLab will correctly recognize the report content. You won't get the details in GitLab's Security dashboard, otherwise.

[2022-03-19 00:49] #857 closed

[2022-03-21 21:50] smontanaro commented on #559
I assume this is why when I get an error referencing hashlib like this:

the More Info URL doesn't exist. I just installed `bandit`, so 1.7.4 is probably the latest release, but just in case, I tried this URL too:

but it also 404s.

[2022-03-23 03:18] #559 closed

[2022-03-24 07:36] a-takahashi223 commented on #606
[The documentation](https://bandit.readthedocs.io/en/latest/) should cover such a topic.
But [the "Configuration" page of the documentation](https://bandit.readthedocs.io/en/latest/config.html) has many mistakes.

No. `.bandit` is a INI file. The example below that sentence won't work.
Also, a "project" is recognized only `bandit` is invoked with `-r` option. Without `-r`, `bandit` doesn't look fo

[2022-03-25 22:27] #828 closed

[2022-03-26 03:11] ericwb commented on #176
Not applicable or will not fix

[2022-03-26 03:11] #176 closed

[2022-03-26 03:17] ericwb commented on #293
The docs already describe the Bandit ID codes that map to various plugin groupings here: https://bandit.readthedocs.io/en/latest/plugins/index.html#plugin-id-groupings

[2022-03-26 03:17] #293 closed

[2022-03-26 03:46] ericwb commented on #367
`B109` previously mapped to `password_config_option_not_marked_secret`
`B111` previously mapped to `execute_with_run_as_root_equals_true`

Both were removed in version 1.5.0

[2022-03-26 06:43] ericwb commented on #523
Dupicate of #447

[2022-03-26 06:43] #523 closed

[2022-03-26 13:33] #367 closed

[2022-03-26 15:24] ericwb commented on #520
Still an issue on 1.7.4

[2022-03-27 02:05] ericwb commented on #472
We will need the python code Bandit was run against in order to duplicate and resolve. At this point, I can't reproduce.

[2022-03-28 03:08] ericwb opened #865 "Invalid checking in hashlib plugin"
### Describe the bug

The hashlib_insecure_functions.py plugin is checkin for arguments that don't exist. For example, there is no kwarg for 'name'. The actual signature of the function is:

[code]

The hashlib_new_insecure_functions example also includes a bunch of invalid examples.

### Reproduction steps

See https://docs.python.org/3/library/hashlib.html

[code]

### Expected behavior

The che

[2022-03-28 13:51] exhuma commented on #499
Has this been released yet? I'm currently on bandit 1.7.4 and it still behaves the same way.

I have a package in the `enm` subfolder and the following `.bandit` file:

    ---
    targets: "enm"
    exclude: "enm/vendor"

and I'm calling it as follows (execution line is out of my control as it is in a CI pipeline):

    bandit -r enm

And even though the config-file exists, it still drills into t

[2022-03-29 01:16] ericwb commented on #772
There already exists an argument to indicate confidence level by high, medium, low, or all.

[code]

[2022-03-29 01:16] #772 closed

[2022-03-29 01:19] ericwb commented on #675
Fixed with #859

[2022-03-29 01:19] #675 closed

[2022-03-29 02:52] ericwb opened #866 "Add ability to filter results by CWE"
**Is your feature request related to a problem? Please describe.**
Add ability to filter results by CWE

**Describe the solution you'd like**
Since some of the CWEs are uses in multiple plugin tests, it would be beneficial to be able to filter by them.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-03-29 18:55] #402 closed

[2022-04-01 19:13] #617 closed

[2022-04-02 15:42] #775 closed

[2022-04-03 13:03] zelenyjan commented on #488
Bandit 1.7.4 (Python 3.10.4)

[code]

with config `pyproject.toml`

[code]
 works as expected.

In stdout I can see all exluded dirs:
[code]

[2022-04-03 16:21] bittner commented on #488
@zelenyjan There are a few interesting facts about the information your share:

- Where did you get the `exclude_dirs` option from? It's neither in the [documentation](https://bandit.readthedocs.io/en/latest/config.html) (which says, `exclude`) nor in the CLI help screen, Only from [the code](https://github.com/PyCQA/bandit/blob/main/bandit/core/manager.py#L214-L215) this can be seen. Which sugges

[2022-04-03 17:15] zelenyjan commented on #488
I found `exclude_dirs` it in the code. `-x "*/tests/*"` from CLI was working so was trying to find out what's different.

`pyproject.toml`
[code]

`tox.ini` not really using tox. It's just for `flake8` config for now
[code]

for testing just created `.venv` and `.tox` folders and they are not excluded by defaul. The list of excluded dirs I posted is `print(excluded_path_globs)` on this [line](http

[2022-04-07 10:20] marcinbarczynski opened #880 "#nosec doesn't work with multi-line strings and Python 3.10"
### Describe the bug

Skipping B608:hardcoded_sql_expressions with `# nosec` doesn't work if the string has multiple lines.
Worked on Python 3.7 doesn't work on Python 3.10.

### Reproduction steps

[code]
2. Run bandit on the file:
[code]
3. Works fine with Python 3.7:
[code]

### Expected behavior

Bandit should skip all issues marked with `#nosec`.

### Bandit version

1.7.4 (Default)

### Pyth

[2022-04-12 18:06] EstevamArantes opened #882 "Non-utf8 character causes crash when scanning"
### Describe the bug

Bandit fails and crashes (skipping file) when trying to decode/parse character that isn't utf-8.

xxd file that causes bug:
[code]

Execute `bandit --debug pocFile.py`
[code]

### Reproduction steps

[code]
2. xxd -r `poc.txt` > pocFile.py
3. Execute `bandit --debug pocFile.py`
4. Crash
...

### Expected behavior

Bandit executes as usual and doesn't crash.

### Bandit versio

[2022-04-13 21:56] ChaseDDevelopment commented on #499
I am also seeing this issue on 1.7.4

I have the following in my bandit file:

[code]

My pipelines also fail, But I am using

`pipenv run python -m bandit -r . -lll` as my command

[2022-04-14 19:01] smsearcy commented on #318
@bittner GitLab is the reasons I was looking for a default configuration file and ended up here.  I want to disable the `assert_used` checks for our pytest files, but without a default configuration file to configure scanning I don't see how I can configure how GitLab behaves.

[2022-04-15 03:08] ericwb commented on #882
So you will get the same result if you run:
`python pocFile.py`

However, if a Python file contains UTF-8 characters, then it must be specified in the header:
`# -*- coding: utf-8 -*-`

That will fix the case using `python`, but unfortunately Bandit still fails.

[2022-04-15 03:15] ericwb opened #883 "Redundant message to use --debug"
### Describe the bug

If you run Bandit with the `--debug` flag when you have a traceback, you'll notice in the output, that Bandit still recommends running bandit with the `--debug` flag even though you already have.

### Reproduction steps

[code]
[code]

[2022-04-22 12:35] ahsisti opened #886 "Bandit does not identify hard coded password for DB connection variable"
### Describe the bug

I added the following line to a blank test.py file and did run **bandit test.py** and it was not detected any vulnerability.

# Possible hardcoded password: iP0F3@s&9H_l12@XvGhj
connection = ("DATABASE=TEST;HOSTNAME=127.0.0.0;PORT=50000;UID=login;PWD=iP0F3@s&9H_l12@XvGhj", "", "")

Results from bandit:
<img width="1137" alt="image" src="https://user-images.githubusercontent.c

[2022-04-23 21:45] xilopaint commented on #396
Hey, I have the same question of @bittner. Why are there two different configuration files?

[2022-04-24 17:16] mkniewallner opened #888 "Add a configuration option to prohibit `# nosec` without specific error codes"
**Is your feature request related to a problem? Please describe.**
Now that bandit supports a way to only ignore specific error codes when using `# nosec` (https://github.com/PyCQA/bandit/pull/597), it could be nice to have a configuration option to disable usages of `# nosec` without specific error codes from a codebase entirely, in order to ensure that specific error codes are always used.

Toda

[2022-04-25 10:12] bittner commented on #396
True, it might make sense to consolidate configuration settings in a single place. Whatever file format is used, users should be able to configure everything there, not one thing here and other things in a second place. The current state is confusing.

The INI file format and options are now [explained in the documentation](https://bandit.readthedocs.io/en/latest/config.html) along with YAML and T

[2022-04-25 11:25] xilopaint commented on #396
Why close the issue before a decision about it? There's still an undocumented `INI` file. It should be documented somewhere or explicitly deprecated in favor of `YALM`.

[2022-05-03 17:14] ericwb opened #890 "New versions of GitHub Actions used by bandit"
### Discussed in https://github.com/PyCQA/bandit/discussions/889

<div type='discussions-op-text'>

<sup>Originally posted by **mportesdev** May  2, 2022</sup>
Hello everyone, and thanks for this great tool for Python coders.

I noticed that the following GitHub Actions have been upgraded to version 3 recently:
https://github.com/actions/checkout
https://github.com/actions/setup-python

I think it

[2022-05-03 19:23] andren opened #892 "Docs seem to be blank"
### Describe the bug

Bandit docs pages, the ones with details about each test plugin, seem to be empty.

### Before:
http://web.archive.org/web/20210506132956/https://bandit.readthedocs.io/en/latest/plugins/b102_exec_used.html
![image](https://user-images.githubusercontent.com/40470926/166537933-370d16a1-fc1b-4148-9a03-567f3d402afb.png)

### After:
https://bandit.readthedocs.io/en/latest/plugins/

[2022-05-04 03:14] ericwb opened #894 "Create an extension for parsers"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Bandit currently utilizes the Python base ast module for parsing. But there are other
parsers out there that might be beneficial to use instead. For example, libcst is concrete
syntax tree, which may provide additional capabilities to analyze the code more deeply or
provide better remediati

[2022-05-04 14:35] ericwb commented on #890
Fixed with #893

[2022-05-09 09:56] CTimmerman commented on #212
None of the config files mentioned on https://bandit.readthedocs.io/en/latest/config.html work in VS Code. Even `# nosec` at the top of the code doesn't work to skip B311.

[2022-05-10 06:32] rohitCloudDefense commented on #342
How can i get updated list for this one?

[2022-05-13 12:24] JeremyVriens commented on #886
@ahsisti this looks more like a new feature to me. Looking at the general_hardcoded_password plugin it doesn't check for the content of the string (source: https://github.com/PyCQA/bandit/blob/main/bandit/plugins/general_hardcoded_password.py)

[2022-05-19 22:12] RNKuhns opened #902 "Bandit can't read config file when run in pre-commit"
### Describe the bug

When running bandit as a pre-commit hooks on pre-commit.ci or locally I am getting an error that says the Bandit hook can't read the pyproject.toml file. I've also tried this with other bandit config file approaches (bandit.yaml) and received the same error message.

Specifically, I'm getting an error message that says: [main]	ERROR	 pyproject.toml : Could not read config fil

[2022-05-20 00:17] matroscoe commented on #902
I was able to get part of the way there.

[code]

in my `pre-commit.yaml` file works and the bandit part of my `pyproject.toml` file looks like:
[code]

but when I run pre-commit using:
[code]
I get the following output:
[code]

I checked my venv and my standard python install (running on Ubuntu 20.04) and I get this:
[code]

The problem is pre-commit is handling the installation of bandit by goin

[2022-05-20 00:25] matroscoe commented on #902
@RNKuhns Sorted it! Make this your entry to `.pre-commit-config.yaml`

[code]

[2022-05-20 02:22] RNKuhns commented on #902
Awesome! Sorry for omitting the optional dependency part. But since I had switched to trying a different confit file type, i forgot to add it back.

I had been just specifying to toml  in my additional dependencies as opposed to bandit[toml].

[2022-05-20 20:23] RNKuhns commented on #902
@matroscoe I confirmed this works. Maybe the bandit docs could be updated with the information?

[2022-05-26 10:59] ioggstream opened #906 "List all CWEs associated to the current configuration"
## I expect

- to list all CWEs associated to the current configuration

## Example

[code]

[2022-06-01 09:10] hofrob commented on #606
I just want to add, that with more and more tools allowing the whole config to be in a pyproject.toml, I would like to see this to be the default. Running `bandit .` should look for a `.bandit` for those who want to keep it. Next look for a `[tool.bandit]` section in `pyproject.toml`.

The major reason behind this is, I think it makes life easier for those who work with CI jobs. Having one simple

[2022-06-08 17:30] jason-ha commented on #505
My team has some files with 14000 entry dictionaries and these each take 30+ minutes to parse on my system which makes tool unusable. Must be a faster way to deal with such data.

[2022-06-09 04:13] bje- opened #907 "Unable to find qualified name"
### Describe the bug

Running bandit on a single source file in the current directory does not seem to work. It produces a warning:

[code]

I am not sure what the warning is trying to achieve?

### Reproduction steps

[code]

### Expected behavior

No warning should be produced.

### Bandit version

1.7.4 (Default)

### Python version

3.8

### Additional context

_No response_

[2022-06-09 08:30] mportesdev commented on #907
It's just a warning which doesn't mean that the file is not processed. If you add some content to **dummy.py** (e.g. `exec('pass')`) you will see that `bandit dummy.py` and `bandit ./dummy.py` will yield the same test results.

[2022-06-09 11:00] bje- commented on #907
That warning is produced in both cases.

[code]

[2022-06-10 11:51] mportesdev commented on #907
Yes, but despite the warning, bandit will do the job, i.e. scan the file and report the issue. The warning is emitted in cases where the python file is not a submodule of a package.

[2022-06-10 12:12] bje- commented on #907
OK. I have some driver scripts that sit at the top-level of my source tree and every bandit run produces this warning. Could it be suppressed with `-q`?

[2022-06-10 13:04] mportesdev commented on #892
Looking at the log file here:
https://readthedocs.org/api/v2/build/17000546.txt
it seems most likely that `No module named 'rich'` is the cause of this issue. `rich` is not installed in the environment when Sphinx attempts to import bandit modules.

I suppose that this line:
[code]
will have to be expanded by either `-r requirements.txt` or just `bandit`.

[2022-06-16 11:16] hydrargyrum commented on #212
Can someone reopen this issue since it's still not solved?

[2022-06-17 10:52] wellingtonf-souza opened #912 "Skip tests folder on pre-commit"
### Describe the bug

running `bandit --configfile bandit.yaml -r .` test folders are correctly ignored according to the settings present in bandit.yaml, however this configuration with the pre-commit is ignored.

### Reproduction steps

[code]

### Expected behavior

It is expected that with pre-commit the folders indicated in exclude_dirs will also be ignored.

### Bandit version

1.7.4 (Default

[2022-06-25 02:07] #883 closed

[2022-06-27 20:05] #865 closed

[2022-06-28 11:05] kfrydel opened #916 "bandit does not detect SQL injection (B608) if FormattedValue is between "select" and "from" clauses"
### Describe the bug

If there is an f-string variable used in SQL statement between "select" and "from" clauses then bandit does not recognize it as SQL injection.

### Reproduction steps

[code]
2. Run bandit on it:
[code]
[code]

[2022-06-30 07:35] kfrydel commented on #880
@ericwb I created a pull request (915) with a fix for this issue. Could you please review it?

[2022-07-01 03:48] arischow commented on #318
My workaround: exclude the whole `tests` path from bandit by configuring the variable `SAST_BANDIT_EXCLUDED_PATHS` in `.gitlab-ci.yml`.

Reference: https://docs.gitlab.com/ee/user/application_security/sast/#vulnerability-filters

[2022-07-02 18:51] mportesdev commented on #882
@ericwb As of Python 3, utf-8 is the default encoding of source code, and doesn't have to be declared even if the source code contains non-ascii characters. However the example above involves a non-utf-8 character.

@EstevamArantes What you have there is a `Â` character encoded in `latin_1`. This encoding must be declared at the beginning of the file.

https://docs.python.org/3/reference/lexical_a

[2022-07-02 22:29] mportesdev commented on #912
I think you should convert the excluded_dirs to relative paths (by removing the leading slashes). It fixed the problem for me.

Also, I would recommend to remove `-r` and `.` from the pre-commit hook's arguments. Typically, you only want to apply the hook to the files included in the commit. pre-commit takes care of this automatically by passing the affected files as arguments to the pre-commit ho

[2022-07-03 18:32] actionless opened #921 "`automodule` tag not generating the doc properly anymore"
### Describe the bug

For example:

source file look the same:
https://github.com/PyCQA/bandit/blob/main/doc/source/blacklists/blacklist_imports.rst
https://github.com/PyCQA/bandit/blob/1.7.4/doc/source/blacklists/blacklist_imports.rst

But doc generates properly for the release version:
https://bandit.readthedocs.io/en/1.7.4/blacklists/blacklist_imports.html

But not for the latest git version:
h

[2022-07-05 17:22] KAUTH opened #922 "Command line argument "number" cannot be supplied from the INI file"
### Describe the bug

Adding the "number" argument in the Bandit configuration file and running Bandit returns an error.

### Reproduction steps

[code]

3. Run from inside your project directory:
[code]
[code]
[main]	INFO	Found project level .bandit file: ./.bandit
[main]	INFO	Using command line arg for selected targets
[main]	INFO	profile include tests: None
[main]	INFO	profile exclude tests: No

[2022-07-08 10:28] mportesdev commented on #921
Possible duplicate of #892 where I already proposed a solution. However the docs build workflow is not tracked in VCS (afaik) so I can't open a PR for this.

@ericwb Can you please look into this? If you have access to the _readthedocs_ account, can you update the workflow such that `-r requirements.txt` is inserted before `-r test-requirements.txt` in this line:
[code]

(it's the 7th command of t

[2022-07-08 15:49] ericwb commented on #921
Should be fixed now. I changed the requirements setting to point to requirements.txt instead of test-requirements.txt in the ReadTheDocs config.

[2022-07-08 15:49] #921 closed

[2022-07-08 15:52] actionless commented on #921
thanks, looks well now 👍

[2022-07-08 20:23] #569 closed

[2022-07-08 21:43] ericwb commented on #196
Don't think this is something we can or will fix.

[2022-07-08 21:43] #196 closed

[2022-07-09 21:33] shiftinv opened #926 "Inconsistency of `random.random` detection between different platforms"
### Describe the bug

The `blacklisting` module uses `fnmatch` for matching call names, which results in differing behavior on Windows vs other platforms.
https://github.com/PyCQA/bandit/blob/5809d1bec788f88c88c99afd42b80c58ea876363/bandit/core/blacklisting.py#L58

Particularly, usage of `random.random` generally results in B311 being emitted:
https://github.com/PyCQA/bandit/blob/5809d1bec788f88c8

[2022-07-10 02:12] #546 closed

[2022-07-10 06:26] ericwb commented on #656
Can you please share some example code you ran to test 1.6.2 versus 1.6.3? Without that, its hard to state what could be the cause for the difference you're seeing.

[2022-07-10 06:40] ericwb commented on #614
The pyCrytodome library chose to reuse the same namespace as pyCrypto. As a result, I don't know of a way to distinguish the two using static analysis. Bandit is only examining the AST, not requirements/dependencies. But I'm open to suggestions.

[2022-07-10 06:45] ericwb commented on #614
Another workaround is to use `pip install pycryptodomex` as suggested:
https://pycryptodome.readthedocs.io/en/latest/src/introduction.html

As a result, the namespaces will be Cryptodome and not Crypto.

[2022-07-10 07:01] adideutsch commented on #656
Do you mean share the lines that failed? Or the lines of code that orchestrates the test?

For the first option:
B104 (Possible binding to all interfaces):
app.run(host="0.0.0.0", port=PORT, ssl_context=CONTEXT)
B608 (Possible SQL injection vector through string-based query construction):
query = (f"SELECT * FROM {table_name} WHERE ….. "

If it’s the second option I’ll have to look for it later.

[2022-07-11 00:32] ericwb commented on #453
Fixed with #454

[2022-07-11 00:32] #453 closed

[2022-07-11 15:33] ericwb commented on #711
Fixed with #454 and dup of https://github.com/PyCQA/bandit/pull/454

[2022-07-11 15:33] #711 closed

[2022-07-11 17:58] #207 closed

[2022-07-11 18:36] ericwb commented on #445
Could you please describe the security issue related to this more. Thanks!

[2022-07-11 19:03] ericwb commented on #593
I'm unable to recreate this. In fact I don't see how this was ever possible, even on version 1.6.2.

As you can see here, kind is set to "calls" also with id of "b313-b320". How is it possible
to set "b313-b320" and go to the else statement where kind is "imports"

https://github.com/PyCQA/bandit/blob/1.6.2/bandit/core/docs_utils.py#L44

[2022-07-11 19:03] ericwb commented on #593
If you have handy a complete example I can test with, that would be great. I used one of the existing samples and see no recreation of the bad link.

[2022-07-11 21:37] ericwb commented on #545
This occurs when the keyword is a ast.Call in this case. Bandit cannot determine the value of any such call, so it should ignore, but not throw a traceback.

[2022-07-11 21:38] ericwb commented on #545
An example which exhibits the problem:

[code]

[2022-07-11 23:18] ericwb commented on #520
For reference, this is the file exposing the issue:
https://github.com/WeblateOrg/weblate/blob/weblate-3.5/weblate/trans/templatetags/advertisement.py

[2022-07-12 01:02] #545 closed

[2022-07-12 01:39] ericwb commented on #520
This is what the AST looks like for the assignment statement of the tuple

[code]
This existing code is always expecting to be assigned to a tuple, whereas this example assigned to a Call.

[2022-07-12 09:55] mportesdev commented on #656
In version 1.6.2 (commit d25f3fc5), `BanditNodeVisitor` lacks the `visit_Constant` method (it was added in 3d082467). As a result, the `visit_Str` method is never called (at least in the case of the sample code above) and string constants are not checked by the tests decorated with `@test.checks("Str")`.

[2022-07-12 10:17] mportesdev commented on #656
Afaik this is caused by deprecation of `ast.Str`, `ast.Bytes` and other classes in Python 3.8.

In Python 3.7, bandit version 1.6.2 reports both issues as expected.

[2022-07-13 08:14] mportesdev commented on #907
I guess it would make sense to increase the logging level to ERROR in quiet mode -- would be consistent with the CLI help message `only show output in the case of an error` ([source](https://github.com/PyCQA/bandit/blob/1.7.4/bandit/cli/main.py#L326)) and the manager docstring `:param quiet: Whether to only show output in the case of an error` ([source](https://github.com/PyCQA/bandit/blob/1.7.4/b

[2022-07-14 18:39] #604 closed

[2022-07-14 18:40] #520 closed

[2022-07-14 22:49] ericwb opened #936 "general_bad_file_permission only works for mode as int"
### Describe the bug

The testing of the general_bad_file_permission plugin makes it appear it can test the
mode argument as an int or as constant from the stat module.

However, the plugin checks whether the mode argument is an int only. If the argument is
stat.S_IXOTH for example, the argument would be a str.

This is a prime example of how the current model of testing based on counts of of seve

[2022-07-14 23:25] ericwb commented on #936
Here's a couple examples where Bandit would not find anything wrong:

[code]

[code]

[2022-07-17 00:59] acharles7 commented on #816
This is a good idea! @ericwb
I would happy to work on this feature if you can provide some more info on where to start! Thanks!

[2022-07-20 14:03] slidenerd commented on #902
And what about the .bandit file? It cant read the configuration from that either inside .pre-commit-config.yaml

It gives this error

[code]

for this .bandit file

[code]

[2022-07-21 18:41] mportesdev commented on #902
@slidenerd afaik the `--configfile` (or `-c`) option only supports TOML and YAML files. If you want to use a .bandit file in INI format, you should use the `--ini` option instead.

[2022-07-28 15:26] ap-- opened #938 "Can't set (severity) level through `.bandit` ini file"
### Describe the bug

With a simple `.bandit` ini file like this:

[code]

bandit crashes with:
[code]

### Reproduction steps

[code]

### Expected behavior

bandit should allow configuration of available settings through the ini file.

### Bandit version

1.7.4 (Default)

### Python version

3.9

### Additional context

_No response_

[2022-08-15 08:19] staticdev commented on #733
@adambenali regarding release, even now at release 1.7.4 the mentioned configuration is not working.

[2022-08-17 18:20] fiendish opened #942 "Erroneous "no test failure on line" warning from plugin alert nosec?"
### Describe the bug

It looks like bandit warns about "no test failure on line" for a nosec where there definitely would be a test failure without the nosec.

### Reproduction steps

[code]

### Expected behavior

Don't warn at me for this.

### Bandit version

1.7.4 (Default)

### Python version

3.9

### Additional context

_No response_

[2022-08-18 20:20] manuel-belvo commented on #559
This issue is still present since the output gives:
[code]

[2022-08-20 10:33] CTimmerman commented on #317
https://bandit.readthedocs.io/en/latest/config.html says `.bandit` should be an INI file. The only thing incorrect is that it implies you don't need to use `-c .bandit`

[2022-08-20 10:53] CTimmerman opened #943 "Make all tests configurable like test plugins."
https://bandit.readthedocs.io/en/latest/config.html says that you can use a YAML configuration to configure test plugins, eg disabling one per file name like so for B101 with `python -m bandit -r test -c bandit.yaml`:
[code]
Unfortunately, that doesn't work for B311 because that's not a test plugin according to https://bandit.readthedocs.io/en/latest/plugins/index.html

I would like for this to fu

[2022-08-20 11:37] CTimmerman commented on #606
I also suggested config file detection order in https://github.com/PyCQA/bandit/issues/317#issuecomment-1221275052

[2022-08-20 12:53] CTimmerman commented on #396
INI is also used by Python's `setup.py` which isn't quite replaced by `pyproject.toml` yet. TOML sits between INI and YAML in complexity. Bandit supports TOML and YAML via `--config`, but INI only works with `--ini` for no apparent reason.

https://github.com/PyCQA/bandit/issues/317#issuecomment-1221275052

[2022-08-20 14:20] djbrown commented on #767
#435 was falsely closed as invalid some time ago..
defusedxml.lxml is deprecated.
bandit should make smarter checks or at least stop suggesting defusedxml.lxml

AFAIK lxml actually provides secure parsing by now, users just have to apply it correctly.

[2022-08-20 14:29] djbrown commented on #767
also #261 was closed as completed - but it isn't
and #716 seems to be a more specific duplicate of this one.
I suggest discussing in this issue, since it's about lxml as a whole..
@ericwb can you confirm this is a valid issue after all?

[2022-08-20 14:39] djbrown commented on #767
Assessment of lxml (see defusedxml/README):
- Lxml is protected against billion laughs attacks and doesn't do network lookups by default.
- libxml2 and lxml are not directly vulnerable to gzip decompression bombs but they don't protect you against them either.
- Library has (limited) XInclude support but requires an additional step to process inclusion.

Bandit could check for insecure use of lxml

[2022-09-04 00:24] noliverio commented on #936
This is interesting. If no one else if working on this I would like to take a crack at it.

[2022-09-05 09:15] shtalinberg commented on #657
Release 1.7.4  - not resolved (

[2022-09-06 09:43] hrantzsch commented on #942
I'm facing the same issue using Bandit 1.7.4 with Python 3.10.4. Here's another minimal example for repro:
[code]

`bandit -v test.py` says `WARNING	nosec encountered (B605), but no failed test on line 3` while it will report B605 if I remove the `# nosec`.

<details><summary>full log</summary>
<p>

[code]
</p>
</details>

However, the **problem does not occur if I remove `.read()`**. (It continue

[2022-09-06 10:49] meuzgebre commented on #643
@dugdug36
It's actually easy bandit has an exclude command `-x`.
example:
[code]
This command will scan all files in `my_project` dirctory except for .bandit

[2022-09-07 22:22] jasonho-lynx commented on #573
Note that it won't work if there's a space after the comma (maybe it's written somewhere):
[code]

[2022-09-13 14:31] kobiche commented on #447
Any update? I find this extremely useful

[2022-09-14 13:58] clavedeluna opened #948 "Bandit should deprecate xml.etree use"
### Describe the bug

Bandit is using xml.etree which is not recommended.

### Reproduction steps

[code]

### Expected behavior

Replace this with `defusedxml`

### Bandit version

1.7.4 (Default)

### Python version

3.8

### Additional context

_No response_

[2022-09-26 17:02] benharvie opened #949 "Create SECURITY.md"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@sim4n6) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a securit

[2022-10-02 14:11] emcd opened #951 "Bandit broken via `stevedore` dependency with `importlib-metadata>=5`."
### Describe the bug

Bandit depends on the `stevedore` package for extension management. That package, in turn, depends on `importlib-metadata` for the entrypoints mechanism that it uses. `importlib-metadata` 5.0.0 was recently released and [apparently removed compatibility](https://github.com/python/importlib_metadata/commit/009ace37032742922d5fa04c62f04cea703ade2d) with the mechanism used by `s

[2022-10-02 14:42] emcd commented on #951
`pip freeze` shows that `stevedore==3.5.0` is installed on Python 3.7. `stevedore>=4` has a fix in it, but it is only supported on Python 3.8 and higher. Bandit says that it still supports Python 3.7, so I guess the onus is on Bandit to decide how to handle the Python 3.7 case with `stevedore`.

[2022-10-04 14:56] Stidog commented on #447
Any update? I find this extremely useful as well

[2022-10-05 02:27] muaz-jasman opened #953 "Bandit throwing error on Python 3.7"
### Describe the bug

Bandit throwing error on Python 3.7.X

When I try to run Bandit (bandit==1.7.4) using Python version 3.7.X , I get an error "Error: Process completed with exit code 1."
Running the scanner on Python 3.8 and above works just fine but not 3.7. We know that the latest bandit no longer supported python 3.6 and below.

Error Message:

[code]
During handling of the above exception,

[2022-10-05 07:35] mportesdev commented on #953
Hi @muaz-jasman, this seems to be the same issue as reported in #951. I already opened a pull request #952 to fix this.

[2022-10-05 07:52] mportesdev commented on #951
Hi @emcd thanks for pointing this out. The problem has already been reported at https://bugs.launchpad.net/python-stevedore/+bug/1991559

I wonder if a fix will be incorporated in stevedore 3.x as well as 4.x

[2022-10-05 12:42] emcd commented on #951
Thanks for the update @mportesdev. I wasn't sure if it was worth reporting upstream, since it looked like they didn't care about Python 3.7 anymore. But, I'm glad someone else did report it. I see that they have ported the fix to various code-named OpenStack releases (`wallaby`, `xena`, `yoga`, `zed`); hopefully that will include a backport for `stevedore` 3.x (and hence Python 3.7).

[2022-10-05 13:43] kszmigiel commented on #951
@emcd thank you for creating this issue, I was tearing my hair out since yesterday as I couldn't find the reason behind this. Do you think updating the whole app to python 3.8 will help? Unfortunately I can't wait for official fix, and can't skip bandit check either.

[2022-10-05 17:59] emcd commented on #951
@kszmigiel : I agree with @mportesdev. No need to upgrade to Python 3.8 for this. You could just put `importlib-metadata<5` into your `requirements.txt` or equivalent until upstream fixes or Michal's patch is applied to Bandit. This will give you consistency across all your versions of Python, since it is unlikely that anything actually requires `importlib-metadata` >= 5 yet.

[2022-10-14 17:25] #951 closed

[2022-10-14 17:39] mcdonnnj commented on #951
@emcd I'm seeing a failure to load tests when running on Python 3.7 on `stevedore` 3.5.1 (new release). Are you seeing expected functionality with that release on `importlib-metadata` 5.0.0?

[code]

[2022-10-14 18:13] mcdonnnj opened #956 "Tests do not load on Python 3.7 with `importlib-metadata` 5.0.0 and `stevedore` 3.5.1"
### Describe the bug

[Jump to workaround](#workaround)

While the release of [stevedore](https://github.com/openstack/stevedore) [`3.5.1`](https://github.com/openstack/stevedore/releases/tag/3.5.1) appears to have resolved the problems reported in #951 and #953 I am seeing a new problem when using the following on Python 3.7:

[code]

I get the following:

[code]

In comparison in the same direct

[2022-10-14 22:46] emcd commented on #951
Good catch, @mcdonnnj . When I tested earlier, I was in a hurry and saw that `bandit --version` no longer crashed and thought we were good. But, I can reproduce the same problem as you. Definitely looks like a bug. Thanks for opening a new issue. I will upvote.

[2022-10-14 22:59] emcd commented on #956
For those wondering what the workaround is this time; it is the same as for the previous problem: `pip install bandit 'importlib-metadata<5'` or equivalent.

[2022-10-17 07:20] mportesdev commented on #956
Reproduced with bandit 1.7.4 on Python 3.7.15. The output of `bandit --help` ends with an empty list of tests:

[code]

That means the plugin discovery is broken.

After running `pip install 'importlib-metadata<5'` the plugins are discovered correctly.

[2022-10-17 08:29] mportesdev commented on #956
So I did some stepping in the debugger and found that this line:
https://github.com/openstack/stevedore/blob/3.5.1/stevedore/_cache.py#L188
assigns an empty list to `group_data` on all three occasions (i.e. for formatters, plugins and blacklists) with `importlib-metadata>=5`.

[2022-10-17 08:33] mportesdev commented on #956
The reason is that the structure of the cached data in `~/.cache/python-entrypoints` has changed. For example, with importlib-metadata 4.1.3 there are the three groups `bandit.blacklists`, `bandit.formatters` and `bandit.plugins` as expected by bandit:

[code]

However, with importlib-metadata 5.0.0 this grouping is gone. Everything is mixed together in one dict:

[code]

[2022-10-18 17:46] waynew commented on #956
How do we sort this out if we're using pre-commit hooks?

[2022-10-18 17:53] waynew commented on #956
Looks like [pre-commit's additional_dependencies](https://pre-commit.com/#repository-local-hooks) work here. For us:
[code]

[2022-10-23 04:41] AbdealiJK opened #960 "Bandit with python 3.6 cannot be installed"
### Describe the bug

Installing bandit with python 3.6 throws an error.

### Reproduction steps

[code]
[code]

[2022-10-23 13:53] AbdealiJK commented on #960
After discussing with some folks at pantsbuild - I realized the issue was pip version. When I create a venv - the pip version is quite old by default

[code]

Doing: `venv/bin/pip install -U pip` got me pip 21.3.1 which works fine

[2022-10-23 13:53] #960 closed

[2022-10-23 20:42] adam-grant-hendry opened #961 "UnicodeError Parsing TOML"
### Describe the bug

**NB:** _Using branch_ `main` _(specifically, version_ `1.7.5.dev60`_) instead of version_ `1.7.4` _resolves this issue. Please read below, including the_ `Additional context` section.

Similar to Issue #362, fixed in [PR #364](https://github.com/PyCQA/bandit/pull/364), `bandit` does not decode Unicode on Windows since Windows defaults to `cp1252` encoding.

This was first no

[2022-10-23 20:48] adam-grant-hendry commented on #961
Feel free to close this as "to be resolved in future version", or something similarly appropriate, if applicable. Also feel free to incorporate in `CHANGELOG` for next revision, if applicable.

[2022-10-24 07:22] mportesdev commented on #956
@mcdonnnj please close this issue if you don't reproduce it with Python 3.7 + stevedore 3.5.2.

[2022-10-24 07:26] mportesdev commented on #953
Problem fixed in stevedore 3.5.2
@muaz-jasman please close this issue if you don't reproduce it with Python 3.7 + stevedore 3.5.2.

[2022-10-25 13:11] krishan711 opened #962 "Allow using test_name in custom formatter"
**Is your feature request related to a problem? Please describe.**
It would be great if we could use the `test_name` field in the custom formatter (https://github.com/PyCQA/bandit/blob/main/bandit/formatters/custom.py). It is used in other formatter like the csv formatter (https://github.com/PyCQA/bandit/blob/main/bandit/formatters/csv.py#L58)

**Describe the solution you'd like**
For text_name to

[2022-11-02 21:22] mpas commented on #693
Is there any work around for this issue? I tried using ini, yaml etc.. but the exclude settings (also exclude_dirs in yaml) seems not to work.

[2022-11-03 04:32] mpas commented on #499
Running into the same problem. Tried all combinations of ini, pyproject, yaml. Unable to exclude. Can this issue be reopened?

[2022-11-03 04:53] mpas opened #966 "Unable to exclude directories when running the CLI"
### Describe the bug

When trying to run Bandit using the CLI and providing a `ini`, `pyproject` or `yaml` file for the configuration the **exclude** option is not working.

### Reproduction steps

[code]
Run using `bandit -r .`

[code]
Run using `bandit -c pyproject.toml -r .`

[code]
Run using `bandit -c bandit.yaml -r .`

In my case due to the use of `assert` statements i need to process all th

[2022-11-03 05:45] mpas commented on #457
I am facing the same issue, is there a way to exclude B101 in the /tests folder? I tried to use the `assert_used` but this does not seem to work.

[2022-11-09 16:57] mcdonnnj commented on #956
Circling back to this I can confirm that in a 3.7 (3.7.15 specifically) testing venv I have no issues with a fresh install of `bandit` which pulls in `stevedore` 3.5.2.

[2022-11-09 16:57] #956 closed